[2022-10-19 09:19] adrianthedev commented on #1331
Yup. It's a bug. We gotta clean up the artifacts somehow.

If you have any experience with stimulus JS and custom js plugins, we're open for PRs.

Thanks for reporting.

[2022-10-19 11:08] iainbeeston commented on #1330
No, I’m afraid I don’t have time outside work and or at work right now 🙁 If you could fix it that would be great!

[2022-10-19 12:51] adrianthedev commented on #1249
Hey @dhnaranjo, give [`2.17.1.pre.1.zeitwerk.eager.load.dir`](https://rubygems.org/gems/avo/versions/2.17.1.pre.1.zeitwerk.eager.load.dir) a try and let me know if the issue persists.

Please add `zeitwerk`'s  master branch to your `Gemfile`.

[code]

[2022-10-19 13:02] rajaravivarma-r commented on #1230
Commenting to keep this ticket open.

[2022-10-19 15:22] adrianthedev commented on #1230
Hey @rajaravivarma-r. I think I figured it out.
It's related to the fact that I keep some global things on class attributes and that messes up concurrent requests.

The temporary fix is to use just one thread in puma. Doing that will decrease your app's throughput so it helps if you bump up the `workers` value.

[code]

I am working on refactoring that class attributes and make Avo more thread-saf

[2022-10-19 16:11] mighani opened #1334 "When one item is present in a filtered table, the filters panel becomes obstructed"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Apply a filter to an index view
2. Avo shows one row
3. The panel is messes up the gui

### Expected behavior & Actual behavior
The filter div should be fully visible. Actually a scrollbar is created

### Models and resource files
project_resource.erb

[code]

Filter Configuration
[code]
### System configuration
**Avo

[2022-10-19 23:33] jpalley opened #1336 "URL "type""
### Context
I've got a field that holds a url (it's validated with validate_url gem). I'm using "format_using"

`format_using: ->(value) { "<a href='#{value}' target='_new'>#{value}</a>".html_safe } `

 to make the url clickable in the index/show views.  This works for index/show/edit.  But it doesn't work for new. For new, the text field is formatted with the "format_using" html as generated abov

[2022-10-20 07:49] iainbeeston opened #1337 "Cannot remove uploaded files"
### Describe the bug

Whenever I try to delete any attached file from a resource, I hit a 404 error. I've been able to reproduce the error in a demo app [here](https://github.com/iainbeeston/avo-delete-files)

### Steps to Reproduce
Steps to reproduce the behavior:

1. Check out https://github.com/iainbeeston/avo-delete-files (which has a single resource with a file field defined as `field :photo,

[2022-10-20 08:00] adrianthedev commented on #1230
I asked a question here https://github.com/ioquatix/ioquatix/discussions/17. If you have any ideas, please, let's get that conversation going.

[2022-10-20 08:02] adrianthedev commented on #1337
Yes. There's a PR ready to be merged. It will be fixed by the next release.

[2022-10-20 08:03] rajaravivarma-r commented on #1230
Hey @adrianthedev, thanks. This happens rarely that I'll keep the concurrency as it is.

I'll see what I can contribute for the conversation at ioquatix.

[2022-10-20 08:08] adrianthedev commented on #1336
You have access to the `view` object inside the block. Can you do `format_using: ->(value) { "<a href='#{value}' target='_new'>#{value}</a>".html_safe if view != :new }`

Closing for now. Feel free to reopen it if it's still an issue.

[2022-10-20 08:08] #1336 closed

[2022-10-20 08:16] rajaravivarma-r commented on #1331
@adrianthedev This bug is preventing us from going with the upgrade. Could you please point me to a place where the *artifacts* are, so that I can give a shot at fixing it?

[2022-10-20 08:27] adrianthedev commented on #1331
### Approach

The issue is that the js plugin (`autocomplete` found in `search_controller.js`) is not properly cleaning up the input when the user navigates away from the page.

What I'd look into is running the [`destroy`](https://www.algolia.com/doc/api-client/getting-started/update/javascript/?client=javascript#the-destroy-method) method on the autocomplete js plugin. That should reset things t

[2022-10-20 09:17] rajaravivarma-r commented on #1331
Cool. I'll see if I can fix this.

[2022-10-20 09:27] #1337 closed

[2022-10-20 10:48] #1289 closed

[2022-10-20 11:44] mighani opened #1338 "Deleting attachment is broken?"
### Describe the bug

I upload an attachment with active storage local service. On digital ocean service, it's the same behavior.
This works. But deleting the attachment does not. It deletes the attachment in the active_storage_attachments table but not in the active_storage_blobs. Also an error message occurs in the UI.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Upload an attachm

[2022-10-20 11:45] adrianthedev commented on #1338
Fixed in https://github.com/avo-hq/avo/pull/1309

The attachment gets deleted but the redirect is broken.
It will be out in the next release.

Thanks for reporting🙏

[2022-10-20 11:45] #1338 closed

[2022-10-20 14:27] #1331 closed

[2022-10-20 14:50] #1334 closed

[2022-10-20 15:33] rajaravivarma-r opened #1341 "Timestamps are rendered with UTC timezone."
### Describe the bug
Before upgrading to 2.17.1.pre.3, the timezone values were correctly set to `Asia/Kolkata`, now after the upgrade it show `UTC`, though I have made no changes except upgrade to this version.
The formatting string I use is `MMMM dd, y HH:mm z`

Is there a way to just have it format via Ruby, without having to create a custom field. Our app works only for users within India, at

[2022-10-20 15:35] rajaravivarma-r commented on #1341
Hey @adrianthedev, sorry, the upgrade brought a bug. If. you can think of a quick fix for this, then it would be really helpful for us to go live with the upgrade, reverting the upgrade is not an option since we have put in a lot of work to make it work.

[2022-10-20 16:25] adrianthedev commented on #1341
Hey @rajaravivarma-r. Not sure from what version you upgraded from, but we changed the `format` option a while back. The formatting is being done in the browser to support the browser's timezone.
So you must use [luxon](https://moment.github.io/luxon/#/formatting?id=table-of-tokens)'s tokens to format it.

[Docs](https://docs.avohq.io/2.0/fields/date_time.html)

[2022-10-20 16:34] rajaravivarma-r commented on #1341
Ah! it is the same thing. The `z` in the format string (`MMMM dd, y HH:mm z`) should have displayed `Asia/Kolkata`, but instead it displays UTC.

[2022-10-20 16:36] adrianthedev commented on #1341
Hmmm, I don't get it now. Is the time value correct?

[2022-10-20 17:06] rajaravivarma-r commented on #1341
Yeah, it is the same code. I'll clear up the cookies and check.

[2022-10-20 17:18] rajaravivarma-r commented on #1341
I can confirm that it only happens with version `2.17.1.pre.3`. It works fine with `2.17.0`.

[2022-10-20 17:26] adrianthedev commented on #1341
Ok. And what values can you see in each version? Can you share one record in both versions please?

[2022-10-20 18:10] rajaravivarma-r commented on #1341
Here is the recording. It might seem like I'm upgrading from 2.16.0, but I tried with 2.17.0 as well, and the results are the same.

https://user-images.githubusercontent.com/1841235/197024644-ebe74678-efe7-4936-8a66-b3c29257c72f.mp4

[2022-10-20 18:10] rajaravivarma-r commented on #1341
That would be awesome.

[2022-10-20 18:31] adrianthedev commented on #1341
Cool. It will probably be up tomorrow, not tonight. Thanks for the recording

[2022-10-20 18:44] rajaravivarma-r opened #1342 "Loading some has_many associations stuck in redirect"
### Describe the bug
Loading some `has_many` associations gets stuck in a loop.

Let us say I have a `InvestorResource` which `has_many` `BankAccountResource`, then loading the `BankAccounts` gets stuck in  a loop of redirection.

Some of the has_many resources loads just fine, some doesn't.

### Expected behavior & Actual behavior
It should be loaded. It doesn't load.

### Models and resource fil

[2022-10-20 18:54] adrianthedev commented on #1342
Are you using an authorization policy for `Investor`? If yes, add this and see if that helps.
[code]

[2022-10-20 18:55] rajaravivarma-r commented on #1341
Okay!

[2022-10-20 19:20] rajaravivarma-r commented on #1342
I understood the problem. There is a `def view_bank_accounts? false end` in `ApplicationPolicy`, but I override that in `InvestorPolicy`.

If I return `true` from `ApplicationPolicy#view_bank_accounts?`, then it loads just fine. Do you know why the override didn't take preference?

[2022-10-20 19:40] jrnk opened #1343 "`default` option on field does not work on actions"
### Describe the bug
Default value is not working for fields in actions, you can see it in the demo:
https://github.com/avo-hq/avodemo/blob/main/app/avo/actions/toggle_active.rb#L5
and trigger the action on a resource:
https://avodemo.herokuapp.com/avo/resources/users

### Steps to Reproduce
Steps to reproduce the behavior:
1. Create an action `bin/rails generate avo:action toggle_inactive`
2. Add

[2022-10-21 07:31] rajaravivarma-r commented on #1342
I understood the problem. In the `authorize_if_defined` method, the `policy_class` is set to `BankAccountPolicy` rather than the parent model policy `InvestorPolicy`.
Since `BankAccountPolicy` inherits from `ApplicationPolicy`, it has `view_bank_accounts?` set to false, which triggers the `NotAuthorized` exception and subsequently the redirect.

Contrarily, the `get_items` in lib/avo/concerns/has_

[2022-10-21 07:37] adrianthedev commented on #1342
[I think there is a bug](https://github.com/avo-hq/avo/pull/1303) in the associations authorization.

[The PR](https://github.com/avo-hq/avo/pull/1300) that should fix it.

Try this [`2.17.1.pre.2.customauthorizationclients`](https://rubygems.org/gems/avo/versions/2.17.1.pre.2.customauthorizationclients) build and see if that fixes the `view_bank_accounts?` in the wrong policy issue.
This does not

[2022-10-21 07:37] adrianthedev commented on #1342
BTW, you arae right about _I think the view_bank_accounts? should be checked on the InvestorPolicy rather than BankAccountPolicy._

[2022-10-21 07:38] rajaravivarma-r commented on #1342
Sure. thanks for the prompt response. I'll check that.

[2022-10-21 07:45] rajaravivarma-r commented on #1342
Oops, I missed your statement about the `date-time` issue. I can't give up that fix. I'll do some kind of work around in our codebase for this fix, until a build is out.

[2022-10-21 07:47] adrianthedev commented on #1342
@rajaravivarma-r I can make a custom build for you to have both fixes. I just want you to test out this other build to see if it fixes this `view_bank_accounts?` issue.

So, to reiterate, if the `2.17.1.pre.2.customauthorizationclients` fixes the authorization issue, I'll merge it to the `date_time` branch to create a special build for you to work with.

[2022-10-21 07:50] rajaravivarma-r commented on #1342
Gotcha! I'll test that build.

[2022-10-21 08:01] rajaravivarma-r commented on #1342
@adrianthedev The build `2.17.1.pre.2.customauthorizationclients` fixes the problem and loads the has_many associations properly. But it breaks, if we have used `authorize(method)` in any custom controller inheriting from `Avo::ApplicationController`. I fixed it by adding `include Pundit::Authorization`.

Could you please make a build with the `Invalid DateTime` fix and `duplication autocomplete`

[2022-10-21 08:24] adrianthedev commented on #1342
Great. I'll have that build by the end of the day after I fix the date-time issue better. Is that ok?

[2022-10-21 08:31] rajaravivarma-r commented on #1342
It would be nice If you could let a build out earlier so that I can move ahead with deploying the fixes. I wouldn't urge, if it didn't affect the users, which increases the load on our support team. Hope you understand.

[2022-10-21 08:32] adrianthedev commented on #1342
Ok let me try and push this faster.

[2022-10-21 08:55] rajaravivarma-r commented on #1342
That would be great. Thank you!

[2022-10-21 09:26] adrianthedev commented on #1342
Hey @rajaravivarma-r. Please try this build https://rubygems.org/gems/avo/versions/2.17.1.pre.4.issue.1342

[2022-10-21 09:50] rajaravivarma-r commented on #1342
Will update you in a short while.

[2022-10-21 10:13] adrianthedev commented on #1342
@rajaravivarma-r heads-up, there might still be a few bugs around the date-time field, which https://github.com/avo-hq/avo/pull/1344 should fix. I'm actively working on that.

[2022-10-21 10:29] rajaravivarma-r commented on #1342
Hi @adrianthedev, It works well and the bugs are fixed. Thanks you!

Gotcha! I'll have a user code work around for this as a temporary fix.

[2022-10-21 10:29] #1342 closed

[2022-10-23 07:57] #1343 closed

[2022-10-23 08:44] #1341 closed

[2022-10-23 14:33] #1278 closed

[2022-10-24 12:51] Sweex99 opened #1351 "File field disappeared from Actions modal window"
### Context

Disappeared input of `file` type on `Actions` view. Screenshots below
### System configuration
**Avo version**: 2.17.0

**Rails version**: 7.0.4

**Ruby version**: 3.1.2

**License type**

 - [X] Community
 - [ ] Pro

**Are you using Avo monkey patches or overriding views or view components?**

 - [ ] Yes. If so, please post code samples.
 - [x] No

### Screenshots or screen recording

[2022-10-24 13:38] adrianthedev commented on #1351
This might happen if you apply this action to a resource where you use authorization.
If that's correct, then, you need to tweak the `upload_attachments?` on that policy to allow when you run an action.

[code]

[Docs](https://docs.avohq.io/2.0/authorization.html#upload-attachments) on that.

[2022-10-24 14:04] adrianthedev commented on #1351
Closing for now. Please feel free to reopen if it persists.

[2022-10-24 16:41] nicholaswellens opened #1352 "Visibility of fields under tabs not working as intended"
### Describe the bug
1) `visible` attribute on field definition has no effect when inside tabs.
2) `only_on` is not working for fields that are inside panels within tabs.

### Steps to Reproduce

1)

- Add a field under a tab, with `visible` block
![image](https://user-images.githubusercontent.com/18333645/197555546-8ec80fc6-eecf-4c18-8ed9-58a74fbde26f.png)
- Check show page:
![image](https://user

[2022-10-24 18:15] adrianthedev commented on #1283
I think this has been fixed in https://github.com/avo-hq/avo/pull/1300.

[2022-10-24 18:15] #1283 closed

[2022-10-24 19:07] elassadi opened #1353 "Visibility lambda/proc provided for a field in a sidebar is ignored"
### Describe the bug

Inside a sidebar declaration of a resource, field visibility lambda will not be called

### Steps to Reproduce
Steps to reproduce the behavior:
1. Checkout demo repo at https://github.com/elassadi/avo-demo

[code]

### Expected behavior & Actual behavior

Field updated_at should not be visible in the sidebar

### Models and resource files

### System configuration
**Avo versi

[2022-10-25 06:10] adrianthedev opened #1354 "Dashboard authorization"
### Context

We currently don't have any real methods to authorize dashboards. The developer can only hide the link from a user if they want to keep it hidden.

[2022-10-25 06:11] adrianthedev opened #1355 "Custom tools authorization"
### Context

We currently don't have any real methods to authorize tools. The developer can only hide the link from a user if they want to keep them hidden.

[2022-10-26 09:30] adrianthedev opened #1361 "Asset `placeholder.svg` was not declared to be precompiled in production"
### Describe the bug

Because we use the `image_tag` [here](https://github.com/avo-hq/avo/blob/main/app/components/avo/index/grid_cover_empty_state_component.html.erb#L2) and we don't expose our asset pipeline to the parent app, the placeholder svg is not found and raises an error.

### Reproduction

1. On avodemo
2. Go to posts
3. set a post without a cover image
4. see avo crash

### Approach

M

[2022-10-26 09:50] adrianthedev opened #1362 "Sidebar supports `panel`s"
### Feature

We need a nice way to support the `panel` declaration in the sidebar.

Pseudo code:

[code]

### Current workarounds

There aren't any right now.

### Screenshots or screen recordings

![CleanShot 2022-10-26 at 12 48 27](https://user-images.githubusercontent.com/1334409/197994697-7e293abd-cd08-4a46-b86d-ffb7c322adee.jpg)

### Approach

We can re-use some of the code in the [ItemSwitch

[2022-10-26 09:56] adrianthedev opened #1363 "Support global resource sidebar"
### Feature

Right now, the resource sidebar is being applied only on the main panel. If you add more panels or tabs, the sidebar will not flow next to all of those panels to the bottom and **encapsulate all the panels declared in the resource**.

We need to add a toggle to make the sidebar "global" for the resource.

Pseudo-code:

[code]

### Before

![CleanShot 2022-10-26 at 12 53 14](https://us

[2022-10-26 10:32] angel-checkealos opened #1364 "Application with 'card' resource"
### Describe the bug
In my application I have a model called 'card'. I have found the next issue:
When I create a dashboard and a card for the dasboard everything work fine, but when I try to load the dashboard page in console I get the next.

[code]
On the other hand the console log the next:
[code]
Where `admin_dashboard` is the id of my new dashboard

### Steps to Reproduce
Steps to reproduce t

[2022-10-26 10:43] adrianthedev commented on #1364
can you please post the error thrown here?

`12:21:45 web.1  | Completed 500 Internal Server Error in 69ms (ActiveRecord: 62.2ms | Allocations: 5720)
`

[2022-10-26 11:05] angel-checkealos commented on #1364
In the fresh application (created without test) the 500 error is:
[code]
but in my application with test (**NOTE: My appliaction is running on docker**), the error is:
[code]

[2022-10-26 12:33] alice-github-admin opened #1365 "Search input freezing and flickering"
### Describe the bug

hitting browser back button in the show view of a global search hit:
- search input is still visible without any function

hitting resource back button in the show view of a resource search hit:
- resource search input flicker before going invisible

### Steps to Reproduce
Steps to reproduce the behavior:
1. goto https://avodemo.herokuapp.com/users/sign_in
2. search for a res

[2022-10-26 12:36] elassadi opened #1366 "Search input freezing and flickering"
### Describe the bug

hitting browser back button in the show view of a global search hit:
- search input is still visible without any function

hitting resource back button in the show view of a resource search hit:
- resource search input flicker before going invisible

### Steps to Reproduce
Steps to reproduce the behavior:
1. goto https://avodemo.herokuapp.com/users/sign_in
2. search for a res

[2022-10-26 14:35] lukasedw opened #1367 "I can't use helper methods of Pundit"
### Describe the bug
I cannot use the default helpers of Pundit on views, for example `policy_scope(Event)`
I saw that `include Pundit::Authorization` was removed from Avo::ApplicationController, if I include it in each controller it works again.

### Steps to Reproduce
Just add `policy_scope()` in any view and try to use it.

### Expected behavior & Actual behavior

### Models and resource files

[2022-10-26 19:31] adrianthedev commented on #1365
Are you interested in contributing with a PR to fix this?

[2022-10-26 19:40] adrianthedev commented on #1367
Hmmm... You're right. We should add it back.

Until then, please add this somewhere in your code (can be `avo.rb` initializer).

[code]

Thanks!

[2022-10-26 19:53] #1367 closed

[2022-10-26 19:55] adrianthedev commented on #1366
Closing in favor of #1365

[2022-10-26 19:55] #1366 closed

[2022-10-26 20:37] adrianthedev opened #1370 "Filter out readonly fields server-side"
### Describe the bug

There's a security issue here. If the developer marks a field as read-only, and a bad actor goes into the DOM and removes the `disabled` attribute, they could still update that model attribute on submission.

We should filter out those inputs server-side.

From [here](https://discord.com/channels/740892036978442260/740893011994738751/1034792523098505277).

**License type**:

[2022-10-27 09:14] adrianthedev opened #1371 "select field not working"
From [here](https://github.com/avo-hq/avobookr/issues/1).

### Describe the bug

Cloning and running the example application in the repo - when setting a value via a select field, it does not get displayed later on even though all values are properly set in the database. This happens for both, the version 2.7 of avo, as well as for the latest (2.18).

### Steps to Reproduce
Steps to reproduce the

[2022-10-27 10:02] adrianthedev commented on #1364
Yes, there's a conflict with `CardsController` from the resource and the dashboard.

We'll think about how to fix this in the following days.

[2022-10-27 16:47] #1364 closed

[2022-10-28 11:53] jmarsh24 opened #1374 "attach_{association}? not working"
### Describe the bug
If you create a parent resource with a has_many association then add an attach_{association}? policy on the parent pundit policy then it doesn't remove the attach {resource}? button.

### Steps to Reproduce
https://gist.github.com/jmarsh24/97552e35807d03df16ba17270d09772c

### Expected behavior & Actual behavior
Adding false to attach_{association}? in pundit should remove the

[2022-10-28 14:48] adrianthedev commented on #1374
Hey @jmarsh24 can you try the plural name please `def attach_scenes?` instead of `def attach_scene?`?

The `{association}` part refers to the exact key you called for the field name.

Example: for `field :pickers, as: :has_many` the policy method would be `attach_pickers?`.

The reasoning is that you might as well have a `has_one` `:picker`, and the method for that would be `attach_picker?`

[2022-10-28 15:02] jmarsh24 commented on #1374
@adrianthedev I have tried both plural and singular and neither work. 🤔

[2022-10-28 15:13] adrianthedev commented on #1374
@jmarsh24 can you try Avo 2.18? We pushed some changes that should fix that.

[2022-10-28 15:20] jmarsh24 commented on #1374
It's still an issue on 2.18

[2022-10-28 15:22] adrianthedev commented on #1374
Hmmm. That's weird.

I just tested it on local and the attach button disappears like it should.

Please create an app to reproduce that issue so I can have a look.

[2022-10-29 16:07] #1361 closed

[2022-10-29 16:52] #1370 closed

[2022-10-29 16:55] #1353 closed

[2022-10-29 19:37] Paul-Bob commented on #1371
@adrianthedev any clue where is the issue? This was working with the same code right?!

[2022-10-29 19:38] adrianthedev commented on #1371
Hmm. Not sure. Can you ask the OP?

[2022-10-29 19:45] adrianthedev commented on #1371
Hmmm. Maybe try and replicate the field in the dummy app? Maybe we hit the issue?

[2022-10-30 19:18] Paul-Bob commented on #1352
Hello @nicholaswellens , thank you for the detailed issue! we've been working on this and it should be fixed on the next release.

[2022-10-30 21:37] #1352 closed

[2022-10-31 08:43] Bergrebell commented on #1371
it looks like it's some issue with displaying the enum. we could print the integer.

[2022-11-01 07:56] adrianthedev opened #1382 "Settings panel"
### Feature

A place where users can safely update global settings for an app.

### Current workarounds

### Screenshots or screen recordings

### Additional context

[2022-11-01 07:56] adrianthedev opened #1383 "Buttons on dashboards"
### Feature

We need a place where the user can run global actions.

### Current workarounds

### Screenshots or screen recordings

### Additional context

[2022-11-01 21:04] nkriege commented on #1365
I'm not the OP, but I'd be happy to take a look at this.

[2022-11-02 13:10] #1365 closed

[2022-11-02 18:01] Annedj opened #1386 "Attachment uploads with Trix - bug with `force_locale`"
### Describe the bug

We are using Avo for our admin with multilingual content, and have set up a **blog post resource** using **Trix**, with attachment uploads.
This works well when adding an attachment from the `edit` page.

However, if there is a locale forced in the `edit` page URL (which is often the case as we are handling seven different locales) - for instance: `/admin/resources/posts/1125

[2022-11-02 19:40] adrianthedev commented on #1374
Closing for now. Feel free to reopen if the issue is still there.

[2022-11-02 19:40] #1374 closed

[2022-11-02 20:11] adrianthedev commented on #1386
Thanks for writing @Annedj.

This will be fixed in the next release.

[2022-11-03 08:13] Annedj commented on #1386
That's great, thanks for the fast answer!

[2022-11-03 09:50] #1386 closed

[2022-11-03 13:04] #1253 closed

[2022-11-03 13:50] adrianthedev commented on #1271
Hey @tiffanynk. Apologies for the long wait. @Paul-Bob had some issues with his computer for the past few weeks. He's coming back at the end of the week and this is the main task on his plate.

[2022-11-03 15:57] dhnaranjo opened #1390 "Multi-line field help text"
### Feature
Currently rendered field help to not respect line breaks, so `this\nbit\nof\text` would render as `this string of text`. I believe it should render as:
[code]

Maybe render markdown even?

### Current workarounds
I created a Resource Tool with the instructions I would have put in the field help, but this is, I feel, a heavy solution.

### Screenshots or screen recordings
<img width="51

[2022-11-03 16:09] adrianthedev commented on #1390
The `help` field should take html content so you can use `<br />`.

[code]

![CleanShot 2022-11-03 at 18 08 59](https://user-images.githubusercontent.com/1334409/199773589-9aec0629-a1a4-4398-9ac9-e01c1999475a.jpg)

[2022-11-03 16:39] dhnaranjo commented on #1390
Neat. I could put together a lil markdown processing helper to do the lifting for me. Think I'll do that and maybe you'll wanna incorporate it. Plz hold.

[2022-11-03 16:55] adrianthedev commented on #1390
Sure! I was going to propose that. Send it our way please!

[2022-11-03 18:13] katafrakt opened #1394 "Installing Avo breaks projects already using breadcrumbs"
After adding Avo to a project where I already used a bredcrumbs gem ([Gretel](https://github.com/kzkn/gretel)), the project breaks, because Avo pulls `breadcrumbs_on_rails`, which defines same methods as Gretel, but with different arity.

This happens because `breadcrumbs_on_rails` [fearlessly patches](https://github.com/weppos/breadcrumbs_on_rails/blob/12962e873cce8864a53e01d3d54dc0a299897f5e/lib

[2022-11-03 19:09] dhnaranjo commented on #1390
So this right here handles my needs, but maybe this is more of a recipe than a built-in thing? I dunno, you tell me.

[code]

With field defined as

[code]

Resulting in:
<img width="632" alt="image" src="https://user-images.githubusercontent.com/536280/199812265-266f0294-9afc-4283-8181-9a7d8c5ebf4e.png">

[2022-11-03 20:21] adrianthedev commented on #1394
Thanks for writing @katafrakt. I agree that we don't use that gem too much.

I'm open to merging a PR that eliminates `breadcrumbs_on_rails` from Avo. Thank you for offering!

[2022-11-04 09:17] #1330 closed

[2022-11-04 10:35] adrianthedev commented on #1390
Maybe we shouldn't add it as of yet to the `main` branch. I added it as [a recipe](https://docs.avohq.io/2.0/recipes/use-markdown-in-help-attributes.html) on the docs until we figure out a better distribution strategy.

Thanks for sharing @dhnaranjo! As always, a great help!

[2022-11-04 10:35] #1390 closed

[2022-11-07 09:45] #1314 closed

[2022-11-07 17:10] nkriege opened #1407 "Add ability to completely customize destroy_user_session_path"
### Feature
Loving Avo so far! We ran into a small issue with the sign-out menu item though. We don't use Devise, and so our sign-out path does not follow the pattern of `destroy_*_session_path`. This means that we cannot configure the link by just setting `current_user_resource_name`. We would benefit from having the ability to customize the entire `destroy_user_session_path`.

Would you be inter

[2022-11-07 17:12] adrianthedev commented on #1407
YES! We would be interested in a PR that would fix that bad design decision we took in the beginning.

Thank you!

[2022-11-07 17:42] nkriege commented on #1407
Ok, I'll take a crack at this. I'll of course leave `current_user_resource_name` in place so that the change will be backwards compatible. I'm thinking of adding a `destroy_user_session_path` setting that would take priority and would take the full name of the path.

As an aside, I found it slightly confusing that `destroy_user_session_path` refers to the *name* of the path and not the url path it

[2022-11-07 18:08] adrianthedev commented on #1407
That's the approach I was thinking about. Thanks

I'm thinking... maybe call the configuration option `sign_out_path_name`? Do you think it's a good name or should we stick to the devise way fo doing it?

[2022-11-07 18:10] nkriege commented on #1407
That sounds good to me. I'll leave the method name unchanged, but call the configuration option `sign_out_path_name`.

[2022-11-08 09:23] adrianthedev opened #1412 "Better image uploads"
### Feature

Add drag-and-drop image uploader.

Maybe https://pqina.nl/filepond/

### Current workarounds

### Screenshots or screen recordings

### Additional context

[2022-11-08 10:29] adrianthedev opened #1413 "Collaboration tools"
### Feature

TBD. Maybe chat. Maybe some kind of status.

### Current workarounds

### Screenshots or screen recordings

### Additional context

[2022-11-08 11:16] #1407 closed

[2022-11-08 12:37] elassadi opened #1414 "Destroy record with generic errors, provided error messages are swallowed"
### when destroying a record, generic errors are shown

When a record is destroyed, the error message is generic.
<img width="818" alt="image" src="https://user-images.githubusercontent.com/1938264/200564197-8b37ba72-c6d6-45d6-b9d6-cc45e15a1431.png">
the actual errors messages are swallowed

### Steps to Reproduce
Steps to reproduce the behavior:
1- add any validation to prevent your model from de

[2022-11-08 14:18] adrianthedev commented on #1254
For `row` let's see if we can enable the user to add buttons before or after the fields using this DSL.

Ex:

[code]

[2022-11-08 16:20] Bergrebell opened #1416 "Load order of <script> tags unclear (unable to integrate google maps)"
### Context
 i want to integrate a google maps into avo via avo-tools following this guide here: https://betterprogramming.pub/integrate-google-maps-with-a-rails-app-5e5012e8cf16

i've created a avo:tool via `bin/rails g avo:tool map` and my `_head.html.erb` looks like this:

[code]

- then i've added the callback function initMap() to `avo.custom.js`

**Expected result:**
- the callback function

[2022-11-08 16:25] Bergrebell commented on #1416
this is the content of `avo.custom.js`

[code]

The logs only work because i call initMap() on the last line of the file. The callback in <script> does not call initMap at all.

[2022-11-08 16:33] mighani opened #1417 "@mention feature in trix editor"
### Feature

@Mention in trix editor
typing "@" opens a small window showing matching entries in a user table. I can navigate with cursor down or up, or type additional letters, which will narrow down the filter. Hitting enter will choose the user from the table and insert a mention of the user in the trix editor. Saving the model will then send out an email to the mentioned users.

### Current wo

[2022-11-08 17:10] adrianthedev opened #1418 "HTTP resource (Resource Adapters)"
### Feature

Right now Avo supports ActiveRecord, but we'd love to have adapters for other types of connections (`mongo`, `http`, `PORO`s)

I did an exploration into this in https://github.com/avo-hq/avo-3/pull/4

### Must have's:

 - [ ] support https://github.com/rails/activeresource
 - [ ] support custom HTTP endpoints with the option to customize where to fetch the data, page, per_page, etc. f

[2022-11-08 17:54] adrianthedev commented on #1417
I see. I haven't worked with trix that much and I'm not sure if it supports that kind of behavior.

I think the best way here would be to duplicate the Trix field and start to experiment and see if that @ dropdown can be added.

Otherwise, the only thing left would be to create a route and controller to return the users to you.

[2022-11-08 22:54] adrianthedev commented on #1416
So the issue here isn't with Avo. It's the order in which the browser loads and executes the JS content.

What's happening is that the script from Google gets executed before your script.
One way to fix it would be to add `defer="true"` to the maps script tag. This way, even if the browser loads the script, it will pause execution until the whole page is loaded (and your script too).

I managed to

[2022-11-09 08:19] adrianthedev commented on #1414
@elassadi can you share the validation that would prevent from destroying? I tried this callback on the model and it returned the error on the screen.

[code]

![CleanShot 2022-11-09 at 10 19 43](https://user-images.githubusercontent.com/1334409/200776351-829aa784-514d-4834-835a-d894a488ecd5.jpg)

[2022-11-09 08:23] adrianthedev opened #1419 "Belongs_to and has_one forms in the parent record form"
### Feature

Similar to https://github.com/avo-hq/avo/issues/1418 it would allow to support more than just Active Record models and create richer experiences with more flexibility on the UI side.

The gist is that we have a client that told us "A user is not a user in the database, but a collection of things. It has a profile attached, multiple addresses, and more models. We'd like to be able to e

[2022-11-09 08:40] angel-checkealos opened #1420 "Translation issues on resources"
### Context

### System configuration
**Avo version**: 2.18.0

**Rails version**: 7.0.4

**Ruby version**: 3.1.2

**License type**

 - [ ] Community
 - [x ] Pro

**Are you using Avo monkey patches or overriding views or view components?**

 - [x ] Yes. If so, please post code samples.
 - [ ] No

### Screenshots or screen recordings

# Translation issues on resources
I explain my issue  as deep as

[2022-11-09 08:55] adrianthedev commented on #1420
Not sure this way of nesting paths is supported in Avo.

Please read [this](https://docs.avohq.io/2.0/customization.html#mount-avo-under-a-nested-path) regarding nesting under a particular path and [this](https://docs.avohq.io/2.0/recipes/multilingual-content.html) for switching the locale temporary or permanently.

I advise you don't try to use that nested structure `/en/avo`|`es/avo`, but a regu

[2022-11-09 09:33] elassadi commented on #1414
[code]

[2022-11-09 10:33] elassadi commented on #1418
hi Adrian ,
We should have an open discussion about the approach if you need a sparing partner :)
I was thinking about the same, since not all our services are persisted in traditional Database, we are limited into the usage of avo as the backend tool of choice.
To make the developer experience simpler it would be awesome if avo supported a more generic data handling with
multiple adapter

I think

[2022-11-09 10:56] mighani commented on #451
is there any news on this issue. In 2.19.0 It's still the case.

[2022-11-09 11:22] mighani commented on #451
still can not figure out how to sort by the association

[2022-11-09 11:27] angel-checkealos commented on #1420
@adrianthedev I have seen your info. I like to use the `set_locale` para in the profile menu. I only want to translate view tags and signs, not model contents. I have one question, is it necessary to use `gem 'mobility', '~> 1.2.5'`?
This gem appears to be used to translate application contents.

[2022-11-09 12:21] angel-checkealos commented on #1420
@adrianthedev I continue with issues. I have removed the nesting locale on routes commenting scope for locale
[code]
I have add in `app/controllers/application_controller.rb` the next code:
[code]
in `config/initializers/avo.rb`:
[code]
`avo.en.yml` and `avo.es.yml` has not been modified. They are the same as above.

Now I get 2 URLs
`https://my-domain.com/avo/resources/my_resource?set_locale=en`

[2022-11-09 12:42] Bergrebell commented on #1416
Thanks a lot for you fast reply!

When doing so it loads the map when i directly visit it or do a reload in the browser. But when i navigate from another avo page without a reload it won't show up. Any ideas?

Also in general - would you recommend me to load it in the _head.html.erb or in the _pre_head.html.erb?

[2022-11-09 14:36] adrianthedev commented on #1416
Again, this is not related to Avo, but with how the JS is being loaded.

So you are creating a function `initMap` which you make global, so anyone can execute. Then you load up the gmap script which will execute that function.
The issue is that if you go on a different page than the one with the `#map` div, the function will get executed and the div will be inexistent (which is the error you'll se

[2022-11-09 14:36] #1416 closed

[2022-11-09 14:48] adrianthedev commented on #1420
First of all, make sure you are on the pro license and that the license key is properly set. This feature only works in the pro version.

Your questions👇

No. The `mobility` gem is not required to change the language of the tags.

You don't neet to add the `before_action :set_default_locale` in your `application_controller`. We have that in our controller.

Try the following. Go to `https://my-dom

[2022-11-09 15:12] adrianthedev commented on #1418
Yes. Definitely, I'd love to hear your thoughts and do some pairing together. I'll contact you on Discord to set something up.

[2022-11-09 15:18] adrianthedev commented on #1418
Regarding the roadmap, I definitely want to have this in for Avo v3.

[2022-11-09 16:26] Bergrebell commented on #1416
thanks again for the detailed answer @adrianthedev i really appreciate it!

is there any way to use a stimulus-controller inside of a `avo:tool`? i haven't found anything to it in the docs unfortunately.

initializing the map in a plain rails app works easily with stimulus. but i cannot get it to work in the avo-tool.

[2022-11-09 16:34] #1414 closed

[2022-11-09 16:49] adrianthedev commented on #1416
Hmmm. It should just work. The flow is like this.

1. Create a stimulus controller in a separate `_controller.js` file
2. register it in the app in `avo.custom.js`
3. In the tool's erb file you initialize the controller in the HTML with `data-controller="YOUR_CONTROLLER"`

Have a look at [this commit](https://github.com/avo-hq/main.avodemo.com/commit/34dc59b9b533235c4171dc9dcf0108388e9bdc93) where

[2022-11-09 17:21] adrianthedev commented on #1416
Here's a step-by-step guide.

https://docs.avohq.io/2.0/stimulus-integration.html#use-stimulus-js-in-a-tool

[2022-11-10 12:30] iainbeeston opened #1424 "Populate acts as taggable tagger fields"
### Feature
Acts as taggable provides "tagger_type" and "tagger_id" fields for the taggable table. So far as I can tell, avo doesn't set these when using the tags field (even though avo knows who the current user is). It would be great if avo could set these.

### Current workarounds

I'm not sure there is one?

### Screenshots or screen recordings

### Additional context

[2022-11-10 14:31] koppen opened #1425 "Zeitwerk::Error after upgrade to 2.19.0"
### Describe the bug

After upgrading our application from avo 2.18.1 to the recently released 2.19.0, we've started seeing

    Zeitwerk::Error in Avo::HomeController#index
    ~/app/avo/dashboards is not a directory

in all our Avo-resource paths. Reverting to 2.18.1 removes the error.

### Steps to Reproduce

Steps to reproduce the behavior:

1. Upgrade to 2.19
2. Start the server: `rails serve

[2022-11-10 14:33] adrianthedev commented on #1425
Please create a `dashboards` directory inside `app/avo` (`app/avo/dashboards`).

[2022-11-10 14:33] #1425 closed, assigned to nobody

[2022-11-10 14:39] koppen commented on #1425
Man, I thought I had tried that - turns out I spelled it `app/avo/dashbaords` 🤦‍♂️

Did I miss some upgrade instructions at some point where that was noted?

[2022-11-10 14:41] adrianthedev commented on #1425
No worries. It happens to me every week 😛

No, you haven't missed anything like that, but I'll update the upgrade guide anyways.
Not sure why it popped up now. We did push some zeitwerk updates in 2.19, but nothing related to dashboards. zeitwerk and properly auto-loading things is a tricky thing to get right (primarily because of my in-experience with autoloading).

[2022-11-10 16:03] holden opened #1426 "Issue when using PrefixId and Actions."
### Describe the bug
I'm getting a `Hashids::InputError in Avo::ActionsController#handle` unable to hash error.

[code]

### Steps to Reproduce

The prefix id gem works fine with create, update and destroy but seems to fail when trying to use it with avo actions.

eg I have

`has_prefix_id :event` in my model `event`

and am using an action as per:

https://docs.avohq.io/2.0/actions.html

It fails

[2022-11-10 16:06] adrianthedev commented on #1426
Can you please share the full stack trace for that error?

[2022-11-10 16:12] holden commented on #1426
Rails.root: /Users/holden/Code/paid-projects/cirqus-pro

[Application Trace](http://localhost:5000/avo/resources/events/event_EL1nrZbxBbWeSneMNVJomWAk#) | [Framework Trace](http://localhost:5000/avo/resources/events/event_EL1nrZbxBbWeSneMNVJomWAk#) | [Full Trace](http://localhost:5000/avo/resources/events/event_EL1nrZbxBbWeSneMNVJomWAk#)
[hashids (1.0.6) lib/hashids.rb:182:in `block in unhash'](ht

[2022-11-10 16:47] adrianthedev commented on #1426
Not sure how to make this work with `prefix_id`.

What happens is, when you select records on the Index page (to run actions on), Avo picks up the `id` for those models. Then, when the action is executed, it will run `model_klass.find THOSE_IDS`.
That's the place where it fails. It tries to do `Event.find([1,2,3])` and because `prefixed_ids` is overriding that method, it tries to decode those ids

[2022-11-10 22:01] nkriege opened #1427 "bug: hitting enter should not cancel an action"
### Describe the bug

If your action contains a text field, hitting enter while focused on that field cancels the action.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Run the sample app
2. Go to http://localhost:3030/admin/resources/posts/35
3. Click on "Toggle post published"
4. Click into the text field and start typing
5. Hit enter.

### Expected behavior & Actual behavior

I wou

[2022-11-11 09:54] #1427 closed

[2022-11-11 13:30] adrianthedev commented on #1416
This is interesting. Are you loading `avo.custom.js` using `defer="true"`? If not, then yes, there might be a race condition there (your script loads before Avo's).

[2022-11-11 13:54] Bergrebell commented on #1416
i'm not using `defer="true"`. looks like a race condition ...

[2022-11-11 13:55] adrianthedev commented on #1416
Yes. so, I think you should, just to be safe. This way, it will always load the scripts in the right order every time.

Otherwise, you should be good with using your own stimulus application.

[2022-11-11 13:57] Bergrebell commented on #1416
perfekt! thanks. :)

the issue from `1.` in my previous post could be useful for the documentation i guess.

[2022-11-11 13:58] #1394 closed

[2022-11-11 22:12] nkriege opened #1430 "bug: block notatation for html attributes is only calling block once"
### Describe the bug

When using the [block notation](https://docs.avohq.io/2.0/stimulus-integration.html#the-block-notation) for adding html attributes to a field, the block is only evaluated once. It's evaluated on the first record but the output is applied to all records.

### Steps to Reproduce

Steps to reproduce the behavior:
1. Make the change to `TeamResource` described below.
2. Go to `/a

[2022-11-13 18:17] adrianthedev opened #1434 "Create a collapsed/quick view option for table view."
Somewhat like a preview panel inside the index view.

We could use the `preview` fields for this view as well.

![Image](https://github.com/avo-hq/avo/assets/1334409/849be823-88d2-4d21-9170-1321f8e5c82e)

[2022-11-13 18:18] #1255 closed

[2022-11-14 12:50] #1430 closed

[2022-11-14 15:06] adrianthedev commented on #1230
@rajaravivarma-r We'll fix this in Avo 3.0.
We already started, and we made good progress on this issue. A much better architecture using the `Current` model that is thread-safe.

[2022-11-14 17:53] rajaravivarma-r commented on #1230
That would be great!

[2022-11-18 11:53] murpj238 commented on #1226
Hi @adrianthedev @OlexYakov, this has come up as a requirement multiple times for us recently. The PR has gone stale, is there any reason why it hasn't been merged in?

[2022-11-18 12:01] adrianthedev commented on #1226
Because it still requires some work. We'd love to get your help with this.

[2022-11-18 18:01] iainbeeston opened #1439 "Fields in panels don't appear on index view"
### Describe the bug

If I put a field inside a panel, it no longer appears in the table on an index view.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add a field to a resource
2. Confirm it is visible on an index view
3. Edit the resource to put the field inside a panel
4. See error

### Expected behavior & Actual behavior

The field will now disappear from the index view. I would

[2022-11-19 09:00] Paul-Bob commented on #1271
Hello @tiffanynk, sorry for the delay, as @adrianthedev  told you i had some issues with my computer and consequently this feature got delayed. This PR https://github.com/avo-hq/avo/pull/1410 was merged successfully recently and will be on the next release. In your use case, to be able to keep the modal open after an validation error you should  follow these simple steps:

1 - Insert and `rescue`

[2022-11-19 21:01] adrianthedev commented on #1271
Also [docs](https://docs.avohq.io/2.0/actions.html#keep-modal-open) on that.

[2022-11-19 22:39] adrianthedev commented on #1439
Hey @iainbeeston. Yes. That's a feature, not a bug.
The way we thought about it was that everything in the root level (not nested in panels, tabs, or sidebar) is going to be visible on the index page.
That's because you use panels to organize the fields on the `Show view`. You don't get to "see" the panel on the `Index` view.

[2022-11-20 08:37] iainbeeston commented on #1439
Ah ok, that’s interesting. I just view tabs and panels as a visual thing, to make it easier for users to find what they need and make large forms look more attractive.

Should it be possible to override the default behaviour using “show_on: :index” though?

[2022-11-20 16:02] adrianthedev commented on #1439
Hmmm. It requires a bit of work. I would merge a PR if there were one.

[2022-11-21 13:08] #1371 closed

[2022-11-21 14:41] #1247 closed

[2022-11-23 18:33] lukasedw opened #1441 "Problems with timezone only in Avo"
### Describe the bug
In the application, I have set timezone "America/Sao_Paulo" and for avo as well, but no matter what I put on timezone in avo.rb doesn't change the timezone for dates on avo...

### Steps to Reproduce
Steps to reproduce the behavior:
1. Have the records on UTC time
2. Set config.time_zone to anyone that you want in application.rb
3. Create a record and see the time of created_a

[2022-11-23 18:35] adrianthedev commented on #1441
Hey @lukasedw.
That options should be deprecated. I'll make a not of it for v3.

By default, all time-related fields will cast the time to the browser timezone.
If you want to override that you can use the `timezone` option on the `date_time` field.
https://docs.avohq.io/2.0/fields/date_time.html

[2022-11-23 18:45] lukasedw commented on #1441
Even using that option does not change anything...

[2022-11-24 10:51] iainbeeston opened #1443 "Actions added in show_controls block don't work in avo 2.20"
### Describe the bug

I have two resources that use a `show_controls` block to customise the buttons shown to the user, some of which are standard buttons (like edit and delete) and some are actions. These actions worked in avo 2.19 and before, but since upgrading to avo 2.20 clicking the actions does nothing and raises this error in the logs:

[code]

Debugging the code it looks like `BaseResourc

[2022-11-24 10:53] adrianthedev commented on #1443
Yes. We've seen this in 2.20 as well.

@Paul-Bob can you check it out and see how we can support not having to call `action` on that resource?

Until then @iainbeeston, can you please declare the `action` on the resource?

[2022-11-24 11:37] elassadi opened #1444 "Missing resources inside action visible block"
### missing resources inside action visible block

[code]
the resource we receive in the visible block is always the parent resource. Regardless if the action is involved in
a regular show view or in an index view for the  has_many association.
We are expecting to get the resource of the has_many association .
can u please confirm the problem/bug  ?

### Steps to Reproduce
Steps to reproduce the b

[2022-11-24 11:53] adrianthedev commented on #1444
Ok. I see what you mean. Thank you for the demo @elassadi

The `resource` and `parent_resource` are different (which is expected), but the `model`s on each one are wrongly assigned.  `resource.model` should have be instance of `Comment` and the `parent_resource.model` should be an instance of `Post`, but they are both `Post`. Is that correct?

@Paul-Bob can you please check and see how we can fix

[2022-11-24 13:21] adrianthedev commented on #1441
Does that fixes the issue for you @lukasedw?

[2022-11-24 14:12] jmarsh24 opened #1445 "CSV export"
### Context
I'm trying to write a csv output for associated records without the boolean checkmarks (exports the specified fields). When I try to access the fields attribute at the debugger statement, I get an empty array.
[code]

[2022-11-24 14:15] adrianthedev commented on #1445
The first thing I'm noticing is the field declarations to have the `as:` attribute. They will not show up IMHO.

Why did you make all the fields computed (added `do |model|....` after the declaration).

Otherwise, have you tried following the guide [here](https://docs.avohq.io/2.0/recipes/export-to-csv.html)? Please try and implement that first and then make changes.

[2022-11-24 14:19] jmarsh24 commented on #1445
I already constructed it using the guide and now I'm trying to figure out how to refactor it so the user isn't given the checkmarks for which attributes to put into CSV. I want to specify a list of attributes, along with associated attributes and only those exported.

[code]

[2022-11-24 14:24] adrianthedev commented on #1445
remove the fields from the action

Add a text field where you pick up the attributes in text. Then, in the action you can find them using `fields[ID_OF_THE_FIELD]`.

Fields inside actions work like fields on resources.

[2022-11-24 14:31] Paul-Bob commented on #1444
Hi, i see what's going on, we can block the resource hydration from associate a model with a different class than `resource.model_class`.

Right, we can remove `parent_model` because it's easily accessed by `parent_resource.model`, same with `model`, can be accessed by `resource.model` which will be `nil` if the resource is rendered on index (Index resource or index inside other resources).

Thank

[2022-11-24 16:16] adrianthedev commented on #1445
I think something like this shoudl work just fine:

[code]

[2022-11-24 18:09] jmarsh24 commented on #1445
I ended up with this solution

[code]

[2022-11-24 20:08] adrianthedev commented on #1445
Glad it worked out. But this way the user doesn't get to choose the columns, right?

[2022-11-24 20:08] #1445 closed

[2022-11-25 07:20] acetinick opened #1448 "Global search should produce count of total record if more than 8"
### Feature
Currenly it looks like the search popup shows limit of 8 records, and will show only the max count of 8 always.  If there are more records then 8 it stays this number.

Should show the total number of results for the search term.

### Screenshots or screen recordings

![image](https://user-images.githubusercontent.com/571649/203923337-4206ec1b-963f-45a3-b4d6-f6b9921c7c0f.png)

[2022-11-25 08:18] angel-checkealos opened #1449 "Problems using rails 7 where.associated in index"
### Context

### System configuration
**Avo version*2.19.0*:

**Rails version*7.0.4*:

**Ruby version*3.1.2*:

**License type**

 - [ ] Community
 - [ x] Pro

**Are you using Avo monkey patches or overriding views or view components?**

 - [ x] Yes. If so, please post code samples.
 - [ ] No

### Screenshots or screen recordings

In AVO controller, I am trying to get a model filtered list for inde

[2022-11-25 08:26] adrianthedev commented on #1449
So, first of all, you shouldn't override the `index` method. It does a lot of things, like setting the `@filters`. That's why you're getting that error.

Maybe you could fill in the context and let us know what you are trying to achieve?

[2022-11-25 08:55] angel-checkealos commented on #1449
I don't know how to use context. For example in this list I am going to need different customizations.
One of them is, for example, to list only the records of this model which has records on a has_many related model.
I am going to need apply filters to list only records which belongs to another model, and so on.
Can you explain me about that or show me code examples about to get this customizatio

[2022-11-25 11:53] Bergrebell opened #1450 "Select field with computed options shows wrong relationship"
### Describe the bug
When using the select-field with computed options, the correct options are only shown after several page reloads. It seems to have something to do with Turbo (see stacktrace with: `Unpermitted parameters: :turbo_frame, :resource_name, :related_name. Context: { controller: Avo::AssociationsController, action: index, request: #<ActionDispatch::Request:0x00000001186b6c78>, params

[2022-11-25 23:07] Paul-Bob opened #1453 "NN Translation needed"
### Context

NN translation needed for [lib/generators/avo/templates/locales/pagy/nn.yml](https://github.com/avo-hq/avo/pull/1433/files/d10d03dac00c42e61cf2273364772e0d4ef80f23#diff-84d21aa32d65d4640270126f8c6428d82d44155d6283a0d86327091ef675b053)

[2022-11-26 13:14] adrianthedev commented on #1453
@tersor may we ask for your help on this one please?

[2022-11-26 13:19] adrianthedev commented on #1450
Hey @Bergrebell I'd love to help with this but I don't know how to replicate it. I tried a few computed fields but can't get ti to brake.

Can please create a reproduction repo where e I could see the error?

[2022-11-26 13:20] adrianthedev commented on #1450
Also, can you try using `model` instead of `resource.model`?

[2022-11-26 13:32] #1448 closed

[2022-11-26 14:47] adrianthedev commented on #1444
Hey @elassadi. We pushed [`2.21.1.pre.issue1444`](https://rubygems.org/gems/avo/versions/2.21.1.pre.issue1444) to try out with the fix.

The issue was that we were hydrating the `parent_resource` with the `model` instead of the `parent_model`.

However, in a `has_many`, association you'll still not have access to the `model`.
I'll explain with your `Post` `has_many` `Comments` scenario.

When you

[2022-11-27 02:17] #1363 closed

[2022-11-27 08:55] tersor commented on #1453
@adrianthedev jep, [PR created](https://github.com/avo-hq/avo/pull/1456).

[2022-11-27 15:33] adrianthedev commented on #1453
Thank you @tersor! We appreciate the help!

[2022-11-27 15:35] adrianthedev commented on #1363
I was thinking about this, and I think the best way to do it is to support `sidebar` inside `panel`s like so:

[code]

Related https://github.com/avo-hq/avo/issues/1362

We'll probably introduce support for this in Avo 3.

[2022-11-27 20:22] elassadi opened #1459 "Authorization policy is not applied correctly"
### Describe the bug

Comment Edit button is still shown, although the Comment policy is set to disallow edit action.

[code]
Clicking the edit button will result in redirect to the index page , since the policy dont allow edit the record

![image](https://user-images.githubusercontent.com/1938264/204157735-df9abcbf-b15a-41fb-a0a2-028b66a58c03.png)

### Steps to Reproduce
Steps to reproduce the be

[2022-11-28 09:52] Bergrebell commented on #1450
hey @adrianthedev - thanks for looking into this!

here is a link to a reproduction repo: https://github.com/planet-10/avo-1450-select

[2022-11-28 12:10] adrianthedev commented on #1459
Hey @elassadi. Being in an association, you can set those authorization rules in the `PostPolicy` using the `edit_comments?` method.

[Docs](https://docs.avohq.io/2.0/authorization.html#associations).

[2022-11-28 12:20] adrianthedev commented on #1450
It turns out we were incorrectly caching the results from the `options` block evaluation. So it would be fetched from memory instead of running that `block.call`.

Thanks for the reproduction repo! That really helped.

[2022-11-28 12:39] elassadi commented on #1459
Hi @adrianthedev

Beside the fact that is totaly unusual to set the policy of editing a record in the association policy.
this will means we will need to assign edit_comments in any resources associating comments
and additional to that the user should have the right to edit comment as well.

this is not consistent in both cases it sounds weared.

use cases
1- Allow user to edit comments in the Pos

[2022-11-28 13:18] #1450 closed

[2022-11-28 13:20] Bergrebell commented on #1450
thanks to you! :) looking forward to the next release

[2022-11-28 14:17] waliffcordeiro opened #1461 "Filter in index with grid"
### Describe the bug
When accessing the filter in the index that contains the grid, the filter appears in scroll format instead of a modal

### Steps to Reproduce
![Screenshot from 2022-11-28 11-06-17](https://user-images.githubusercontent.com/43971264/204299212-2c5a3bae-47f0-4199-8f19-4fddf6c15f1f.png)

https://user-images.githubusercontent.com/43971264/204299298-063d8bf7-1aa1-415b-a651-048e01601

[2022-11-28 14:23] adrianthedev commented on #1461
Hmm. that's weird. I can't seem to reproduce this on `2.20`. Can you check https://main.avodemo.com/ and see if you can reproduce it?
Maybe you have something that overrides the `overflow` CSS property?

[2022-11-28 14:28] waliffcordeiro commented on #1461
In the demo (https://main.avodemo.com/avo/resources/posts) I verified that this doesn't really happen.

I'll check my system and get back to you. Thank you!

[2022-11-28 14:40] adrianthedev commented on #1461
No worries!

Closing for now. Feel free to reopen if this still persists.

[2022-11-28 14:40] #1461 closed

[2022-11-28 14:46] #1441 closed

[2022-11-28 22:30] Paul-Bob commented on #1443
Hi @iainbeeston and @adrianthedev, the PR to fix this issue was getting kinda complex and we figure out that we need to rethink some of the actions architecture, for that reason we will let it like this for now and solve this question on Avo 3, sorry for any inconvenient.

[2022-11-29 06:26] iainbeeston commented on #1443
Thanks @Paul-Bob - that’s fine. I think it would be worth explaining that in the upgrade guide to avo 2.20 though, and on docs.avohq.io

[2022-11-29 09:25] Sweex99 opened #1462 "Set value for text (number) field"
### Context

### System configuration
**Avo version**: 2.20.0

**Rails version**: 7.0.4

**Ruby version**: 3.1.2

**License type**

 - [ ] Community
 - [x] Pro

**Are you using Avo monkey patches or overriding views or view components?**

 - [x] Yes. If so, please post code samples.
 - [ ] No

### Screenshots or screen recordings

Hi! Trying generate number field by edit component
<img width="579"

[2022-11-29 09:56] adrianthedev commented on #1462
Are you sure you are on version 2.20?
This file looks like there isn't that commented piece of code.
https://github.com/avo-hq/avo/blob/36136880297c96ca51c8271db91e2df3abae33f4/app/components/avo/fields/number_field/edit_component.html.erb

[2022-11-29 09:58] adrianthedev commented on #1462
Also, [the docs](https://docs.avohq.io/2.0/native-field-components.html) specify that the usage of native fields is different than you're code samples.

You can use it like this:

[code]

[2022-11-29 10:04] Sweex99 commented on #1462
went something wrong
<img width="597" alt="Screenshot 2022-11-29 at 12 03 34" src="https://user-images.githubusercontent.com/27281496/204499592-5b69cf79-a3ab-4a05-bfa4-cbc971f9e022.png">
view
<img width="670" alt="Screenshot 2022-11-29 at 12 04 10" src="https://user-images.githubusercontent.com/27281496/204499665-b9786441-4b22-467e-9e6d-80a68a53b2a6.png">

[2022-11-29 10:06] adrianthedev commented on #1462
ok. please create a reproduction repository where I can see and test the issue.

You can create one of your own or clone this one https://github.com/avo-hq/avo-reproduction.

[2022-11-29 10:06] Sweex99 commented on #1462
screenshot related to text field, but issue the for both (text, number)
<img width="941" alt="Screenshot 2022-11-29 at 12 05 11" src="https://user-images.githubusercontent.com/27281496/204499943-8799477d-a4c8-4788-93a1-b2ac163c096a.png">

[2022-11-29 10:25] adrianthedev commented on #1462
That doesn't mean you're using avo 2.20 on that app, but that it's present on the system.

This will list your current avo package.
`bundle list | grep 'avo'`

But, please create a reproduction repo so I can test it.

[2022-11-29 17:12] #1453 closed

[2022-11-29 18:44] dhnaranjo opened #1463 "Feature Req: Display content specific to model instance in Action confirmation dialog"
### Feature
In a scenario where an action applied to the wrong record can be a big ol deal it is always helpful for a confirmation dialog to display some identifying attribute of the record in question.

Ex: "Are you sure you want to delete user Desmond?" as opposed to "Are you sure you want to delete this user?"

Would also enable things like a Github branch deletion style generated confirmation

[2022-11-29 20:46] angel-checkealos opened #1464 "Cards and Dasboards: current_user is not recognized inside cards or dashboards"
### Context

### System configuration
**2.19**:

**7.04**:

**3.1.2**:

**License type**

 - [ ] Community
 - [ x] Pro

**Are you using Avo monkey patches or overriding views or view components?**

 - [ ] Yes. If so, please post code samples.
 - [ x] No

### Screenshots or screen recordings

I am trying to access to `current_user` on cards to filter records for an specific user. I get the same err

[2022-11-29 20:51] adrianthedev commented on #1464
So there are ttwo ways of doing that.

1. Setting the user in the context like you did above and then, access them using `::Avo::App.context[:current_user]`
https://docs.avohq.io/2.0/customization.html#context

2. set the `current_user_method` in the initializer and then access it using `current_user`

https://docs.avohq.io/2.0/authentication.html#customize-the-current-user-method

I recommend usi

[2022-11-30 06:48] angel-checkealos commented on #1464
Thank you Adrian.

I have tested your first solution and works fine in my app.
I don't if is a bug or a misconfiguration on my side, but `current_user_method` is configured in my app from the beginning (I use devise as authentication module):
[code]
With this configuration, I am able to use `current_user` in resources, policies, tools, etc..., but when I have tried to use it in dashboard and cards

[2022-11-30 07:51] #1463 closed

[2022-11-30 12:01] jmarsh24 opened #1466 "Security Issue when using pundit policies"
### Describe the bug
If the current_user_method block is fed nil, then the pundit policy is never used by avo and defaults to allow any user to access the admin interface and perform all actions.

### Steps to Reproduce
Steps to reproduce the behavior:

Add this line to your avo.rb initializer
[code]
### Expected behavior & Actual behavior
An error should be raised.

### Models and resource files

[2022-11-30 12:21] adrianthedev commented on #1466
Yes. That's a fair concern.

We'll look into fixing that.

[2022-11-30 12:23] adrianthedev commented on #1466
@Paul-Bob do you think we can add a check in the `AuthorizationService` to raise and error, but only if there is a policy present (so they use the authorization feature) and no `current_user` set?

[2022-11-30 13:01] iainbeeston opened #1467 "Badly formatted error messages"
### Describe the bug

I've noticed that in avo 2.20 validation error messages (that appear in a popup flash message) appear surrounded by `[""]`. This didn't happen before but I'm not sure which version the change appeared in. It also seems like validation messages appear twice with different formatting.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Find a resource for a model with a

[2022-11-30 13:02] adrianthedev commented on #1467
Yup. This looks like a regression on something we pushed in 2.20. Thank you @iainbeeston!

[2022-11-30 13:25] adrianthedev commented on #1464
Hmm. That's weird. It should work.

Would you say you are using it in the same way as we do on avodemo?

[Demo link](https://main.avodemo.com/avo/dashboards/dashy) see the bottom left card showing "Current user ID: 39" and the source code [here](https://github.com/avo-hq/main.avodemo.com/blob/main/app/views/avo/cards/_custom_card.html.erb#L5)

[2022-11-30 14:53] adrianthedev commented on #1459
Thanks for sending in your thoughts. As always, they are greatly appreciated.

I know the system isn't perfect.
From the no.1 use case, you pointed out, yes. That would be what would happen, and it's not the best experience for the user. The developer will have to make sure that the right validation is set in the `CommentPolicy`, not just `PostPolicy`.

I think that we reached this point from the

[2022-11-30 15:01] adrianthedev commented on #1459
Also, now, to avoid duplication, you could set the `edit_comments?` like so.

[code]

This will find the `CommentPolicy` and use that rule? And you wouldn't have to ever touch the `PostPolicy` to change the authorization logic for the comments.

Would that work for your use case?

[2022-11-30 15:11] JensRavens commented on #1466
I don't think an actual error should be raised here, as it's quite possible that you want to give access to certain parts of the avo app to guest users. But that should be determined by the policy (e.g. just call the policy with `nil` as user so the policy can decide if the page should be shown).

[2022-11-30 16:23] #1459 closed

[2022-11-30 16:30] adrianthedev opened #1469 "See our public chat archives for more support - https://avo.cool/public-chat"
You might have arrived here to seek support on an issue with Avo. You're in the right spot. GitHub Issues is the preferred spot to provide support, but sometimes people post questions and answer them in our community chat on our [Discord server](https://avo.cool).

If you don't feel like joining the server (but you should. we're friendly), you can search the archive on our [linen page](https://avo

[2022-11-30 16:30] #1469 closed