[2022-05-19 19:20] adrianthedev commented on #911
Do you have any other js file added to Avo?

[2022-05-20 05:45] JensRavens commented on #911
Nope, the setup is as simple as possible and especially the aaset pipeline is a standard sprocket setup. What surprises me is that in prod the file is called `/avo-assets/avo.js` - shouldn't it be appended with a digest to enable caching?

[2022-05-20 07:09] JensRavens commented on #911
I finally found the culprit. I'm using Cloudflare in production which automatically minifies js, css and html - and that broke the js file in a recent update of Avo. The moment I disabled the option, the admin tool is working again.

As far as the issue goes, feel free to close this. My remaining question though is: Why isn't the avo.js file minified and digested in the first? I'm not quite sure h

[2022-05-20 07:24] adrianthedev commented on #911
Ok. I'm glad we found where the issue was. That's the most daunting thing :)

Regarding modification, I think I just didn't enable it when we switched to `esbuild`. I might try it with the next release.
I'm curious though, if Cloudflare tries to minify that. If it's going to break it again.
**If I post a prerelease would you be able to test it?**

Regarding not compiling Avo's assets on `rails ass

[2022-05-20 13:22] adrianthedev commented on #890
Hey @veelenga. I finally got it working.

Can you try avo `2.7.1.pre.1` and [this guide](https://docs.avohq.io/2.0/recipes/multitenancy.html) to see if that works for you.

A demonstration below how you can fetch the user from the param.
https://share.cleanshot.com/gwkj8Z

[2022-05-20 15:11] veelenga commented on #890
Thanks, man. I will take a look and let you know next week.

[2022-05-23 17:23] adrianthedev opened #917 "Add tabs support"

[2022-05-23 17:24] #917 closed

[2022-05-24 08:36] adrianthedev opened #919 "Add the ability to not respond from an action"
### Feature
When one needs to create an action that just redirects to another page, one cannot silence the notification that "the action ran successfully". We need to add a `silent` method that enables that redirection.

### Current workarounds

Cannot do it. You can say `succeed ""`, but that shows the alert.
One could use `inform "ADD_HELPFUL_MESSAGE_ABOUT_THE_REDIRECT"` to "trick" the user.

##

[2022-05-24 11:48] teenu4 opened #920 "Add possibility to use external_image and link_to_resource for the same field"
### Feature
Currently, if I add `as: :external_image, link_to_resource: true` to one field, only `as: :external_image` will work.

### Current workarounds

### Screenshots

<img width="616" alt="Screen Shot 2022-05-24 at 2 45 05 PM" src="https://user-images.githubusercontent.com/16734597/170027553-57197c3d-a860-4947-959c-f14cd6144c00.png">
<img width="1083" alt="Screen Shot 2022-05-24 at 2 45 16 P

[2022-05-24 12:32] adrianthedev commented on #920
That's a good suggestion and shouldn't be very complicated to do. We're working on something at the moment so we don't have the bandwidth right now, but if you want to try and contribute a PR, we're more then happy to help you navigate the codebase

After the refactor, it should look something like [this field](https://github.com/avo-hq/avo/blob/main/app/components/avo/fields/common/gravatar_viewe

[2022-05-24 14:32] #920 closed

[2022-05-25 11:35] adrianthedev commented on #911
It seems that the js [does get](https://github.com/avo-hq/avo/blob/main/package.json#L14) minified when packed (so for you it's the same asset file for development and production).

Not sure what Cloudflare does to it. Maybe it minifies it even further and somehow brakes it?

[2022-05-25 11:36] adrianthedev commented on #911
Closing for now, but let me know if there's something I can do on my end to troubleshoot/fix this.

[2022-05-25 11:36] #911 closed

[2022-05-25 18:02] veelenga commented on #890
@adrianthedev that works. Thanks for the help 👍

[2022-05-26 08:14] iainbeeston opened #922 "Override the maxTags option on the TagsFieldController"
### Feature
Right now the tags fields controller hard-codes the maximum number of tags at 10 (see [here](https://github.com/avo-hq/avo/blob/345ff4389a1fa58fdc786046c621316ba2eeb134/app/javascript/js/controllers/fields/tags_field_controller.js#L43). I need to add more than that. I would love if when I define the tags field in the avo resource (ruby) model I could override this number.

### Current

[2022-05-27 14:42] Gpapidas opened #924 "Field visibility on specific type of users"
Hello, I have been using Avo for about 6 months now and I have encountered the following issue when using the set_context method to pass current_user. When I first run the server and the current_user is empty, nothing gets passed on the context, however, when I log in, the dependent field on the current_user described in a emnima_resource.rb file is never shown, even if current_user is not empty.

[2022-05-27 15:55] iainbeeston opened #925 "Associations aren't showing at all?"
### Describe the bug
I've been trying to get a has-and-belongs-to-many field working in my own app but nothing appears. But looking at the demo app it seems that none of the associations are appearing there at all. For example, in the demo app, if you look at the code for the [user resource](https://github.com/avo-hq/avodemo/blob/e7e481d7eb392a9e9462a40a1ed66bf60b54abe9/app/avo/resources/user_reso

[2022-05-27 16:07] adrianthedev commented on #925
Hey Iain, that's a feature, not a bug. The association screens are hidden by default on edit views. To show them on the edit view, add 'show_on: :edit' to them. This way you will force showing them on edit.

[2022-05-27 16:25] iainbeeston commented on #925
Aha! Thanks for explaining that, I can deliver that feature now!

There are [examples in the documentation](https://docs.avohq.io/2.0/associations.html) that show associations being edited but it doesn't mention anywhere that you must add `show_on: :edit` to the field (I think it would be helpful to add that if you can). I'll close this issue

[2022-05-27 16:25] #925 closed

[2022-05-27 16:34] adrianthedev commented on #925
Totally agree! On it!

[2022-05-27 19:15] adrianthedev commented on #924
Hey @Gpapidas.
That's not how we imagined one would conditionally hide a field. Why don't you try the visibility option?

https://docs.avohq.io/2.0/field-options.html#field-visibility

The reason why that's not working is that the fields are loaded onto the model at boot time and there's no request then. The visibility option kicks in at request time. So you'll have the context populated with the

[2022-05-28 09:21] Gpapidas commented on #924
Hey Adrian,
Field visibility options seems to be working great, I must have missed it in the docs,
thanks for the help

[2022-05-28 09:21] #924 closed

[2022-05-30 22:22] adrianthedev commented on #922
I see now that this is actually a bug. I thought it was just a display issue.

This PR https://github.com/avo-hq/avo/pull/927 should remove the arbitrary limit.

[2022-06-01 17:27] MrJoy opened #929 "Use of `bg-white` on logo image causes bleed."
### Describe the bug

As you can see, the logo image is bleeding over.  The image itself fits solidly in the specified area (it's 900x878, but gets scaled by the browser to 49.2x48), it's the padding that's causing the bleed.  Removing the `bg-white` class from the `a` tag fixes the issue.

### Steps to Reproduce

N/A

### Expected behavior

Logo shouldn't bleed over.

### Actual behavior

Logo bl

[2022-06-01 18:49] #922 closed

[2022-06-02 08:16] adrianthedev commented on #924
I added an explanation [here](https://docs.avohq.io/2.0/field-options.html#using-if-for-field-visibility).

[2022-06-02 12:03] koppen opened #932 "translation_key on field being ignored"
We've been trying to translate the field names in our application, however following the instructions at https://docs.avohq.io/2.0/localization.html#localizing-fields doesn't seem to work.

### Steps to Reproduce

We have a `CustomerResource` with the following field:

[code]

And `config/locales/da.yml` with:

[code]

Translating directly via `I18n` works:

[code]

### Actual behavior

The field

[2022-06-02 12:20] koppen commented on #932
Uh, well done, and dammit, my beatiful bug report was all for naught! 😆 Looking forward to the next release then.

[2022-06-02 12:22] adrianthedev commented on #932
No worries. We love these reports. Please, keep them coming!

![](https://media.giphy.com/media/X0dtyf35H9SSLhiaJ3/giphy.gif)

[2022-06-02 12:22] #932 closed

[2022-06-02 13:39] rassom opened #934 "Right align headers to same value as index_text_align"
### Expected behavior
Headers should be right aligned the same way as table contents

### Actual behavior
Headers are currently unaffected by the index_text_align specification

### System configuration
**Avo version**: 2.7.0

**Rails version**: 7.0.3

**License type** (Community or Pro): Pro

### Screenshots
![2022-06-02 at 15 36](https://user-images.githubusercontent.com/594378/171641993-ab74a30

[2022-06-03 13:54] #853 closed

[2022-06-03 15:07] adrianthedev commented on #772
Hey @yrashk. Apologies for the long wait. The last few weeks have been a bit loaded for me.

I enabled the ranges on all types of cards. Let me know if you see anything "wonky" with them.

FYI, I changed the way `ranges` were processed by Avo. Before we'd take the array and figure out if there were integers and cast them all to "days" (`4` becomes `4 days`) and that doesn't really work when you do

[2022-06-03 15:34] adrianthedev commented on #929
Hey @MrJoy I think you can fix that from your side. Edit the `logo.html.erb` partial you ejected and remove the `bg-white` class.

I pushed some changes for the next release to have that class removed and make it nicer on mobile too.

I'm closing this for now, but please re-open it if that didn't fix it for you.

[2022-06-03 15:34] #929 closed

[2022-06-03 15:35] adrianthedev commented on #587
Fixed by https://github.com/avo-hq/avo/pull/829

[2022-06-03 15:35] #587 closed

[2022-06-03 15:37] adrianthedev commented on #797
This has been fixed in https://github.com/avo-hq/avo/pull/800

[2022-06-03 15:37] #797 closed

[2022-06-03 15:37] adrianthedev commented on #638
Duplicate of https://github.com/avo-hq/avo/issues/812

[2022-06-03 15:37] #638 closed

[2022-06-03 15:38] adrianthedev commented on #763
Closing for now. feel free to reopen it if it still persists.

[2022-06-03 15:38] #763 closed

[2022-06-03 15:42] adrianthedev opened #939 "When navigating to sidebar items that belong to groups that are collapsed, uncollapse it"

[2022-06-03 19:24] MrJoy commented on #929
Ah!  I had forgotten that I had ejected it.  Thanks!

[2022-06-04 09:14] adrianthedev opened #942 "Add `label` option to menu builder items"
### Feature

When adding a resource to a menu like so `resource :pay_charges`, you get the label automatically "Pay charges". We'd like to change that so we have the label option for that like so `resource :pay_charges, label: "Charges"`

### Current workarounds

### Screenshots

![CleanShot 2022-06-04 at 12 12 35](https://user-images.githubusercontent.com/1334409/171992809-e9ab86be-dc14-4704-b617

[2022-06-08 06:53] adrianthedev opened #946 "Required field option should take a block"
### Feature

The [required field option](https://docs.avohq.io/2.0/field-options.html#required) should take a block so the user can dynamically enable/disable it.

One concept that really made sense and worked well for Avo customers is the way we did it on the `BaseDashboard` object [here](https://github.com/avo-hq/avo/blob/0ab943fbebb15632b5d1110362f568274e0c7359/lib/avo/dashboards/base_dashboard

[2022-06-08 09:02] iainbeeston opened #947 "Trix editor doesn't show list types in editor"
### Describe the bug

When I use the trix editor, the editor shows the formatting I have selected except for lists. Lists just look like normal text for me. Looking at the HTML produced, they do have the correct HTML but they are not formatted.

### Steps to Reproduce

1. Find a resource that has a trix field2.
2. Write text
3. Select that text
4. Press either the ordered list or unordered list bu

[2022-06-10 16:56] iainbeeston opened #950 "Url for resource uses model class name not resource name"
### Describe the bug
If you create a resource and define `model_class` to be something different to the resource name, then when you navigate to that resource in avo the path will be something like `/resources/original-class-name` rather than `/resources/resource-name`, which can be confusing

### Steps to Reproduce
Steps to reproduce the behavior:
1. Create a dog and a cat active record model in

[2022-06-10 19:44] adrianthedev commented on #947
Got it. I'll have a look and see where the issues is.
Thanks for the video!

[2022-06-10 20:43] adrianthedev commented on #950
Yes. I have [ran into](https://github.com/avo-hq/avo/discussions/846) that before and had one more customer complain about that.

All you laid out here makes total sense. The routes should respect the resources and not their model.
I'll make sure to prioritize it in the near future. I'd love to have this fixed sooner rather than later.

[2022-06-10 21:08] #947 closed

[2022-06-10 22:28] #934 closed

[2022-06-10 22:31] adrianthedev commented on #681
I see there is a pretty good workaround for this so I'll close it for now.

[2022-06-10 22:31] #681 closed

[2022-06-10 22:57] #942 closed

[2022-06-10 23:16] #946 closed

[2022-06-10 23:25] #950 closed

[2022-06-11 09:59] rassom commented on #934
Thank you 🙏

[2022-06-11 11:27] adrianthedev commented on #934
No problem man! Glad to help.

[2022-06-13 10:26] iainbeeston opened #959 "Translations not working"
### Describe the bug
When I installed avo on my project, it added an i18n translations file (`avo.en.yml`) that allows me to change the wording of certain things in avo. However, it doesn't seem to be used and no matter what I do the default translations are used.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Change the `avo.resource_destroyed` translation in `avo.en.yml` to "hello w

[2022-06-13 13:29] adrianthedev commented on #959
Got it. I found the bug.

We're adding Avo's locales directory and somehow that gets the most importance on runtime.
It will be fixed in the next release.

Thank you for sending this in!

[2022-06-14 10:52] #959 closed

[2022-06-16 20:49] adrianthedev opened #967 "Add custom buttons/links next to actions dropdown"
### Feature

Devs might want to add a "preview" link to a blog post from a resource.

### Current workarounds

### Screenshots

![CleanShot 2022-06-16 at 23 48 40@2x](https://user-images.githubusercontent.com/1334409/174161164-a91e0bd0-ec0e-4322-b75f-24576912950c.png)

### Additional context

[2022-06-16 20:51] adrianthedev opened #968 "Add the ability to skip the Show view for a resource"
### Feature

Some users don't need the `Show` screen for resources and only need the `Edit` one. It would be nice to be able to completely remove it.

#### Some things that came out from our brainstorming:

 - [ ] ensure all current controller paths (after create/update)
 - [ ] ensure all current resource paths lead to resource edit path
 - [ ] ensure all fields that support "link_to_resource" do

[2022-06-17 16:41] iainbeeston opened #972 "Automatically determine required fields from validations"
### Feature
Right now, to mark a field as required you have to explicitly add the `required: true` to the field declaration in the resource class. Simple form does this automatically by looking at the validations on the model (see the code [here](https://github.com/heartcombo/simple_form/blob/86429bceb950096df3c29616f31bd5a5ce706c06/lib/simple_form/helpers/required.rb)). It would be great if avo c

[2022-06-17 16:58] adrianthedev commented on #972
Great idea. I'll have a look over that snippet and add it to the roadmap.

[2022-06-17 17:38] adrianthedev opened #974 "Nested fields (Add related resources at creation time)"
### Discussed in https://github.com/avo-hq/avo/discussions/779

<div type='discussions-op-text'>

<sup>Originally posted by **adrianthedev** April  4, 2022</sup>
Based on a few [conversations](https://discord.com/channels/740892036978442260/740893011994738751/959950886292058122) we had with users, having a  way to add related records at creation time is something that would benefit Avo users.

###

[2022-06-19 05:09] hassyyy opened #975 "Date format is not working in mobile browsers"
### Describe the bug
Display format for date fields doesn't work in mobile browsers. In web, it works fine

### Steps to Reproduce
Steps to reproduce the behavior:
1. Configure a resource with date field
2. Specify a custom format for date
3. Go to new/edit page in web & mobile browsers

### Expected behavior
Web & Mobile: Date should be displayed in the specified format

### Actual behavior
Web:

[2022-06-19 06:32] hassyyy commented on #968
Would be great if we can have the ability to hide the show button in list view.
Justification: It is not needed when `link_to_resource` is set

[2022-06-20 07:56] OlexandrStorchak opened #976 "How can rename standard actions buttons?"
**Avo version**: 2.8.0

**Rails version**: 7.0.3

**Ruby version**: 3.0.0

**License type** (Community or Pro): Community

<img width="814" alt="Screenshot 2022-06-20 at 10 53 52" src="https://user-images.githubusercontent.com/22897472/174552819-44a4bad7-e039-431e-88e7-d612ab5484bc.png">

[2022-06-20 08:14] OlexandrStorchak commented on #976
Thanks to Adrian!!

[2022-06-20 08:20] OlexandrStorchak opened #977 "Cant see actions on edit"
Avo version: 2.8.0
Rails version: 7.0.3
Ruby version: 3.0.0
License type (Community or Pro): Community

Cant see actions on edit

<img width="1392" alt="Screenshot 2022-06-20 at 11 18 30" src="https://user-images.githubusercontent.com/22897472/174557398-10c573fb-b2bf-4de0-a3ff-cc9d36bde5be.png">

<img width="491" alt="Screenshot 2022-06-20 at 11 18 10" src="https://user-images.githubusercontent.co

[2022-06-20 08:22] adrianthedev commented on #977
Is the action attached to that resource?

https://docs.avohq.io/2.0/actions.html#registering-actions

[2022-06-20 08:24] OlexandrStorchak commented on #977
<img width="279" alt="Screenshot 2022-06-20 at 11 23 21" src="https://user-images.githubusercontent.com/22897472/174558171-4aec3011-d7b9-4346-8cd0-58f49c6a4daf.png">

Yes! I can see it only on :index and :show pages

<img width="1401" alt="Screenshot 2022-06-20 at 11 24 44" src="https://user-images.githubusercontent.com/22897472/174558471-a4c01b61-6699-46da-a823-4ca8ed008018.png">

[2022-06-20 08:29] adrianthedev commented on #977
Ok. I managed to replicate it.

I'll add a fix and release it in the next release cycle (today or tomorrow).

Thank you for coming to us with this.

[2022-06-20 11:43] #977 closed

[2022-06-20 13:52] btonic opened #979 "Polymorphic belongs_to throws undefined method foreign_key in association index view"
### Describe the bug
A polymorphic belongs_to Resource C, defined in Resource A, is causing an index view failure in Resource B's show view, when Resource A has many Resource B's, and Resource B has many Resource A's (has_many through relationship). When visiting Resource B's show view, the association index view throws the following error.

[code]

### Steps to Reproduce
Steps to reproduce the be

[2022-06-20 14:32] btonic commented on #979
It's notable, if I attempt to represent the same information about the polymorphic association through a computed field, it successfully displays (e.g. `model.resource_c.some_attribute`) across all views properly.

[2022-06-20 17:59] adrianthedev commented on #979
Hey @btonic. Sorry, but I'm having a hard time keeping up with the associations.
Could you make a super short schema with the models please? Something like below👇

Thank you

[code]

[2022-06-20 18:03] adrianthedev commented on #975
Hey @hassyyy,

It seems that flatpickr (the date picker we use) [gets disabled](https://flatpickr.js.org/mobile-support/) on mobile by default because the device date picker is a better experience altogether. Also, I don't see a way of formatting the date in the picker. I'm open to suggestions though.

[2022-06-20 21:11] OlexandrStorchak commented on #977
Thanks Adrian! Very fast and responsive!

[2022-06-20 21:15] JensRavens opened #980 "Timezone Issues for DateTime Fields"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Make sure your browser's timezone is not UTC (e.g. Europe/Berlin, which is UTC+2 during summer)
2. Go to https://avodemo.herokuapp.com/avo/resources/projects/36/edit (or any other project)
3. Edit the started datetime field to `2021-11-20 08:00:00` via the UI
3. Hit save

### Expected behavior
The show view should dis

[2022-06-21 05:11] hassyyy commented on #975
Uh-oh! That's unfortunate

Is there a way to pass the option `disableMobile` to the field? I would like to try out how would that behave

[2022-06-21 10:26] adrianthedev commented on #975
Not right now, but we're open for PRs. We could use a hand to add this feature.

[2022-06-21 10:48] hassyyy commented on #975
Sure, I will give a try 💪

[2022-06-21 11:19] adrianthedev commented on #975
Lovely! Thank you! Let me know if you need any help navigating the codebase.

[2022-06-21 11:20] hassyyy commented on #975
Sure, I will reach out to you if I am stuck somewhere

[2022-06-21 15:18] shiroemons opened #981 "ActionController::UrlGenerationError in Avo::XXXX#new"
### Describe the bug

If `show_on: :forms` is specified, `ActionController::UrlGenerationError` is raised when accessing new page.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add the `show_on: :forms` option.
    - https://docs.avohq.io/2.0/associations.html#has-many
    - > Show on edit screens
By default, has_many is only visible on the Show page. If you want to enable it on the

[2022-06-22 10:49] adrianthedev opened #983 "Keep scroll position or don't reload everything when interacting with an association on the resource show page"
### Describe the bug

When interacting with an association or something from the lowe part of a resource page, after the interaction, Avo reloads the page and goes up.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a user
2. scroll to the reviews page
3. attach a review

### Expected behavior

The page should remain scrolled there.

### Actual behavior

The page reloads and scro

[2022-06-22 13:24] bear-in-mind opened #984 "Paths for ActiveStorage attachments are being prefixed with avo.root_path"
### Describe the bug
When using `rails_blob_path` or trying to display an `ActiveStorage` attachment manually in a view, it fails with a 404. After careful inspection, it appears that the redirected URL for the attachment is being prefixed with whatever is being set as `config.root_path` in `avo.rb`.
When replacing `rails_blob_path` by `Rails.application.routes.url_helpers.rails_blob_path`, then t

[2022-06-22 13:28] bear-in-mind commented on #984
Right now, I'm in a component, so it fails with `undefined local variable or method `main_app'`
But it might work in a regular view :)

![Screenshot 2022-06-22 at 15 28 00](https://user-images.githubusercontent.com/38864576/175040811-9b66474f-03da-413c-b4e8-98bec893793c.png)

[2022-06-22 13:40] adrianthedev commented on #984
Yeah, I think turning a PDF file into a reviewable format requires a little bit of processing on your part.

That's weird it doesn't work. Try one more thing please :) Try and use the `attachment` on the `url_for`.

`<%= image_tag helpers.main_app.url_for(@field.value.attachment) %>`

[2022-06-22 13:42] adrianthedev commented on #984
Active storage [might have something](https://api.rubyonrails.org/classes/ActiveStorage/Preview.html) to help you there.

Here's another quick snippet that might work. You'd need to cache it for best results.

[code]

https://stackoverflow.com/questions/45937501/convert-a-pdf-to-png-using-mini-magick-in-ruby-on-rails

[2022-06-22 13:50] bear-in-mind commented on #984
Generated link is OK, but it still doesn't work. I tried various things, but it wouldn't change. I'm wondering if there isn't a `context` issue here. I'll try your snippet. Thanks Adrian !

[2022-06-22 13:52] #984 closed

[2022-06-22 13:55] bear-in-mind commented on #984
Might be worth adding this somewhere in the docs, maybe ?
Thank you so much for your help 🙏 💪

[2022-06-22 14:16] adrianthedev commented on #981
Hey @shiroemons. This is my bad here. I'll update the docs now. The associations can be shown only on the `:index`, `:show`, and `:edit` screens. The `:create` view is not supported at the moment.

It needs some information from the parent like id, reflections, and others. So the flow here is to create an item (no associations visible), then go on the edit screen and add them.

You [can control](h

[2022-06-22 14:17] adrianthedev commented on #981
I'll close this for now, but feel free to re-open it ✌️

[2022-06-22 14:17] #981 closed

[2022-06-22 15:06] adrianthedev commented on #981
That one slipped through. Pushed an update now. Thank you for letting me know!

[2022-06-22 16:34] adrianthedev commented on #980
Yes, I see the bug.

I'll make sure it's fixed this week.

[2022-06-23 08:21] bear-in-mind opened #986 "[Feature] Provide hooks in controller actions"
### Feature
Provide hooks on `create` or `update` after save to perform some actions. Here's what I'm trying to achieve:
[code]
Here's how it could work:
[code]

### Current workarounds
Right now, we can hook onto these actions through ActiveRecord callbacks, but it's not always convenient.

### Additional context
A simple and good implementation is the pattern used in the `devise` controllers, wh

[2022-06-23 08:26] bear-in-mind commented on #986
It's probably 20 mn of work which I'd gladly take on this week if you find it interesting :)

[2022-06-23 09:02] paul-oms opened #987 "Undefined method in Rails Intialization process after installing Avo"
### Describe the bug

After adding Avo to the Gemfile of an existing rails app and running bundle install, every rails command (e.g `bin/rails s`) gives the following error.

[code]

This is traced back to `Rails.application.initialize!` My guess is that this is something app/environment specific so won't be reproducible? But would appreciate any pointers to help track this down as we don't have t

[2022-06-23 09:23] adrianthedev commented on #987
Hey @paul-oms, are you using `view_component` in your app? do you have it present in your `Gemfile`? I think the `renders_one` method has been added at some point. Maybe update `view_component` in your app.

I launched Avo on [Product Hunt](https://www.producthunt.com/posts/avo-for-rails) (any feedback and comments help a lot BTW) and my efforts go there today. But I'm happy to help more hands-on

[2022-06-23 09:23] adrianthedev commented on #986
YES! I want that! That looks amazing!

I launched Avo on [Product Hunt](https://www.producthunt.com/posts/avo-for-rails) (any feedback and comments help a lot BTW) and my efforts go there today. But I'm happy to help more hands-on from tomorrow 💪

[2022-06-23 09:25] adrianthedev commented on #975
How about giving it the same name as on flatpickr `disable_mobile: false` (defaults to true)?

I launched Avo on [Product Hunt](https://www.producthunt.com/posts/avo-for-rails) (any feedback and comments help a lot BTW) and my efforts go there today. But I'm happy to help more hands-on from tomorrow 💪

[2022-06-23 10:00] paul-oms commented on #987
Thanks @adrianthedev, just gave Avo an upvote on PH :)

`view_component` is in gemfile.lock (as an avo dependency). I've tried adding it as it's own dependency alongside avo, and I get the same error. Adding `view_component` to the gemfile without avo works fine, I can generate view_components no problem.

I thought it might be to do with bootsnap, but disabling that still leads to the same error,

[2022-06-23 10:19] paul-oms commented on #987
Managed to track it to this line: https://github.com/avo-hq/avo/blob/fd6189fc63a970a0224f0dbcbe7e96e521d22a19/lib/avo/dynamic_router.rb#L4

If I remove that from my locally installed gem everything runs fine.

It comes from this PR: https://github.com/avo-hq/avo/pull/800

We are disabling eager loading in our dev environment, but testing it with `eager_load = true`, with Avo, it runs fine. So not

[2022-06-23 11:07] hassyyy commented on #975
Using "disable_mobile" as a field parameter may not be right as it denotes that the field will be disabled in mobile

[2022-06-23 11:24] bear-in-mind commented on #986
Upvoted ✅ Congrats on the launch !

[2022-06-23 12:18] adrianthedev commented on #987
It eager loads the files so it can find the descendants of `BaseResource` (and others). IMHO, it doesn't (shouldn't) work without eager loading.

[code]

[2022-06-23 16:47] lorint commented on #843
ActiveRecord does not support `belongs_to :___ through: :___`.  Only `has_many` and `has_one` can have `:through`.

[2022-06-23 18:29] adrianthedev commented on #843
Yeah, my bad there. I meant to say `has_one`, and I think it's supported 🙂
I'll check Avo and remove this if so.

[2022-06-23 18:29] adrianthedev commented on #843
Thank you for the message

[2022-06-24 09:27] adrianthedev commented on #987
I'm going to close this for now. Feel free to reopen it.

[2022-06-24 09:27] #987 closed

[2022-06-24 11:48] shiroemons opened #990 "`as_avatar: :square` option doesn't work"
### Describe the bug

Add `as_avatar: :square` option does not display square.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add `as_avatar: : square` option to image files
    - https://docs.avohq.io/2.0/search.html#avatar
    - > You may improve the results listing by adding an avatar to each search result. You do that by using the as_avatar attribute. This attribute has three opti

[2022-06-25 10:48] adrianthedev commented on #990
That's right! `:square` doesn't work. I added the `good first issue` label so someone can pick this up easily.

Thank you for digging into this!

[2022-06-25 17:24] damianlegawiec opened #994 "Using custom `model_class` with classes using Rails 7 encryption fails"
### Describe the bug
When using custom `model_class` (as described here: https://docs.avohq.io/2.0/resources.html#custom-model-class) with a class with encrypted attributes, eg

[code]

it fails on test/production environment (with class caching on):

as it tries to connect to the DB during class autoloading

### Expected behavior
What I would suggest is to have the `model_class` as a string and u

[2022-06-25 17:29] adrianthedev commented on #994
Hey @damianlegawiec. Thanks for getting back to me with this.
I haven't used encrypted attributes with Avo, but that makes sense.

I'm AFK now, but I'll push out a pre-release tomorrow with that fix applied so you can test it too.

[2022-06-25 17:50] damianlegawiec commented on #994
@adrianthedev thanks for the quick reply. Take your time, no pressure!

[2022-06-26 10:15] adrianthedev commented on #994
Hey @damianlegawiec I just published [`2.9.1.pre1`](https://rubygems.org/gems/avo/versions/2.9.1.pre1).

I wasn't able to replicate the bug on my end (the app booted ok), but there might be differences in configuration.

 Please try it out and let me know if that fixes the issue.

[2022-06-26 11:34] damianlegawiec commented on #994
Thanks @adrianthedev , that indeed helped, I've found one more issue and created a PR with a fix - https://github.com/avo-hq/avo/pull/997

[2022-06-26 13:02] adrianthedev commented on #994
Hey @damianlegawiec could you test [2.9.1.pre2](https://rubygems.org/gems/avo/versions/2.9.1.pre2) as well when you have the time. I did a tiny refactor and want to make sure it still supports your use case.

I'll merge that PR and come back to it before release if necessary.

[2022-06-26 14:35] #994 closed

[2022-06-27 07:55] hassyyy commented on #975
Hey @adrianthedev
Kindly let me know your thoughts ☝️

[2022-06-27 11:28] #975 closed

[2022-06-28 12:01] bear-in-mind opened #1000 "[Doc update] View context not accessible as the doc says"
Accessing `current_user` in the `Avo::Resource` is not as straightforward as [the doc implies](https://docs.avohq.io/2.0/customization.html#context).
When declared the way it is exposed in `avo.rb`, `current_user` is accessible through `context[:user]` instead of `current_user`.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Set the `set_context` option as per the doc (follow link abo

[2022-06-28 12:25] bear-in-mind commented on #1000
Hey @adrianthedev !
Thanks for being so quick, as always :)
Here is the way it's configured:
[code]
I'm trying to access `current_user` in a resource file.

[2022-06-28 12:44] adrianthedev commented on #1000
Thanks for the code details. THey always help to create the larger picture.

Avo uses lambda's (like it does on `resolve_query_scope`), but not all of them are run in the same environment. Not all of them have access to all the things (`params`, `current_user`, `view_context`, and other things specific to them.

In the docs I try to specify for each lambda the things the developer has access to ([

[2022-06-28 12:56] Sweex99 opened #1001 "Context, request unavailable in profile_menu"
### Context
in Profile menu need to add option with param (customer/:id/edit - for example). I tried to call `request` and `context` variable in `avo.rb` file in profile_menu block for build link. But variables unavailable. How can i add parameterized link or call request (context) variable (for build link) in profile menu?

### System configuration
**Avo version**: 2.9

**Rails version**: 7.0.1

[2022-06-28 14:18] adrianthedev commented on #1001
Can you please share how the `current_customer` is defined in the `context` object?

[2022-06-28 14:55] adrianthedev commented on #980
Hey @JensRavens. Apologies for the delay. I got caught up with marketing things. I pushed [pre3](https://rubygems.org/gems/avo/versions/2.9.1.pre3) for you to try out and see if this fixes it.

**There's a tiny breaking change in there**. To be able to cast the time in the browser's time, I did it in the browser (with a JS package). So, if you used `format` (Ruby tokens) on the `date_time` field y

[2022-06-28 19:10] Sweex99 commented on #1001
@adrianthedev

<img width="385" alt="Screenshot 2022-06-28 at 22 10 06" src="https://user-images.githubusercontent.com/27281496/176264645-ea949145-d555-4b47-9ae9-f439f371f677.png">

[2022-06-28 19:19] adrianthedev commented on #1001
Can you try `params[:slug]` instead of `req.params[:slug]`?

[2022-06-28 19:21] adrianthedev commented on #1001
Does `params[:slug]` evaluate properly? Does it give proper string? Also, does the `Customer.find_by_slug` trigger a query in the DB? Can you see it in the logs?

[2022-06-28 19:21] Sweex99 commented on #1001
did not work

[2022-06-28 19:24] Sweex99 commented on #1001
in logs, query for find customer is exist

[2022-06-29 07:45] adrianthedev commented on #1001
So what does `puts params[:slug]` output? And can you give me an example of a path where it doesn't work? @Sweex99

[2022-06-29 07:54] adrianthedev commented on #1000
Sure thing buddy ❤️

🍾 for the next thousand!

![afb8b2e8-d75d-4e49-9ceb-44ba977b1bd3](https://user-images.githubusercontent.com/1334409/176382627-3085b840-64de-4bfe-bf14-6ec22903480f.png)

[2022-06-29 08:53] bear-in-mind commented on #1000
Can't thank you enough 😇

[2022-06-29 11:25] Sweex99 commented on #1001
this is path to custom controller (customer#edit)  - localhost:3000/customers/:id/edit

<img width="482" alt="Screenshot 2022-06-29 at 14 23 41" src="https://user-images.githubusercontent.com/27281496/176425503-32d5a2a6-f6de-4eb4-9fc5-35dfe18ed7aa.png">

[2022-06-29 12:49] JensRavens commented on #980
I tried that version for a deployed app on heroku. The update worked (at least the tag on the footer seems like that) and somehow it broke the icon 😅
Anyway, it looks like the bug is still here:

https://user-images.githubusercontent.com/928979/176440222-299a3f05-9560-4722-98e4-ca00700e17c8.mov

[2022-06-29 13:37] adrianthedev commented on #1001
I meant, where is it that it doesn't work?

TBH, I don't know how that can really work on regular Avo pages.

To give you an example, let's say you are on the page of User with an id of 1. So `/avo/resources/users/1`. There's no `slug` param there (no `params[:slug]`).

I think you should build the path using that `current_user` object in context. Here's an example below.

[code]

[2022-06-29 16:59] JensRavens commented on #980
- the server is a heroku europe dyno (I think they're running in UTC, but not sure)
- the values in the DB are stored as a normal rails `:datetime`, therefore it's timezoned in memory but stored as UTC in the DB.
- the rails timezone is set to Berlin `config.time_zone = "Berlin"` in `application.rb` (as this is an app exclusively for the german market)
- the browser's timezone is Berlin too
- the

[2022-06-30 12:35] adrianthedev opened #1004 "Add the ability to edit multi-lingual records just for one session"
### Context

The issue is that using [this guide](https://docs.avohq.io/2.0/recipes/multilingual-content) you can't update multilingual records without changing the default locale for the whole app.

Related:

 - https://github.com/avo-hq/avo/issues/828#issuecomment-1098365625
 - https://discord.com/channels/740892036978442260/740893011994738751/991973277360738344

### System configuration
**Avo v

[2022-06-30 14:28] mid opened #1005 "authorize_action doesn’t work with has_many through associations and policies"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Create a `User` model, resource & policy
2. Create a `Role` model, resource & policy
3. Create a `UserRole` model
4. Add `has_many :roles, through: :user_roles` to `User`
5. Add `attach_roles?` and `detach_roles?` to `UserPolicy` (both evaluating to true)
6. Add `create?` to `UserPolicy` (evaluating to false)
7. Try t

[2022-06-30 18:46] mid commented on #1005
Not working (with authorization):
![Not working](https://m.machine.lt/screencast_2022-06-30-vhnxx.gif)

Working (without any authorization):
![Working](https://m.machine.lt/screencast_2022-06-30-zfayk.gif)

[2022-06-30 18:49] adrianthedev commented on #1005
Ok. Cool! Let me check it out.

I've got my hands full for the next few days and I'll get on it after I release https://github.com/avo-hq/avo/pull/1003, https://github.com/avo-hq/avo/pull/916, https://github.com/avo-hq/avo/pull/985, and https://github.com/avo-hq/avo/pull/995.

The repo is available if you have the time to have a look. Maybe it's not that difficult to fix.

[2022-06-30 20:00] adrianthedev commented on #1001
Ok. I prepared a PR to merge in the next release.

Can you please try [2.9.1.pre5](https://rubygems.org/gems/avo/versions/2.9.1.pre5) and let me know if you have all the variables you need?

[2022-06-30 20:17] #1001 closed, assigned to nobody

[2022-06-30 20:59] #1004 closed

[2022-06-30 21:07] adrianthedev commented on #828
Hey @brunoprietog
I merged https://github.com/avo-hq/avo/pull/1003 which adds the `force_locale` param. This will enable to change the locale only for the current request.

The guide has been updated too: https://docs.avohq.io/2.0/recipes/multilingual-content.html

Try it out with [rubygems.org/gems/avo/versions/2.9.1.pre4](https://rubygems.org/gems/avo/versions/2.9.1.pre4)

[2022-07-01 10:52] Sweex99 commented on #1001
amazing!

[2022-07-01 13:31] Sweex99 opened #1008 "Redirect after submit form"
### Context
Hi! `after_create_path` and `after_update_path` are control what will happened after submit form. Can i customise options to redirect, not only `:show` and `:index`, for example: self.after_create_path = root_path ? (Perhaps with the ability to change the text of the flash message)

### System configuration
**Avo version**: 2.9.1

**Rails version**: 7.0.1

**Ruby version**: 3.2.1

**Li

[2022-07-01 19:48] adrianthedev opened #1009 "Add an option to hide the pagination information for few records"
### Feature

What I would do is to set a `hide_pagination_when_one_page_present` (I'm open to a better name) option on the `has_many` field and pick thst up in the pagination [component](app/components/avo/paginator_component.html.erb). If that's turned on in the pagination component, hide the information You don't need.

I believe you can get that option from the `@field` instance variable in the

[2022-07-04 09:25] hassyyy commented on #975
Hi @adrianthedev
When can we expect this to be released?

[2022-07-04 09:57] adrianthedev commented on #975
Hey @hassyyy. I usually release on Monday or Tuesday. I still have a few things to finish with Tabs so It will most probqbly be released tomorrow.

[2022-07-04 16:21] db0sch opened #1011 "Pre-release 2.9.1.pre6 seems to break ImportMaps"
### Describe the bug
I've been using Avo version 2.9.0 perfectly, alongside my app using ImportMaps (rails 7 default setup), without any issue.
In order to use the `force_locale` feature introduced in 2.9.1.pre4, I've bumped the gem.
But somehow, this broke import map somehow, and the app (NOT avo) does not have any Javascript anymore.

I really have no idea why. I've been looking into this for ho

[2022-07-04 16:40] adrianthedev commented on #1011
Hey @db0sch,

I tried to replicate this with a new rails app with importmaps.

The imported JS loads properly on my end. Can you try it on your end and confirm it works?

[code]

Where are you getting that error? Are you using SSL in development?

![CleanShot 2022-07-04 at 19 36 59](https://user-images.githubusercontent.com/1334409/177193390-23a3c437-6a69-4de5-8b16-31cdf1070ff4.png)

[2022-07-04 16:41] adrianthedev commented on #1011
Using `2.9.1pre6` BTW

![CleanShot 2022-07-04 at 19 41 28](https://user-images.githubusercontent.com/1334409/177193783-fb33b2ee-6012-4ff3-81a5-66e6a0f43447.png)

[2022-07-04 16:49] adrianthedev commented on #1011
Actually, let me troubleshoot it some more.

[2022-07-04 17:08] adrianthedev commented on #1011
I see some differences from `main` and `2.9.0`. I'm actively looking into it.

[2022-07-04 17:30] adrianthedev commented on #1011
@db0sch, I found it.

I release the `pre` versions from my own machine built in a custom docker image. The build process also picks up a few more artifacts from my machine, so they are a bit different from the official releases.

In `pre4` and `pre6` (and probably in other `pre` releases), there's a rogue empty `application.js` file lurking in the `app/assets/builds` directory, that shouldn't be t

[2022-07-04 17:43] adrianthedev commented on #1011
@db0sch please try out `pre7`

https://rubygems.org/gems/avo/versions/2.9.1.pre7

[2022-07-05 08:25] OlexandrStorchak opened #1012 "Staging environment"
**Avo version**: 2.9.0
**Rails version**: 7.0.3
**Ruby version**: 3.0.0
**License type**  Community
Hi guys, @adrianthedev , on one of my previous questions, you suggest to use the pro option in development environmet, now i'm going to use the heroku as my staging environment, so the question is, could i use that same config pro option in this case with heroku and staging?

[2022-07-05 08:44] Sweex99 opened #1013 "Can i remove 'Go Back' and 'Cancel' buttons for specific resource?"
### Context
How Can i remove 'Go Back' and 'Cancel' buttons for specific resource? Like `self.show_back_button = true` and `self.show_cancel_button = true`. And can i remove index page for some resources (only - :show, :edit, :create)?

### System configuration
**Avo version**: 2.9.1

**Rails version**: 7.0.1

**Ruby version**: 3.1.2

**License type** (Community or Pro): Community

### Screenshots

[2022-07-05 09:35] adrianthedev commented on #1012
You'd need a valid Pro license to run with a `pro` configuration in environments other than development. You can start a trial [here](https://avohq.io/subscriptions/new?plan=2&trial=1) and get a valid `pro` license key, and then, yes, you can use it in your staging environment.

[2022-07-05 09:54] adrianthedev commented on #1013
You can't do that right now.

We're open for PRs if you'd like to tackle that. Shouldn't be that difficult.

[2022-07-05 10:07] iainbeeston opened #1014 "Tooltip for delete row on keyvalue field is "null""
### Describe the bug
I have a key value field, when I hover over the button to add a row the tooltip says "Add row", but when I hover over the button to delete a row the tooltip is "null"

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add a key value field without a `delete_text` option
2. Start your app, navigate to this resource in avo
3. Add a row to the key value field
4. Hover ov

[2022-07-05 10:15] Sweex99 commented on #1013
@adrianthedev Can you implement - disable index page?

[2022-07-05 10:18] adrianthedev commented on #1013
Oh, sorry. I didn't see that. I usually post different tickets for each request.

What do you mean by "disable index page"? Do you mean to not have it available on the sidebar menu? You could do that using the `index?` method on your policy. More details [here](https://docs.avohq.io/2.0/authorization.html#policies).

[2022-07-05 10:30] Sweex99 commented on #1013
got it! wait for your PR)

[2022-07-05 10:34] adrianthedev commented on #1013
I'm pretty swamped with features customers requested a while back. I'm not sure when I'll be available to add that.
TBH, the quickest way of getting that feature is to try and make the PR yourself when you have time. You can use a different option as a guide. Something like `self.description` on the `BaseResource`.

[2022-07-05 10:37] iainbeeston opened #1015 "Add allow_blank option for select fields"
### Feature
I'd like to have an `allow_blank` option for select fields so it always includes a nil or blank option. Right now you can make a select field blank when you create a resource but once a value has been selected it can never be set back to blank because avo doesn't render a blank option.

### Current workarounds
If you specify field options yourself, it's possible to do this, but that is

[2022-07-05 10:37] OlexandrStorchak commented on #1012
@adrianthedev thank you!

[2022-07-05 10:44] iainbeeston commented on #1015
This also applies to the country field (once you have selected a country you cannot set it back to blank)

[2022-07-05 10:47] Sweex99 commented on #1013
got it, i am not sure that i will have enough time(, but it not need ASAP

[2022-07-05 10:52] adrianthedev commented on #1015
Got it! Makes sense! It's on the roadmap as next up.

[2022-07-05 10:53] adrianthedev commented on #1011
Did that fix it for you @db0sch?

[2022-07-05 11:24] hassyyy opened #1016 "Save button is not displayed in create form for authorized users"
### Describe the bug

Save button is not displayed in create form when the user is authorized to create but not to update

### Steps to Reproduce
Steps to reproduce the behavior:
1. Create a resource
2. Create a authorization policy
3. Set `create?` to true and `update?` to false
4. Go to create page of the resource

### Expected behavior
Save button is not displayed

### Actual behavior
Save butt

[2022-07-05 11:33] hassyyy commented on #1016
Not sure why it's not working for me :/

[2022-07-05 11:36] adrianthedev commented on #1016
I see you're using the community version. The authorization feature is a Pro feature. You can get a license [here](https://avohq.io/subscriptions/new?plan=2) to enable it.

[2022-07-05 11:43] #1016 closed

[2022-07-05 12:44] iainbeeston commented on #659
I'd really like to see this too. Looking at the roadmap it says this has been done, but I can't see it on 2.9.1.pre7?

[2022-07-05 14:24] #623 closed

[2022-07-05 14:24] #627 closed

[2022-07-05 14:24] #813 closed

[2022-07-05 15:24] db0sch commented on #1011
Hello @adrianthedev Thanks a lot.
I didn't have the time to check if the new release fixes, yet.
I'll try tonight, or tomorrow morning.
Thanks a lot for being so reactive 🙏

[2022-07-05 20:38] adrianthedev commented on #980
Hey @JensRavens can you give [2.9.2.pre1](https://rubygems.org/gems/avo/versions/2.9.2.pre1) a try? I made some adjustments that should fix it.

[2022-07-06 08:19] hassyyy opened #1018 "'Go Back' doesn't work as expected when navigating to an associated resource"
### Describe the bug

Clicking on "Go back" in show page doesn't go back to the previous page. Instead, it goes back to the index page of the resource

### Steps to Reproduce
Steps to reproduce the behavior:
1. Create a resource(Reviews) which is associated to another resource(User)
2. Go to index page of resource(Reviews)
3. Click on the associated resource record(User)
4. Click on 'Go Back'

###

[2022-07-06 08:22] adrianthedev commented on #1018
Yes, I see what you mean. I generally left those like this because they are not a painful problem. It's more of an annoyance.

This is a good first issue that someone starting out could pick up.

[2022-07-06 08:23] adrianthedev commented on #1011
Cool. No hurry!

[2022-07-06 08:27] hassyyy commented on #1018
Yes, exactly. Back button in the browser or the device works as expected. I thought of disabling that button itself but I came to know that [it's not available yet](https://github.com/avo-hq/avo/issues/1013)

Let's wait for someone to fix it either way. If I get time, I will give it a try as well 💪

[2022-07-06 09:58] db0sch commented on #1011
Thanks @adrianthedev
Unfortunately, I do have the same bug.

Interestingly enough though, I compared the 2 application.js sent by the app with and without the pre7 version of avo:

Without AVO pre7:
[code]

☝️ which matches with what I have in my code

WITH pre7:
[code]
and this `.map` file lead to:
[code]

So indeed, somehow, pre-release is including a rogue `application.js` taking the precedence

[2022-07-06 10:04] adrianthedev commented on #1011
Are you sure you are on pre7? Ca you run `gem uninstall avo` first to uninstall everything and then bundle install?

I just want to make sure you have the right version.
That "empty" application.js shouldn't be there.

[2022-07-06 10:06] adrianthedev commented on #1011
BTW, to install a specific version, I wrote this guide.

https://docs.avohq.io/2.0/faq.html#try-a-pre-release-version

[2022-07-06 10:16] db0sch commented on #1011
Thanks a lot @adrianthedev for your help.
Always reactive. We appreciate it.

I guess this solves the issue 👌

[2022-07-06 10:16] #1011 closed, assigned to nobody

[2022-07-06 10:57] adrianthedev commented on #1011
You're welcome! Glad it was solved. You should try `2.10` it might be fixed there too.

[2022-07-06 11:13] hassyyy commented on #1016
I guess it might have been due to this
https://github.com/avo-hq/avo/pull/991/files

It's working as expected in the latest version

[2022-07-06 14:59] adrienpoly opened #1022 "Avo locale config is ignored when Rails locale is set to something else than :en"
### Describe the bug

I am working on an app and with AVO for the Admin.
The app has a default locale in Rails set to `:fr` and available locales are [:fr, :en].

[code]
In initializers/avo.rb I have

[code]

This is a fairly new rails App with almost nothing yet in it.

### Expected behavior

What ever locale I set in `application.rb` I expect this value to be overwritten in the admin if I force

[2022-07-06 21:56] adrianthedev opened #1023 "has_many through belongs_to should prefill the belongs_to association"
### Describe the bug/feature

From [here](https://discord.com/channels/740892036978442260/740893011994738751/994308900398567545)

<img width="898" alt="CleanShot 2022-07-06 at 23 56 31@2x" src="https://user-images.githubusercontent.com/1334409/177650344-909b9487-a7ce-4113-9244-236cd828e8db.png">

### Steps to reproduce

1. Add `has_many :comments, through: :user` to `Person`
2. Add `field :comment

[2022-07-07 14:16] adrienpoly opened #1024 "Invalid license message"
### Describe the bug

I have a fairly new app with only 3 resources added to Avo and I am getting an invalid license message and Avo crash when I try to deploy it to production (expected)

### Expected behavior
as a new user with only a few resources and nothing special I expect to be in the community license

### Actual behavior

It seems the root cause is in the
[code]

 request.original_url is

[2022-07-07 14:56] mid opened #1025 "Avo is not loading (license validation is failing)"
### Describe the bug

Getting the following exception:
[code]

It seems that the licensing server is down.

[2022-07-07 15:08] iainbeeston opened #1026 "Breadcrumb links for nested resources don't preserve nesting"
### Describe the bug

I have a model with a has-many field (eg. A has many B). If I view the nested resource, the nested resource appears in the breadcrumbs as text (it's not a link). If I edit the nested resource, the nested resource becomes a link in the breadcrumbs. But if I  click on the link for the nested resource (although it does load the correct page) all nesting is lost (eg. Home > A > B

[2022-07-07 15:18] adrianthedev commented on #1025
I'm on it. Fixing it in 10 minutes. Apologies for the downtime.

[2022-07-07 15:30] adrianthedev commented on #1024
@alispat @adrienpoly The SSL certificate was renewed. I apologize for the downtime. Not sure why it didn't renew itself but will investigate.

[2022-07-07 16:02] adrianthedev commented on #1024
I sent over a license key for you to be able to do development and deployment and will fix this in the following days.

[2022-07-08 06:39] #1025 closed

[2022-07-08 15:15] adrianthedev commented on #1026
I see the bug. Fixing it in the next release.

[2022-07-08 16:11] iainbeeston opened #1029 "Reorder key-value fields"
### Feature
It would be helpful to reorder key-value fields. At the moment when you enter key values the only way to reorder them is to delete and re-add, which is difficult if you have many entries.

### Current workarounds
Delete and re-add those entries. Alternatively, when you display them to the user (outside of avo) you could apply a sort, but only very simple sorting would be possible (like

[2022-07-09 16:44] sdcoffey opened #1030 "Invalid License Error - Custom Tool?"
### Describe the bug
I just finished setting up a really basic Avo installation. Love Avo so far!

I have just a couple of resources, so I would expect to be well within the bounds of the community edition. However, I'm getting an invalid license error stating that I'm using a custom tool when I'm pretty sure I'm not. In dev this presents as a warning banner, and in production, the app crashes (wh

[2022-07-09 17:02] adrianthedev commented on #1030
Hey @sdcoffey. I sent a pro key to your email so you can continue to develop and deploy Avo.
I'm away for a few days, but I'll have a fix up soon.

[2022-07-09 17:08] sdcoffey commented on #1030
🙏 thank you!

[2022-07-09 22:35] #1024 closed

[2022-07-09 22:35] #1030 closed

[2022-07-10 13:30] gilangmlr commented on #979
Hey @adrianthedev , I encountered the same error when trying to show rolify resources. It failed to load Roles on the User details.

[code]

Here is the full rails project, https://github.com/gilangmlr/avo-rolify

Thanks for the awesome product!

[2022-07-10 16:01] adrianthedev commented on #979
Hey @gilangmlr. Can you please send over the resources you have set up for those models?

Thank you!

[2022-07-10 16:11] gilangmlr commented on #979
These are the avo resources

[code]

Rolify adds the association with their methods (`rolify`, `resourcify`)

[2022-07-10 17:13] adrianthedev commented on #1029
That sounds like a good idea. It shouldn't be that difficult to implement. Maybe someone can pick it up.

 - We have icon assets for records re-ordering (`arrow-up.svg` & `arrow-down.svg`).
 - The JS logic should be to move an item in an array. The field holds the items as array of arrays in memory (`[['hoho', 'hohoho'], ['Teste', 'abc'], ...]` in the above example).
 - The JS logic should enable/

[2022-07-10 17:15] adrianthedev commented on #979
Ok. Got it. I'll have a look at it this week or next week. If you need it sooner and want to pick it up let me know.

[2022-07-10 17:27] adrianthedev commented on #1024
I released https://rubygems.org/gems/avo/versions/2.10.2 that should address this issue ✌️

[2022-07-10 17:27] adrianthedev commented on #1030
I released https://rubygems.org/gems/avo/versions/2.10.2 that should address this issue ✌️

[2022-07-11 04:56] vfonic opened #1034 "Zeitwerk defines the constant Generators after the directory"
### Describe the bug

[code]

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add Avo to your Rails project `Gemfile`: `gem 'avo', '~> 1.25'
2. `bundle install`
3. `bundle exec rails console`
4. See error

### Expected behavior

No warnings raised

### Actual behavior

Zeitwerk raises an error about Avo generator

### System configuration
**Avo version**: 1.25.1

**Rails version**: 6.0.

[2022-07-11 09:17] adrianthedev commented on #980
Hey @JensRavens have you had a chance to test this build?

[2022-07-11 11:08] JensRavens commented on #980
@adrianthedev just did a test run and yep - it's fixed :)

[2022-07-11 12:57] adrianthedev commented on #980
Phew. That was a nasty one. Thanks!

[2022-07-11 13:19] #1034 closed

[2022-07-11 14:33] Paul-Bob opened #1040 "Resource index "missing required keys: [:id]""
### Expected behavior & Actual behavior

After update avo from 2.8.0 to 2.10.2 some resources index throws exceptions ( see screen-shot ).

### System configuration
**Avo version**: Using avo 2.10.2 (was 2.8.0)

**Rails version**: Rails 6.1.6

**Ruby version**: ruby 3.0.2p107

**License type** (Community or Pro): Pro

### Screenshots
![image](https://user-images.githubusercontent.com/69730720/1782

[2022-07-11 21:10] sdcoffey opened #1041 "Search 404 on resource with namespaced model"
### Describe the bug
I get a 404 when using search on a resource with a namespaced model.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add this configuration '...'
2. Go to '...'
3. Click on '....'
4. Scroll down to '....'
5. See error

### Expected behavior & Actual behavior

### Models and resource files

### System configuration
**Avo version**:

**Rails version**:

**Ruby versio

[2022-07-11 21:10] #1041 closed

[2022-07-11 21:18] sdcoffey opened #1042 "404 when searching on resource with namespaced model"
Hey Avo team! Have another one for you

### Describe the bug
I have this resource:

[code]

When i run a search on this resource from the index page, I get the following error (as seen in the Rails logs):

[code]

If i `gem open avo` and make the following change here:

**Before**
https://github.com/avo-hq/avo/blob/7a6721b6d8fb4871517c837db7e38a77ba0f09f8/app/components/avo/views/resource_index_co

[2022-07-12 10:06] shiroemons opened #1043 "Add `accept` option for file and files fields"
### Feature

It would be nice if it could be restricted by mime-types in file and files fields.

https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/accept
https://api.rubyonrails.org/v7.0.3/classes/ActionView/Helpers/FormHelper.html#method-i-file_field

### Current workarounds

### Screenshots

### Additional context

[2022-07-12 10:24] adrianthedev commented on #1043
This is not a bad idea and not that difficult to make. It would be a "pass through" option for the file/files field.

[2022-07-12 21:03] #1015 closed

[2022-07-13 09:22] adrianthedev commented on #1042
That's amazing @sdcoffey. That must have slipped on a refactoring. Would you mind opening a PR with that fix? We should be able to release it on Tuesday.

Thank you!

[2022-07-13 13:02] #980 closed

[2022-07-13 20:57] coffenbacher opened #1051 "Tool generator results in root_path error"
I'm getting an error when I run:

`bin/rails generate avo:tool example`

Not quite sure what to look into from here or what information would be helpful for debugging...

[code]

[2022-07-13 21:42] adrianthedev commented on #1051
Thanks, @coffenbacher. This should be fixed in https://github.com/avo-hq/avo/pull/1033. Avo gets released every Tuesday.

Until then please do the following to temporarily fix it on your end

- in your app run `bundle open avo`
- navigate to `lib/avo/configuration.rb` line ~ 126 on `def computed_root_path` method
- change `Avo::App.root_path` to `Avo.configuration.root_path`
- close the editor and

[2022-07-13 22:53] #1051 closed

[2022-07-14 21:36] coffenbacher opened #1052 "404 for search with custom relative_url_root"
### Describe the bug

Avo has_many related search isn't using relative_url_root

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add this configuration
application.rb
[code]
config.ru
[code]
3. Make a has_many association searchable: true
4. observe 404

### Expected behavior & Actual behavior
Expected: search request at
http://localhost:3000/development/internal-api/avo/avo_api/teams/s

[2022-07-14 22:45] #1040 closed

[2022-07-14 23:22] #1042 closed

[2022-07-15 00:11] adrianthedev commented on #1022
Hey @adrienpoly.

Sorry, but that's not what the `locale` option is used for. It will still use the Rails settings, in your case `default_locale = :fr`. It's a bit less opinionated that way.
You can force a locale on Avo using the `?force_locale=en` param in your route.

I understand it's not the best experience when you first use it. It would be cool to have such a feature in the future.

I'm clo

[2022-07-15 09:53] adrienpoly commented on #1022
Ok fine.

May I ask for a clarification of what is this setting used for ?

From reading the [doc](https://docs.avohq.io/2.0/localization.html#setting-the-locale) I kind of understood it was the expected behavior.

[2022-07-15 14:03] adrianthedev commented on #1022
Fair enough! It wasn't used anywhere. It's fixed now and should work properly. I updated the docs too.

https://docs.avohq.io/2.0/localization.html#setting-the-locale

[2022-07-15 16:40] adrianthedev commented on #979
I had a look over this, @btonic please add the inverse association on the resource that's failing with the `as:` attribute. You haven't sent over any code samples, so I can't help you more than just that.

I think that should fix it on your end.

Please try out this pre-release version and let me know if this fixes it for you guys @btonic and @gilangmlr.

https://docs.avohq.io/2.0/faq.html#try-a-p

[2022-07-15 16:49] #979 closed

[2022-07-17 00:02] lukasedw opened #1063 "I can't have a resource named Order"
### Describe the bug
I can't have a resource named Order, after you create one you can even see the index

### Steps to Reproduce
Steps to reproduce the behavior:
1. Generate a resource with name order
2. Try to test the complete CRUD, go create one order.
3. 5. See error

### System configuration
**Avo version**: 2.10.2

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type**:

 - [

[2022-07-17 08:08] adrianthedev commented on #1063
Ues. It's a bug introduced in the last release.

[This](https://github.com/avo-hq/avo/pull/1053) PR fixes that. It should be out in the next release.

[2022-07-17 08:08] #1063 closed

[2022-07-17 14:18] pmackay commented on #1005
I think I'm finding a similar problem. Would be interested if there is an identified issue on this.

[2022-07-17 16:19] adrianthedev commented on #1005
Hey @mid, I see the bug. I'll have it fixed in the next release. Thank you for writing!

[2022-07-19 07:37] jony1993 opened #1066 "Record Ordering not working in Avo 2.10.2"
### Describe the bug
After updating from version 2.7.0 to 2.10.2 some of our associations could not be loaded.
After checking it, it seems that the record ordering of associations is causing this error.
Saw no breaking change regarding this in the avo docs

[code]

I get following error
undefined method `associations_order_path' for #<ActionDispatch::Routing::RoutesProxy:0x0000ffff5d918428>

### E

[2022-07-19 09:20] adrianthedev commented on #1066
Yes, a bug was introduced at some point that broke it. [This](https://github.com/avo-hq/avo/pull/1053) PR should fix it in today's release.

Closing for now, but please feel free to reopen if needed.

[2022-07-19 09:20] #1066 closed

[2022-07-19 13:23] jony1993 opened #1067 "Config "buttons_on_form_footers: true" show form buttons at the top and not the footer"
### Describe the bug
It seems that when you set the config "buttons_on_form_footers" the footer is visible at the top above the form and not below.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Enable buttons_on_form_footers in avo settings
2. Navigate to a form

### Expected behavior & Actual behavior
Form buttons should be present below and not above the form

### System configurat

[2022-07-19 15:59] adrianthedev commented on #1067
It's actually View components acting out 😐

[2022-07-19 16:26] dhnaranjo opened #1068 "A mechanism for identifying/generating paths from resources"
### Feature
Given an arbitrary Avo resource or AR model, I would like to have route helpers to call `new_resourses_RESOURCENAME_path` appropriate for the resource or model.

Roughly I'd like to be able to:
[code]

### Current workarounds
The absence of the feature is non-blocking. I'm able to work around it well enough. In each relevant resource define a method similar to the one below and call it

[2022-07-19 16:29] adrianthedev commented on #1068
Given it's a `PredictionResource`, the `avo.new_resources_prediction_path` helper should work just fine.

Can you share the Avo version and the name of your resource, please? AFAIK the path helpers should work.

[2022-07-19 16:31] adrianthedev commented on #1068
Please try `Avo::App.view_context.avo.new_resources_prediction_path`. The base action does not have the `view_context` object so it doesn't know how to create the routes. I'll add it in the next release.

[2022-07-19 16:46] #1068 closed

[2022-07-19 16:53] dhnaranjo commented on #1068
I'm on Avo 2.9.0.

What I'm looking for is the ability for the Action to be reusable for multiple arbitrary Resources. I should be able to create a brand new model and resource and add this duplication behavior to it by adding the action to the `Resource` and my concern to the `ResourcesController`, without making modification to either the action or concern. Currently this isn't possible.

I was

[2022-07-19 16:53] adrianthedev opened #1070 "Scoped search in has_many associations"
### Feature

From [this](https://discord.com/channels/740892036978442260/740893011994738751/998947654560141362) thread.

This PR still needs a bit of research to make sure it's feasible to automatic usage of `search_query` on the parent resource.

### To do

- [ ] Avo should have an easy way to scope out searches for `has_many` associations.
- [ ] The search box should be hidden in the association

[2022-07-19 18:04] adrianthedev commented on #1068
Hey man, nothing to be embarrassed about. If anything, I should be for not surfacing the docs better. Working on that.

You can use `Avo::App.view_context.avo.new_resources_prediction_path` to fix that temporarily until the next release when the regular routes will work.

[2022-07-19 20:19] adrianthedev opened #1072 "Resource cards"
Add the ability to add cards to the resource, similarly to how we do it on a dashboard.

[2022-07-20 06:54] jony1993 opened #1074 "Error with optional belongs_to and resource labels"
### Describe the bug
It seems that in the newest Avo version (2.11.0, upgraded from version 2.7) labels of optional belongs_to are causing error on loading the index (and also edit) view of a resource.

For example:
If I have a list of `users` which have a optional belongs_to field, then I get following error on loading the users index view:

[code]

### Steps to Reproduce
Steps to reproduce the b

[2022-07-20 13:17] adrianthedev opened #1075 "Extract the CardComponent to be used by custom tools"
### Feature

Similarly to how we have the `PanelComponent` that can be used in custom tools and resource tools, we should have the counterpart for cards.

- [ ] extract the `CardComponent` to support custom HTML, `name`, `description`, `cols`, `rows`, `ranges`, `default_range`, and `display_header` options. it should also take a block that will be the content to be displayed in the body of the car

[2022-07-20 13:19] adrianthedev opened #1076 "Initial iteration on theming"
### Context

We need a way to allow the developers to change the appearance of Avo.
The initial iteration will cover adding custom CSS variables to a configuration path to get loaded in the front-end.

### Initial configuration:

- [ ] primary and secondary colors
- [ ] border-radius (maybe)

### Tasks:

- [ ] add configuration for CSS variables (ruby DSL)
- [ ] output the configuration on the fro

[2022-07-20 15:08] Sweex99 opened #1077 "Cant include stimulus controller to avo custom page"
### Context
I created custom page (html, route, action in controller).After that created stimulus controller but it doesnt work. How can i include stimulus controller to custom page?
### System configuration
**Avo version**: 2.10.2

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type** (Community or Pro): Com

### Screenshots
![Screenshot 2022-07-20 at 18 06 43](https://user-images

[2022-07-20 15:11] Sweex99 opened #1078 "Include stimulus to custom page"
### Context
I create customer page (html, route, action controller) and i want to connect stimulus controller to my custom page but it does not work. How can i include stimulus controller to customer page
### System configuration
**Avo version**: 2.10.2

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type** (Community or Pro): COM

### Screenshots

![Screenshot 2022-07-20 at 18 06

[2022-07-20 15:35] #1077 closed

[2022-07-20 16:41] adrianthedev commented on #1078
You need to add that JS controller on the page with a custom asset pipeline. It sounds more advanced than it is.

It's adding the JS `javascript_include_tag` to your `_head.html.erb` partial (which you eject from Avo with `bin/rails generate avo:eject :head`.

[2022-07-20 19:19] adrianthedev opened #1079 "Date field adds/subtracts timezone offset"
### Describe the bug

The date field is subtracting the timezone offset when it shouldn't

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a resource with a date field
2. set the field to 20th of the month
3. set the browser timezone to something US based like `CST`
4. observe on the `Index` it displays 19th instead of 20th

### System configuration
**Avo version**:
6.11

**Rails

[2022-07-20 22:23] adrianthedev opened #1082 "Customizable resource controls"
### Feature

Add the ability to customize the resource controls.

![CleanShot 2022-07-21 at 01 22 43](https://user-images.githubusercontent.com/1334409/180092714-70ee42a7-280d-46e8-9f88-3c9501898504.jpg)

### Current workarounds

Override partial.

[2022-07-21 06:31] blacklist-arcc commented on #1074
Same problem on our site. We have a resource with `belongs_to :other_resource, required: false` in the model. Viewing the resource with the ` :belongs_to` option in the avo resource will result in the same error.

[code]

Business impact is medium for us - the field can be edited on the opposite site with `has_one` relationship.

[2022-07-21 09:27] #1067 closed

[2022-07-21 10:41] adrianthedev commented on #1074
Yes, it's related to https://github.com/avo-hq/avo/pull/1084.

View component changed the way it evaluates the content inside a wrapper component. Pre v`2.61` it did not evaluate it before, now it evaluates it beforehand. We used the wrapper components as safeguards for scenarios like these (when the value is `nil`) and now that broke with that release.

@blacklist-arcc and @jony1993 please use ve

[2022-07-21 10:41] #1074 closed

[2022-07-21 10:42] adrianthedev commented on #1074
And thank you for reporting it so soon!

[2022-07-21 19:48] adrianthedev opened #1085 "Custom Pundit policy per resource"
### Feature

Add the ability to select which policy a resource should use.

From [here](https://discord.com/channels/740892036978442260/740893011994738751/999699188004692009).

### Approach
_These thoughts come to my mind but feel free to use your own approach._

Add a `authorization_policy` `class_attribute` to `BaseResource`.

Right now, each resource has an `authorization` method applied to it.

[2022-07-22 04:58] MrJoy opened #1086 "Date fields broken on 2.11.1"
### Describe the bug

### Steps to Reproduce

[code]

### Expected behavior & Actual behavior

<img width="129" alt="image" src="https://user-images.githubusercontent.com/113625/180365774-6d0d3980-7fe1-451c-a49d-e783f6450af9.png">

### Models and resource files

### System configuration
**Avo version**: 2.11.1

**Rails version**: 7.0.3.1

**Ruby version**: 3.0.4

**License type**:

 - [x] Communit

[2022-07-22 04:59] MrJoy commented on #1086
As an interesting follow-up:  If I omit the format parameter entirely, I get this:

<img width="148" alt="image" src="https://user-images.githubusercontent.com/113625/180366037-e89409f1-2e3f-4ae4-868c-00251d818ce2.png">

[2022-07-22 05:09] MrJoy commented on #1086
Ah, I see I missed a step on the update.  That said, I tried changing the format like so:

[code]

And:

[code]

And neither works.  I just get "Invalid DateTime".

[2022-07-22 05:49] MrJoy commented on #1086
Looking at the raw HTML via curl:

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/113625/180371812-bf35d167-24f5-402a-81a7-475d1effdc14.png">

So, somehow the _format_ is being used for both the format _and_ the raw value.

[2022-07-22 05:52] MrJoy commented on #1086
Aaaand, it's once again my fault.

[code]

And that, obviously, won't work here.

[2022-07-22 05:52] #1086 closed

[2022-07-22 19:18] dhnaranjo opened #1088 "Field `html` argument should override default stimulus controller target name"
### Context
When a resource has a Stimulus controller assigned to it all elements get a data attribute of `data-controller-name-target` with a value of `fieldNameAndType`. This attribute is not overrideable by the `html` argument to the field. This makes it pretty dang hard to create controllers that aren't tightly coupled to specific fields. I'd suggest that the manually set target name should ta

[2022-07-22 21:11] adrianthedev commented on #1088
That makes sense. Thanks for writing!

It'll be out in the next release. Please use the built-in selectors until then.

[2022-07-22 21:17] #1088 closed

[2022-07-22 21:39] #1005 closed

[2022-07-24 15:56] pmackay opened #1092 "Issues with load and reload"
### Context
As first mentioned in [this thread](https://discord.com/channels/740892036978442260/740893011994738751/997841132706877460), I am trying to understand a loading conflict between Avo and the `schema` method provided by dry-rails (via dry-schema). It is showing
[code]
where FooController would be the 1st controller in my app that uses the `schema` method.

This appears to happen when both

[2022-07-25 07:26] mvondoyannick opened #1093 "Avo integration with frieldly-id"
### Context
How can i use Avo with friedly Id Gem? i have my app using friend Id gem, but this gem is not using ID to identify post, but use a uniq to identify post in databases.
But Avo resource use Id to identify record in databases, so my question is how can i do, using friendly id gem and Avo gem to identify a post in my DB.

thanks

### System configuration
**Avo version**: 2.11.1

**Rails ve

[2022-07-25 07:55] mvondoyannick commented on #1093
Rails version : 6.1.6.1

[2022-07-25 15:22] adrianthedev commented on #1093
Hey there.
Use the custom query scopes for that.
There's an example woth friendly id in the docs.

https://docs.avohq.io/2.0/customization.html#custom-find-scope

[2022-07-26 04:27] mvondoyannick opened #1096 "Unable to launch Avo"
### Context
Just install Avo to my rails project and when i run rails s i have this error on terminal i have this error undefined method `push_dir' for nil:NilClass (NoMethodError)

[code]

### System configuration
**Avo version**: 2.11.1

**Rails version**: 6.0.5.1

**Ruby version**: 3.0.4

**License type** (Community or Pro): Community

### Screenshots
![avo error](https://user-images.githubuser

[2022-07-26 09:53] adrianthedev commented on #1096
Is this a new installation of Rails or an existing app?

The line this refers to is this one `Rails.autoloaders.main.push_dir path.to_s`. It suggests that `Rails.autoloaders.main` is `nil`, and it should not be that way.

Can you tell (presuming it's not a new app) if you have any setting in your app that overrides the "regular" way of dong autoloading or gem loading?

[2022-07-26 10:07] adrianthedev commented on #1092
I don't feel comfortable doing that. It's just not [the recommended way](https://github.com/fxn/zeitwerk#for_gem) of doing things.

I'm not sure this is "an issue with Avo".

Can you re-create this in a new app and post the repo here?

Re-creating this would ensure this manifests itself because `dry-rb` and/or `avo`, and not the application internals, and would be the best way to develop and test

[2022-07-26 19:40] adrianthedev opened #1103 "Add the resource option to has_many/has_and_bleogns_to_many associations"
### Feature

Example:

`field :comments, as: :has_many, resource: CommentResource`

the `resource` option can take the resource class or a string that can later be constantized.

Example: `ModelClassConstantized`

### Current workarounds

### Screenshots

### Additional context

[2022-07-29 09:28] adrianthedev opened #1110 "Has one field adds all the associations when it shouldn't"
### Describe the bug

Has one field adds all the associations when it shouldn't

### Steps to Reproduce
Steps to reproduce the behavior:
1. In the dummy app
2. go to team with ID=4
3. make sure there's an admin attached

### Expected behavior & Actual behavior

Instead of seeing **just the main panel** you get to see all the tabs and association fields.

### System configuration
**Avo version**: 2

[2022-07-29 10:34] #1110 closed

[2022-07-29 14:23] adrianthedev opened #1112 "Inline edit on Index view"
### Feature

We'd like to enable the use to inline edit records on the `Index` view.

From [this](https://discord.com/channels/740892036978442260/740893011994738751/1002535463892025384) thread.

[2022-07-30 23:21] adrianthedev opened #1113 "When deleting from a parent record the user doesn't get redirected to the parent record"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a post
2. Click on a related comment
3. delete it
4. notice it won't redirect you back to the parent post

### Expected behavior & Actual behavior

It should redirect you back to that post.

### Models and resource files

### System configuration
**Avo version**:

**Rails version**:

**Ruby version**:

**License

[2022-07-30 23:30] adrianthedev opened #1114 "Searchable associations attach modal styling and search broken"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a course
2. click "Attach link"
3. Observe the broken styling of the input
4. Observe that the search did not work after you click the field

### Expected behavior & Actual behavior

### Models and resource files

[code]

### System configuration
**Avo version**: 2

**Rails version**:

**Ruby version**:

**Licen

[2022-07-31 03:28] #1000 closed

[2022-07-31 18:06] adrianthedev opened #1115 "Redirect back to the previous tab when navigating back from a resource link"
### Feature

When you're on a record on a specific tab (second tab), and you click on a link to an association, when you click the back button, it would be a better experience if that tab were in focus. In focus, meaning the page is scrolled to that particular tab group, and the second tab is selected.

### Approach

I don't have any specifics here because I haven't tried to make this work yet. Op

[2022-08-01 15:32] OlexYakov opened #1116 "Add option to make table headers on index view sticky"
### Feature
Add option to make table headers on index view sticky.
If we have many rows on the index table, after scrolling down the header becomes hidden, and although it's not crucial, it would be a nice UX improvement to be able to see the column names.

### Current workarounds
None

### Screenshots
![image](https://user-images.githubusercontent.com/30861670/182184270-7bc7413a-4035-4607-88a9-e7

[2022-08-01 19:26] adrianthedev opened #1117 "Wrong back button path when trying to create from a has_many association"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a project
2. Click on create comment
3. Click on back

### Expected behavior & Actual behavior

It should redirect to the project show page but it redirect to the comments page.

### Approach

The back link should take into account the `via_relation_class` and `via_resource_id` params to generate the proper link

[2022-08-01 19:29] adrianthedev opened #1118 "Resetting the filters on a has_many associations page redirects the whole page to that resource instead of refreshing the turbo frame"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a user
2. scroll to a team
3. select a filter for teams
4. reset the filters

### Expected behavior & Actual behavior

It redirects to teams instead of keeping you on that page

### Screenshots

![Uploading CleanShot 2022-08-01 at 22.28.35.gif…]()

### Additional context

#### Impact

 - [ ] High impact
 - [x] M

[2022-08-01 19:44] adrianthedev opened #1119 "Avo crashes if the validator fails and the user attached a file"
### Describe the bug

It only happens sometimes.

### Steps to Reproduce and brake
Steps to reproduce the behavior:
1. Go to projects
2. click on create project
3. click attach a file and don't fill in any fields
4. click on submit and see it crash

<details>
<summary>Fails with</summary>

[code]
![CleanShot 2022-08-01 at 22 41 17](https://user-images.githubusercontent.com/1334409/182231943-4523f1

[2022-08-02 09:54] #1103 closed

[2022-08-05 14:41] CGA1123 opened #1123 "NoMethodError on `heading` when upgrading from `2.7.0` ➡️ `2.11.0`"
### Describe the bug

When upgrading `avo` from `2.7.0` to `2.11.0` I'm seeing the following `NoMethodError`:

[code]

### Expected behavior & Actual behavior

Would not expect a minor version to break existing resource configurations.

### Models and resource files

[code]

### System configuration
**Avo version**: 2.12.0

**Rails version**: 6.1.6.1

**Ruby version**: ruby 2.7.5p203

**License ty

[2022-08-05 14:59] #1123 closed

[2022-08-06 14:06] adrianthedev opened #1125 "Searchable has_many attach modal has broken styling"
### Describe the bug

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to a team
2. click on attach membership
3. observe the broken styling

### Screenshots

![CleanShot 2022-08-06 at 17 05 07](https://user-images.githubusercontent.com/1334409/183252306-decd733a-8c74-42ab-ad6e-7beb487307d6.jpg)

[2022-08-07 03:14] #1023 closed

[2022-08-08 14:36] OlexYakov opened #1126 "Using native Avo components in Resource Tools"
### Context
First of all, great work! Avo has been evolving faster than ever!
I don't actually have an issue, it's more of a comment/suggestion about the recent nested fields feature [Avo 2.12](https://www.youtube.com/watch?v=MfryUtcXqvU&t=1143s).

We've had this problem and ended up solving it with a custom page, but now we will probably move it to a _Resource Tool_, since the form object is alre

[2022-08-08 19:06] adrianthedev commented on #986
We're going to use [this](https://github.com/avo-hq/avo/pull/993#issuecomment-1208499226) approach.

[2022-08-08 23:39] #1082 closed

[2022-08-09 12:50] adrianthedev commented on #1126
Hey @OlexYakov.

First of all, congrats for digging through the code and making sense of it. I hope you didn't pull your hair out while trying to make sense of it all :)

Second, thanks for putting in the effort to hack it to your needs and creating this ticket to show us your progress.

I was speaking with @Paul-Bob about making these kinds of tools and components more easily available to you, th

[2022-08-09 13:28] adrianthedev opened #1128 "[RFC] Use native Avo components to build custom content"
# Proposal

Expose internal Avo components to developers to enable them to create more meaningful custom UIs for their users using the same styling as Avo.

# Examples

#### Create a `form` using Avo inputs

This would render a form that looks like any other edit resource page but in your own context. One might add it to a resource tool, a custom tool, or a dashboard, and the user wouldn't see any

[2022-08-09 19:06] adrianthedev opened #1131 "[Refactor] New design for files field"
### Feature

We have a couple of designs prepared for the files field.

- [ ] Each file should be displayed as it's type (images as `img`, videos in a player in a modal, and audio files in a player in a modal.
- [ ] The user should be able to switch between them on demand.

### Current workarounds

![CleanShot 2022-08-09 at 22 02 32](https://user-images.githubusercontent.com/1334409/183740295-d15a

[2022-08-10 02:41] coffenbacher opened #1132 "Issue with path helpers and relative URL root"
### Describe the bug

I am running my app like this, such that Avo is accessible at `http://localhost:3000/development/internal-api/avo/`
[code]
and
[code]

Most features work well, but when I try to use helpers like
[code]

It links to `/development/avo/examples` instead of `/development/internal-api/avo/examples` like I would have expected.

Any ideas??

### System configuration
**Avo version**:

[2022-08-10 08:41] adrianthedev commented on #1132
Hey man, sorry.
I never mapped out an application like that. I don't know the implications.

My hunch is that it's not an Avo issue, but a Rails & "how it handles engines" issue.

Can you share a link to the docs where that `map` statement is documented?

[2022-08-10 08:42] adrianthedev commented on #1132
Also, can't you use the regular `routes` file to use that path?

[2022-08-10 16:43] alansikora opened #1134 "Taking a long time to load some screens"
### Context
When opening a form, it will take over a minute to load the page, which remains not responsible.

### System configuration
**Avo version**: 2.12.0

**Rails version**: 7.0.3

**Ruby version**: 3.1.2

**License type** (Community or Pro): Pro (trial)

### Screenshots
https://user-images.githubusercontent.com/575138/183966010-2e045fde-bd12-4419-8807-e784076349a4.mp4

I clicked on edit and

[2022-08-10 16:45] adrianthedev commented on #1134
It's probably the `belongs_to` field that's loading all the products in order to display them in the select box.

Try adding `searchable: true` to that field.

[2022-08-10 16:52] alansikora commented on #1134
Bingo! Thanks a lot!

[2022-08-10 16:52] #1134 closed

[2022-08-10 21:08] coffenbacher commented on #1132
Could be a Rails issue indeed. The support for running at relative paths seems pretty wonky. I was following [this blog post](https://jlintusaari.net/deploying-rails-application-to-subdirectory/) to get it working because the official Rails guide.

If this is unlikely to be Avo-specific, I'll try digging into it and seeing if I can resolve it.

What did you mean by using the `routes` file, I didn'

[2022-08-10 21:57] coffenbacher commented on #1132
Yeah 👍  basically what I'm doing is serving different environments with nginx on different prefixes, but for that to work the application has to link to the prefixed URLs
[code]

Anyways, that is way outside of Avo so I won't bother you with that, but I appreciate the idea of a scope and if I can't figure out why the paths are wrong I'll try that instead!

I did notice one odd thing though and I'm

[2022-08-10 22:48] adrianthedev commented on #1132
I think I noticed that at one point.

Try moving the custom tool routes from `Rails.application.routes.draw do` to a new `Avo::Engine.routes.draw do` like below.

[code]

Here's [the guide](https://docs.avohq.io/2.0/recipes/multitenancy.html#update-the-custom-tools-routes) for multitenancy.

[2022-08-11 02:34] coffenbacher commented on #1132
Oh sick, that worked! Thank you! 🙌

[2022-08-11 02:34] #1132 closed

[2022-08-11 02:41] coffenbacher opened #1136 "Pre-populate fields on create pages from URL params"
### Feature

I would love it if there was a way to pre-populate fields on the create page from the URL as a flexible way to link from custom tools to the standard [C]RUD page. For example:

http://localhost:3000/avo/resources/widgets/new?name=hello%20world

### Current workarounds

I imagine this might be possible using custom fields and Javascript but I haven't gotten that far yet. I thought abou

[2022-08-11 03:59] coffenbacher commented on #1128
This was one of the first thing we thought about with Avo, beyond the "basics" (which are already extremely useful)! It would be a huge feature 👏

I don't know enough about Rails rendering to comment much on the design, all of my company's apps were React/API-only until Avo. But this pretty much looks like what I'd hope for.

[2022-08-11 06:51] adrianthedev commented on #1136
Hey man.

Have you tried the [`default` option](https://docs.avohq.io/2.0/field-options.html#default-value)? It also takes a block where you can use the `params` global object.

[code]

[2022-08-11 06:54] adrianthedev commented on #1128
Oh, that's cool @coffenbacher. Thanks for writing this. I appreciate the feedback.

Not sure if you're on the [Discord server](https://avohq.io/chat), but would you be open to having a short call with me? I'm interested in your use case with Avo.

[2022-08-11 10:23] pmackay commented on #1128
This would be of great interest and a significant boost to adopting Avo (I am currently testing an integration).

IMO the View Components as API works well, we are heavily using View Components also, but appreciate there may be benefits in providing wrappers :-)

Not sure I fully understand this point, would it be possible to customise the styling somehow for use of these components for UI that us

[2022-08-11 15:02] adrianthedev commented on #1128
This means that the component we use internally, and you in custom tools, are the same. So they are styled the same. All text fields will have the same look throughout the app.

**In a future iteration**, we're considering bringing in the theming feature. This way, you'd theme a component (text field, resource index, cards, etc.), and that styling will be propagated throughout all your app.

[2022-08-11 21:03] #1070 closed

[2022-08-12 16:33] Annedj opened #1140 "Locale set by `force_locale` should apply to all links on index pages"
### Describe the bug

We have set up a Rails 7 app with Avo admin, with a multilingual content.
We use `force_locale` to set the language and translate our resources, which, as the documentation states:

The issue is that, after translating a resource in, say Japanese, when going back to the index page of a resource, **even with `force_locale=en`,** we will still see all the content in Japanese si

[2022-08-12 18:44] adrianthedev commented on #1140
Can you check this video and see if I followed the steps correctly? I don't get the same result as you do.

Also, can you please try the latest version? I remember I pushed some updates regarding forcing the locale.

https://user-images.githubusercontent.com/1334409/184423344-eed0b577-a7fe-41e9-914f-57e46e6fe2cf.mp4

[2022-08-12 21:15] coffenbacher commented on #1136
Oh great, that callback looks like exactly what I need.

Only issue now is that the default doesn't seem to work on text fields for me. The select field example in the default documentation works for me.

I.e. these both have seem to have no effect on the field content as far as I can tell:
[code]
[code]

[2022-08-15 08:47] Annedj commented on #1140
Hi @adrianthedev,

For me it happens after I update something in one of the record. So after switching to Romanian, go and edit a field of one of the users, and once back on the user index page, the record that has been just updated will stay in Romanian, and the links are stuck with `force_locale=ro`, regardless of whether you add `force_locale=ro` in the URL :/

I just tried with `avo 2.12.0` an

[2022-08-16 18:33] adrianthedev commented on #1136
Is that on the `Edit` or `New` view? The default option works only on the `new` view.

[2022-08-16 18:44] coffenbacher commented on #1136
That's on the /new view indeed.

Makes sense why the edit view wouldn't work 👍

On Tue, Aug 16, 2022, 11:33 AM Adrian Marin ***@***.***>
wrote:

[2022-08-17 07:12] adrianthedev opened #1143 "On invalid license responses, re-check a few more times so the 1h window becomes shorter."
When an Avo instance receives a "license invalid" response, the response is cached for an hour. If there's a "hiccup" with the response, that response persists for an hour. We need to make sure the response is not wrongfully cached as invalid.

### Approach

Create an exponential back-off re-check.

[2022-08-17 08:10] #1136 closed

[2022-08-17 08:11] adrianthedev commented on #1136
You could try and use the [`format_using`](https://deploy-preview-3--avo-v2-docs.netlify.app/2.0/field-options.html#fields-formatter) option to coerce the default value on edit somehow.

[2022-08-17 10:29] rickychilcott commented on #972
I was pointed to this issue on the discord server. I think it'd be fantastic for `required` to be inferred based on the model/validations, but I think the `required` field should also continue to be overridable such that we can force it to be required (or not) in Avo.

[2022-08-17 10:30] rickychilcott commented on #972
Also, this feels like a nice first issue so @iainbeeston, if you want to take a stab, that'd be super cool!

https://github.com/avo-hq/avo/pull/955 might help get you started in seeing where to hook in and make this happen.

[2022-08-17 17:39] adrianthedev opened #1146 "[RFC] Expose REST API endpoints from Avo resources"
# Proposal

Create API endpoints using the resource configuration.

# Example

A resource like the one below to expose a `/resources/teams` REST API endpoints:

[code]

[code]

# Benefits

This could make scaffolding API endpoints very easy.

## Actions

Actins could turn into their own paths, mapping parameters to fields and using their logic to execute that action

## Filters

Filters could take

[2022-08-17 18:04] #1008 closed

[2022-08-17 18:35] adrianthedev opened #1147 "Add the ability to select all resources in a filter"

[2022-08-18 06:56] adrianthedev commented on #1114
This has been fixed

[2022-08-18 06:56] #1114 closed

[2022-08-18 13:44] lukasedw opened #1149 "Filters for dashboards"
### Feature
Filters for dashboards, a way of passing the parameters for the cards query to filter by some data.

### Current workarounds
I am creating tool pages.

### Screenshots

### Additional context

[2022-08-18 17:08] adrianthedev commented on #1149
Could you describe the use case a bit better please? I don't quite get it.

[2022-08-20 08:54] adrianthedev opened #1154 "Revamp the filtering system"
Things I'd like to add to this new iteration:

- [ ] filterable fields
- [ ] allow multiple conditions
- [ ] the end-user should be able to add& remove filters and conditions as they wish

#### Code snippets

[code]

#### Screenshots

![Image](https://user-images.githubusercontent.com/1334409/185737232-6cd759eb-baf4-42f0-9b0c-66711a7d20dc.jpg)

[2022-08-20 13:31] adrianthedev commented on #1125
Fixed

[2022-08-20 13:31] #1125 closed

[2022-08-21 03:27] #1078 closed

[2022-08-21 12:40] imamrb commented on #972
Hi
Can I work on this if no one is working on it yet?

[2022-08-21 13:00] rickychilcott commented on #972
That sounds lovely!

Ricky Chilcott (he/him)

Partner

844-677-7526 x 701

***@***.***

www.missionmet.com ( http://www.missionmet.com/ )

------------------------------------------------

P.S. *Mission Met's first book, a nonprofit guide to resolving common strategic planning barriers, is here!* Learn more and purchase your copy of Mission Met: Proven Strategic Planning Guidance to Help You Build

[2022-08-22 07:19] adrianthedev opened #1156 "Broken javascript assets in production (Cloudflare minification)"
### Context

From [this thread](https://discord.com/channels/740892036978442260/740893011994738751/1010679004413579326).

You see this message in the browser console when deploying to production.

[code]

### Why is that happening?

Check if you're using Cloudflare.

Cloudflare automatically minifies the already minified assets provided by Avo. This causes some the JS not to work anymore.

### Sol

[2022-08-22 07:19] #1156 closed

[2022-08-23 09:10] #1113 closed

[2022-08-23 09:48] #895 closed

[2022-08-23 14:24] alansikora opened #1159 "Taking a long time to load edit view with a belongs_to field and a lot of records"
Context
Related to #1134. When opening a form, it will take over a minute to load the page, which remains not responsible. The page takes a long time to load and when the belongs to field is clicked, Chrome dies.

This is the definition of the resource which the view is broken:

[code]

And this is the related resource (33k records):

[code]

System configuration
Avo version: 2.12.0

Rails version

[2022-08-23 14:25] adrianthedev commented on #1159
Which page are you trying to load and takes time? Can you share the path?

[2022-08-23 14:28] alansikora commented on #1159
Sometimes it loads the screen, this is the first time it breaks before loading it.

The path is: `/crud/resources/product_prices/new`, where `crud` is the `avo` root.

https://user-images.githubusercontent.com/575138/186184464-68e5b62e-a28f-4ccd-a599-a660354dcbe8.mp4

[2022-08-23 15:23] adrianthedev commented on #1159
The license key you're using is invalid, thus rendering the Pro license invalid.

Even if you have configured the fields to be `searchable`, because the `searchable` option is a part of the Pro license and the license is invalid, the fields are rendered as regular fields (not-searchable), thus having that issue.

So the resolve here is to have a valid license key.

![CleanShot 2022-08-23 at 18 11

[2022-08-23 15:31] #1159 closed

[2022-08-24 07:44] kbighorse commented on #1096
I also got this error after successfully generating 1 resource, but failing to generate 2 more. Then seeing it again on server start. What should I confirm re: regular autoloading?

[2022-08-24 07:45] kbighorse commented on #1096
this was on an existing app, not a new one.

[2022-08-24 07:46] adrianthedev commented on #1096
@kbighorse can you share the following details please:
- rails version
- avo version
- ruby version
- new or existing app
- have you done anything special to the autoloading settings? Or maybe use a gem that touches them?

[2022-08-24 07:47] kbighorse commented on #1096
- `rails 6.1.6.1`
- `avo 2.13.1`
- `ruby 3.0.4`
- existing
- not to my knowledge

[2022-08-24 07:50] kbighorse commented on #1096
I can add that my default branch starts up fine, and only my avo topic branch has this issue.

[2022-08-24 08:05] adrianthedev commented on #1096
@kbighorse can you jump on to a call now to pair up and troubleshoot together?

https://whereby.com/adrianthedev

[2022-08-24 08:47] adrianthedev commented on #1096
It seems you are unavailable now.
Please book a time at your earliest convenience [here](https://calendly.com/adrianthedev) so we can troubleshoot together.

That's an option for you too @mvondoyannick.

Just to be clear, this issue only happened to you guys as far as I know so I guess it's something related to the app configuration.
That being said, I still want to find out what the issue is and

[2022-08-24 11:15] adrianthedev commented on #1096
Hey @mvondoyannick & @kbighorse, can you check if you use the classic mode of autoloading? Check if you have this somewhere `config.autoloader = :classic` or just `config.autoloader`.

[2022-08-24 11:18] adrianthedev commented on #1092
Hey @pmackay do you have any updates on this issue? Have you managed to get around it/fix it?

Thanks!

[2022-08-24 13:23] nicholaswellens opened #1162 "Authorization bugged when multiple resources have the same model class"
Encountered this bug in our project and thought it might be useful to share it.

## Bug
When multiple resources define the same `model_class`, authorization for associations (eg. attach_xxx) stopped working correctly for those resources. Although it sometimes correctly blocks the actions (not allowing to attach), the buttons are still visually shown.
In our case it was for a _has_many_ association

[2022-08-24 15:22] estebanutz commented on #1079
@adrianthedev I recently upgraded to 2.13.1, and my date fields are subtracting days each time I save.

### Steps to reproduce
Steps to reproduce the behavior:

1. Date Resource like: `field :published_date, as: :date, first_day_of_week: 1, picker_format: "F J Y", format: "yyyy-LL-dd"`
2. Create a record with a date
3. Edit record and save without touching the date field
4. Record should show a da

[2022-08-24 18:12] adrianthedev commented on #1079
Oh man. These date and date_time fields are such a PITA. I see the bug. I'll have it fixed by the next release. I'll also have a pre-release version for you to try out tmr.

Sorry about this.

[2022-08-24 18:14] estebanutz commented on #1079
@adrianthedev I know! PITA indeed! But thanks for looking into it!

[2022-08-24 18:47] adrianthedev commented on #1079
Hey @estebanutz can you try https://rubygems.org/gems/avo/versions/2.13.4.pre.1 and see if the issue persists?

[2022-08-24 20:52] faqndo97 opened #1165 "How to handle different id property"
### Context
I have a model with id and name, but the `to_param` of the model is the name, so the links to show and edit action in the admin send the `name` as the `id` and of course it returns 404. I couldn't figure out how to solve this problem. Ideas? Thanks

### System configuration
**Avo version**: 2.11.0

**Rails version**:  6.1

**Ruby version**: 3.0.4

**License type** (Community or Pro): C

[2022-08-25 06:15] adrianthedev commented on #1165
From what I can see I understand that you're trying to query the records using a custom query `/avo/resources/users/john-13` instead of `/avo/resources/users/13`, right?

Does [this](https://docs.avohq.io/2.0/customization.html#custom-find-scope) guide help?

[2022-08-25 06:28] #1117 closed

[2022-08-25 06:44] kbighorse commented on #1096
codebase search for 'autoloader' turns up empty :/

[2022-08-25 06:47] adrianthedev commented on #1096
Ok. Then we'll have to do a pairing session to check the code. Please [book](https://calendly.com/adrianthedev) something for when you're available.

[2022-08-25 06:54] kbighorse commented on #1096
This solved my issue: https://guides.rubyonrails.org/classic_to_zeitwerk_howto.html#applications-running-rails-6-x

[code]

My guess is apps that began as Rails 5 and migrated to 6 need to be explicitly set to `zeitwerk` mode.

[2022-08-25 06:55] adrianthedev commented on #1096
Bingo!!!

Thanks for looking into this and fixing the issue.

I'll add this to the docs too.

[2022-08-25 06:58] kbighorse commented on #1096
yikes, I still had in the previous line:

[code]

I think the real solution is actually:

[code]
in my case.

[2022-08-25 07:00] kbighorse commented on #1096
Definitely worth documenting, many more apps like mine will hit this. Thanks for your prompt attention!

[2022-08-25 07:03] kbighorse commented on #1096
For posterity, to confirm you have this issue:

- throw a `byebug` statement at the end of your `application.rb` and then run:

[code]

[2022-08-25 08:20] kbighorse commented on #1096
Also, it appears another consequence of this issue is that previously autoloaded `/lib` directory now needs to be explicitly autoloaded:

[code]

[2022-08-25 08:21] kbighorse commented on #1096
see: https://stackoverflow.com/questions/72266610/zeitwerk-doesnt-requires-lib-classes-properly-in-rails-6-1-6

[2022-08-25 08:25] adrianthedev commented on #1096
Thanks for keeping this up to date. I linked the docs to this issue.

[2022-08-25 10:05] jmarsh24 opened #1170 "Cannot play intro video in full screen"
### Describe the bug
https://avohq.io If you fullscreen the video on the front page of the website. The video appears greyed out and only gives you the option to open the chat bubble.

[2022-08-25 10:10] adrianthedev commented on #1170
I don't get the same results. Are you using any type of adblocker or custom script?

![CleanShot 2022-08-25 at 13 09 23](https://user-images.githubusercontent.com/1334409/186637992-17689ace-feed-455c-8662-e0626e47ae49.gif)

[2022-08-25 10:28] jmarsh24 commented on #1170
I'm using the latest safari with no adblockers or custom scripts.
![out](https://user-images.githubusercontent.com/48605824/186641644-5f372578-546f-460b-9146-345d755a0256.gif)

[2022-08-25 10:43] Adeynack commented on #1119
It happens systematically when a file is attached. Not "sometimes". And this has quite a high impact in our case at [nerdgeschoss](https://github.com/nerdgeschoss) since the user expects to be reminded of the required fields instead of seeing the application crash. 😐

We would appreciate if someone could look quickly into it. 🙏🏼

[2022-08-25 10:44] adrianthedev commented on #1162
HEy @nicholaswellens can you please try out https://rubygems.org/gems/avo/versions/2.13.5.pre.1 and let us know if it fixes the issue?

[2022-08-25 11:00] adrianthedev commented on #1170
I see it too now. Fixin it! Thanks!

[2022-08-25 11:00] #1170 closed

[2022-08-25 13:22] estebanutz commented on #1079
@adrianthedev The issue has been fixed. Thanks!

[2022-08-25 14:00] adrianthedev commented on #1162
Hmmm... yeah. You're right. I thought the field was fetched in a smarter way. Let me refactor that.

[2022-08-25 15:07] nicholaswellens commented on #1162
@adrianthedev It is working! (the problem with `name` seems to also be resolved!).

Although not needed in this particular case, I wonder what would happen if someone wants both resources to show the _association methods_. With both resources mappings added to `model_resource_mapping`, I assume only one of the resources would work correctly (tested this around a bit). In either case, for our use c

[2022-08-25 16:00] OlexYakov commented on #1162
@adrianthedev
It's solved with the `config.model_resource_mapping`, but the bug will still persist without it.
`authorize_association_for` will call `field.resource` ( `app/components/avo/resource_component.rb`), which eventually calls
`get_resource_by_model_name` in `FechesThings`. Code for context:
[code]
The problem is that we find by `resource.model_class.model_name.name`. Find will return the

[2022-08-25 16:12] nicholaswellens commented on #1162
replacing `field.resource` call by @parent_resource in `authorize_association_for` is not an option? Although it is just a local solution

[2022-08-25 16:12] adrianthedev commented on #1162
That's correct @nicholaswellens. Only one resource would work. That is the main goal of the mapping option. To set the "default" resource for a model.
However, if you want to use a different resource on a `has_many` field you can specify it with the `use_resource` fied option.

[2022-08-25 16:14] adrianthedev commented on #1162
That doesn't work because that's not the resource were looking for. It's the one on the `has_many` field. Consider that a resource can have more than one has many fields

[2022-08-25 17:46] adrianthedev commented on #1162
Guys, thank you for troubleshooting and brainstorming this with me. I appreciate your involvement in digging through the code!

I'll go ahead and merge #1171 and make the mapping a good practice with Avo apps.

[2022-08-25 18:09] adrianthedev commented on #1079
Cool. Thanks for helping and sorry about the troubles.

[2022-08-25 18:48] #986 closed

[2022-08-25 18:50] #1009 closed

[2022-08-25 18:58] adrianthedev opened #1172 "add the ability to delete the selected resources from the index page"

[2022-08-25 22:22] Paul-Bob commented on #1119
@Adeynack thank you for the details, we are working on fixing this issue

[2022-08-26 00:24] faqndo97 commented on #1165
@adrianthedev I saw the custom_find_scope but I understand that that's to append scopes to the find query, not to find by a different attribute. What do you think?

Basically instead of search by `find(params[:id])` it should do something like `find_by(name: params[:id])`

[2022-08-26 06:45] adrianthedev commented on #1165
Ok. I see what you mean. Yeah, that won't work. Sorry.

Add the following method on the `Avo::UsersController`

[code]

Please be aware that this is an internal method that could change in the future, so you'll need to keep an eye on it when updating Avo.

Closing for now, but please feel free to reopen if this persists.

[2022-08-26 06:45] #1165 closed

[2022-08-26 06:59] #1079 closed

[2022-08-26 13:49] iainbeeston opened #1174 "Downloaded files always have the filename "true""
### Describe the bug

If you upload a file in a file field, you can see the original filename in avo. When you download the file again, the downloaded file always has the name "true" (but still has the original filename extension).

### Steps to Reproduce
Steps to reproduce the behavior:
1. Find a project in the demo app https://avodemo.herokuapp.com/avo/resources/projects
2. Edit it and upload a

[2022-08-26 13:57] adrianthedev commented on #1174
I see it. It will be fixed in the next release.

Thanks!

[2022-08-26 14:25] adrianthedev commented on #1174
@iainbeeston can you try out https://rubygems.org/gems/avo/versions/2.13.6.pre.1 and see if the issue persists?

[2022-08-26 14:50] iainbeeston commented on #1174
@adrianthedev 2.13.pre.1 crashes my resource show page entirely! (I'm not sure what the issue is exactly, the page renders correctly on 2.13.1)

![Screenshot 2022-08-26 at 15 48 33](https://user-images.githubusercontent.com/111963/186931760-f802a7b9-c86a-4309-a56a-87f1a1745be3.jpg)

![Screenshot 2022-08-26 at 15 49 30](https://user-images.githubusercontent.com/111963/186931955-e50ce8b4-dd70-4713-9

[2022-08-26 14:59] iainbeeston commented on #1174
Interestingly, the bug only seems to happen in production on a server. When I try this locally in development it uses the original filename.

[2022-08-26 15:06] adrianthedev commented on #1174
It could be the difference in acitve storage providers. Can you confirm you're using local in development and a cloud one on prod?

Also, what version if active storage are you using?

[2022-08-26 15:06] adrianthedev commented on #1174
Probably the latest? I see you're on Rails 7.

[2022-08-26 15:09] adrianthedev commented on #1174
Actually I see it in the stacktrace. I'll play around with it and see how this can be fixed

[2022-08-26 15:13] iainbeeston commented on #1174
Yes I'm using the local storage service in development and aws on the server. As I mentioned above, the demo app seems to have the same issue (I'm not sure what services that is using?)

[2022-08-26 17:54] adrianthedev commented on #1174
Hey @iainbeeston. I can't seem to replicate this issue. I tried in development (my machine) with `local` and `amazon` adapters.

Can you check the logs for the production app and confirm that it's failing with the same exception?

I also published `pre.2` with a minor tweak and [outputting the file object](https://github.com/avo-hq/avo/pull/1175/files#diff-a5922d5149f74c779014ad05a141a41d8774ddc12

[2022-08-26 19:51] iainbeeston commented on #1174
Can you reproduce it on the demo app using the instructions above? I get the exact same issue both on my own site and on the avo demo site.

[2022-08-26 20:12] iainbeeston commented on #1174
Or do you mean you can reproduce the issue with downloads all being called “true” but you can’t reproduce the error I’m seeing?

[2022-08-26 20:14] adrianthedev commented on #1174
Sorry about not being clear. I managed to reproduce the 'true' filename bug.
I tried to fix it and released pre.1
You reported the full page crash with screenshots, and that's what I can't reproduce.

[2022-08-29 14:04] #972 closed

[2022-08-29 16:22] iainbeeston commented on #1174
I've tried pre.2 to see if that helps, but unfortunately I get this error whenever I load the resource show page, both for the local storage service and with the aws storage service (I can't even see the download link to try it out):

[code]

![Screenshot 2022-08-29 at 15 17 32](https://user-images.githubusercontent.com/111963/187247818-02b1f6d2-6331-4322-b9dc-7fc5349a931a.jpg)

[2022-08-29 18:34] #1119 closed

[2022-08-29 20:44] #1147 closed

[2022-08-30 05:54] pmackay commented on #1092
Yes, for now I've got around it by adjusting how dry-rails is loaded. Will update this if I put together a simple example app.

[2022-08-30 05:54] #1092 closed

[2022-08-30 05:58] johlym opened #1183 "When `config.root_path` doesn't equal root mount point in routes.rb, "Custom Tool" warning is thrown"
### Context
I just got Avo set up with a small app of mine, and during the configuration process, I tweaked a few things here and there to see how I liked them. At some point, I had:

[code]

and

[code]

Naturally, Avo operated out of `/` as defined in the `routes.rb` file.

This appears to be related to #1030 and the code referenced from that issue but wanted to bring this up because once I real

[2022-08-30 10:18] bear-in-mind opened #1184 "Can't use a `trix` field in an Action"
### Describe the bug
Adding a `trix` field to an action returns the following 500 error:
![Screenshot 2022-08-30 at 12 15 52](https://user-images.githubusercontent.com/38864576/187411929-2960104b-8e2d-4cbf-8fbb-0be6673fb9a8.png)

### Steps to Reproduce
In an action, add the following:
[code]

### Expected behavior & Actual behavior
It should display a trix editor, but the modal generation fails, a

[2022-08-30 14:03] alansikora opened #1185 "Lock/performance issues"
So, I've been experiencing this, which is a bummer. This is local development env, everything runs on localhost:

https://user-images.githubusercontent.com/575138/186984938-339acaec-e3dc-41d2-9c3f-0ef4dc114f83.mp4

As you can see, the query on DB takes 87ms and returns 37 rows:

https://user-images.githubusercontent.com/575138/186985328-3de7491d-b175-43cc-beba-6c325d435709.mp4

[2022-08-30 14:12] adrianthedev commented on #1185
Can you share the information on the [issue template](https://github.com/avo-hq/avo/issues/new?assignees=&labels=&template=bug_report.md&title=) please? They help with troubleshooting the issue.

Also, the query in the second video is a subset of data, not everything in the table. How many records are there in total in the table?

[2022-08-30 14:32] adrianthedev commented on #1185
You should update from 2.13.0 to at least `2.13.1`. There was a bug with the search not paginating results on that version.

https://github.com/avo-hq/avo/releases/tag/v2.13.1

[2022-08-30 14:32] #1185 closed

[2022-08-30 17:10] iainbeeston opened #1187 "Can't show resources with files"
### Describe the bug
I've just upgraded from 2.13 to 2.14 and every resource show page that has images has broken, and shows this error:

![Screenshot 2022-08-30 at 18 00 06](https://user-images.githubusercontent.com/111963/187496817-45ff3b11-464b-4424-af6b-79092d33e041.jpg)

I can't upgrade avo unless this is fixed as I use a lot of images.

### Steps to Reproduce
Steps to reproduce the behavior:

[2022-08-30 17:42] adrianthedev commented on #1187
Got it. I'm on it! There must be something related to the active storage versions.

[2022-08-30 18:12] adrianthedev commented on #1187
@iainbeeston I was able to reproduce it on a rails 7 app.

Can you try [`2.14.2.pre.1`](https://rubygems.org/gems/avo/versions/2.14.2.pre.1)? I am using a different helper to fetch the path as an attachment (to trigger the download with the proper filename).

[2022-08-30 19:06] iainbeeston commented on #1187
@adrianthedev That works for me, could you please release that fix? 🙏

[2022-08-30 19:11] adrianthedev commented on #1187
Oh man. I'm so glad!

Releasing now.

[2022-08-30 19:17] #1174 closed

[2022-08-30 19:17] #1187 closed

[2022-08-30 19:22] adrianthedev commented on #1187
https://rubygems.org/gems/avo/versions/2.14.2 is out with that fix. Thanks for troubleshooting with me, and sorry for the trouble.

[2022-08-30 19:44] adrianthedev commented on #968
Some things that came out from our brainstorming:

# Skip show view

 - [ ] ensure all current controller paths (after create/update)
 - [ ] ensure all current resource paths lead to resource edit path
 - [ ] ensure all fields that support "link_to_resource" do the same
 - [ ] ensure actions redirects to edit
 - [ ] remove show link from resource controls
 - [ ] make it testable
 - [ ] add the red

[2022-08-30 20:13] veelenga opened #1188 "Unable to use Tailwind CSS on ejected templates"
### Describe the bug

### Steps to Reproduce

Steps to reproduce the behavior:

1. Eject logo template: `rails generate avo:eject :logo`
2. Try using some TailwindCSS utilities:

[code]

### Expected behavior & Actual behavior

The `w-20` utility doesn't have any expected effect, however `w-10` works correctly. Seems like only some of the pre-compiled classes can be used in ejected templates.

###

[2022-08-30 20:19] adrianthedev commented on #1188
Hey @veelenga. You are correct. The precompiled assets only have classes that are used in Avo.

To be able to use all Tailwind utilities you should add your own Tailwind config in your app using your [asset pipeline](https://docs.avohq.io/2.0/custom-asset-pipeline.html).
What are you using now? Sprockets?

[2022-08-30 20:31] adrianthedev opened #1189 "Sidebar for show & edit views"
### Context

Traditionally, Avo is displaying fields stacked one on top of another. Now that's ok for most fields, but some have less information to display and don't need to take up all that space.

We want to introduce a sidebar on the `Show` and `Edit` views. The sidebar would show a compressed field version better suited for a narrower container.

### Screenshots

#### V1

![V1](https://user-i

[2022-08-30 20:45] veelenga commented on #1188
Yes, sprockets. I tried following the [guide](https://tailwindcss.com/docs/guides/ruby-on-rails) and added tailwind to my project. It works perfectly on custom pages (out of avo), however, I am still not able to use it in ejected pages.

Is this expected?

[2022-08-30 20:49] adrianthedev commented on #1188
No, that's not normal. Can you share the `tailwind.config.js` file contents? Can you ensure that `/app/views/**/*.erb',` this is under the `content` tag?

[code]

This is given that you have the `tailwind.config.js` file at the root of your Rails app. You might need to play around with the paths, so they match.

[2022-08-30 20:54] adrianthedev opened #1190 "[RFC] Themable interface"
### Feature

We'd like to make it easier for developers to theme Avo's interface. Something similar to the `eject` command.

More details to come soon.

[2022-08-30 20:56] adrianthedev opened #1191 "Dark mode"

[2022-08-30 20:58] adrianthedev commented on #967
Fixed by https://github.com/avo-hq/avo/issues/1082

[2022-08-30 20:58] #967 closed

[2022-08-30 21:26] #1118 closed

[2022-08-31 04:56] adrienpoly opened #1192 "Remove deprecated dependency to hotwire-rails"
### Describe the bug

Avo has a built in dependency with hotwire-rails. This gem has been deprecated.
https://github.com/hotwired/hotwire-rails
A side effect is that this dependency link prevent me from upgrading my app to hotwire 7.2beta

I think the dependency should be replaced by `turbo-rails` and `stimulus-rails` (if you use the later)

### Steps to Reproduce
https://github.com/avo-hq/avo/blo

[2022-08-31 06:44] veelenga commented on #1188
The command in the doc pre-generates the such a tailwind.config.js:

[code]

and this works perfectly on views out of avo, but not in the ejected templates.

[2022-08-31 07:32] adrianthedev commented on #1188
This is weird, I just tried it out with the same steps (install `tailwindcss-rails` and all), and it kept my class.

![CleanShot 2022-08-31 at 10 28 46](https://user-images.githubusercontent.com/1334409/187619062-5fa980df-c5b7-412a-8f52-26808b674563.jpg)
![CleanShot 2022-08-31 at 10 28 57](https://user-images.githubusercontent.com/1334409/187619099-6472734c-5309-4e09-8613-eda5bd0e3fa1.jpg)

Just t

[2022-08-31 07:41] adrianthedev commented on #1188
I'm working on making it easier to add Tailwind to custom Avo content. I'll release something soon. I hope I get the chance to release some beta version today.

[2022-08-31 07:58] veelenga commented on #1188
It works if I add this to ejected _head.html.erb:

[code]

Thanks for the help.

[2022-08-31 07:58] #1188 closed

[2022-08-31 08:05] adrianthedev commented on #1188
Great! Thanks for troubleshooting it with me. I'll have a PR up to better support this use case.

[2022-08-31 08:19] adrianthedev commented on #1192
You're right. I'll add this to the roadmap.

[2022-08-31 09:39] bear-in-mind commented on #1085
Hey @adrianthedev I might work on this today. Can I ping you if I need help ?

[2022-08-31 09:41] adrianthedev commented on #1085
Hey man. Yes sure. Ping me!
Thanks for picking this up!

[2022-08-31 10:27] nicholaswellens opened #1194 "Resource links, rendered in tabs, not working as intended"
### Describe the bug
`belongs_to` links (and other links that do not have turbo disabled or target set) that are defined under tabs, don't work correctly.

### Steps to Reproduce
1. Go to show page of a resource that has tabs
2. Press the link of a `belongs_to` field
3. Does not direct correctly to the associated resource

### Expected behavior & Actual behavior
- Expected: Directs to the associat

[2022-08-31 10:36] adrianthedev commented on #1194
Ok. I see the issue.
Could you please use your workaround until we push a permanent fix?
Thank you!

[2022-08-31 13:26] alansikora opened #1196 "Issue with `to_sql` after upgrading to 2.14.1"
### Context
After upgrading to 2.14.1, I'm getting the error below:

[code]

I've followed the upgrade guides from 2.11 to 2.12/2.13/2.14: https://docs.avohq.io/2.0/upgrade.html

### System configuration
**Avo version**: 2.14.1

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type** (Community or Pro): Pro

### Screenshots
![image](https://user-images.githubusercontent.com/575138/18

[2022-08-31 13:29] adrianthedev commented on #1196
Hey @alansikora. Thanks for the bug report! It would help us a lot if you'd follow [the guides on the bug report template](https://github.com/avo-hq/avo/issues/new?assignees=&labels=&template=bug_report.md&title=) and give us all the information on the first go. Otherwise, we're always going to ask you for those details 🙂

Can you please the steps for reproduction?

[2022-08-31 13:37] adrianthedev commented on #1196
Hmmm, I see that the details from the issue are in the code block.

Can you share on what page are you currently on, and how you got there?

[2022-08-31 13:43] alansikora commented on #1196
Sorry, I ended the code with ``` on the same line, my bad.

[2022-08-31 13:44] alansikora commented on #1196
Sorry, I ended the code with ``` on the same line, my bad.

[2022-08-31 13:44] adrianthedev commented on #1196
All good. I noticed after the fact. Where do you get this error? On what page?

[2022-08-31 13:46] alansikora commented on #1196
https://user-images.githubusercontent.com/575138/187693771-3220e0fe-bb06-4ea6-9110-a1125b4c4cd9.mp4

Looks like all the resources but `Users` area breaking.

I believe it might be related to the fact that all those resources are on a different Postgres schema, so I declare them like:

![image](https://user-images.githubusercontent.com/575138/187693977-0d72bdbb-6903-43b6-8776-092a9fe05bbf.png)

[2022-08-31 13:56] adrianthedev commented on #1196
@alansikora please try this version and let me know.

https://rubygems.org/gems/avo/versions/2.14.3.pre.4.tosqlfix

[2022-08-31 13:59] alansikora commented on #1196
It works @adrianthedev !

Let me know if I can help you with this issue.

[2022-08-31 14:00] adrianthedev commented on #1196
Perfect 🙌 Please use this version until we release it stable in two weeks.

[2022-08-31 14:01] alansikora commented on #1196
Sure thing!

[2022-08-31 14:23] #1196 closed

[2022-08-31 14:49] alansikora opened #1198 "When creating a new child resource, the parent resource does not get prefilled"
### Describe the bug
When creating a new child resource, the parent resource does not get prefilled

### Steps to Reproduce
1) View a resource
2) Click to add a child resource
3) The parent is not prefilled

### Expected behavior & Actual behavior
The parent should be prefilled

### Models and resource files
[code]

[code]

[code]

[code]

### System configuration
**Avo version**: 2.14.1

**Rails

[2022-08-31 20:08] adrianthedev commented on #1198
Hmmm, that's weird. That should work.
Can you share the models too? Just the associations should be fine.

Also, can you try it again with `field :product, as: :belongs_to, searchable: true` removed from the `ProductResource`? I'd like to see if that makes any difference.

[2022-08-31 20:09] adrianthedev commented on #1184
I'll look into it.

[2022-08-31 20:10] #1143 closed

[2022-09-01 07:32] #1162 closed

[2022-09-01 20:14] rajaravivarma-r opened #1203 "Cannot use Avo 2.14.2 without Sprockets"
### Describe the bug
In our application we do not use sprockets, since we use webpacker.  So we removed all files and configurations related to sprockets. For example files under `app/assets`.

We tried to updated from 1.25 to 2.14.2, which leads to the following error,
[code]
Because `::Rails.application.assets` this returns `nil` in our case.

We would like to not use sprockets. Could you please

[2022-09-01 20:20] adrianthedev commented on #1203
Hey @rajaravivarma-r. Can you try https://rubygems.org/gems/avo/versions/2.14.3.pre.6.nosprockets and let me know if that solves it for you?

[2022-09-02 11:08] rajaravivarma-r commented on #1203
@adrianthedev I tried the nosprockets version, it now throws this error
`ActionView::Template::Error (uninitialized constant Webpacker::WebpackAssetFinder):
    1: <%= render Avo::TurboFrameWrapperComponent.new(params[:turbo_frame]) do %>
    2:   <%= render Avo::Views::ResourceIndexComponent.new(
    3:       resource: @resource,
    4:       resources: @resources,
    5:       models: @models,
`

[2022-09-02 11:10] rajaravivarma-r commented on #1203
![Screenshot 2022-09-02 at 4 40 16 PM](https://user-images.githubusercontent.com/1841235/188127217-404f7b57-f1d1-4cb7-bf90-1da823993e05.png)

[2022-09-02 14:01] alansikora commented on #1198
I added the models to the issue. The modeling of the database is not the best, this is still a POC and we are using their current database, which will be changed later.

Removing `field :product, as: :belongs_to, searchable: true` did not change anything

[2022-09-02 14:18] adrianthedev commented on #1203
Cool. Let me troubleshoot this further and get back to you bu Monday.
It's caused by the new way we're displying svgs.

[2022-09-03 15:38] holden opened #1207 "Rails secrets vs credentials bug."
I noticed a small issue when I upgraded from 2.13 to 2.14 where it looks for `Rails.application.secrets.secret_key_base` in development this still seems to work however when I deploy in production using the `production.key` value this value is nil, it rather uses `Rails.application.credentials.secret_key_base`.  I set the value manually for now but it would be nice if it accepted either.

I'm depl

[2022-09-03 18:54] Paul-Bob commented on #1207
Hi @holden, thanks for reporting this. According to the [secret_key_base official documentation](https://apidock.com/rails/v6.1.3.1/Rails/Application/secret_key_base) "In all other environments, we look for it first in ENV[“SECRET_KEY_BASE”], then [credentials](https://apidock.com/rails/Rails/Application/credentials).secret_key_base, and finally [secrets](https://apidock.com/rails/Rails/Applicatio

[2022-09-03 18:57] adrianthedev commented on #1207
Yes. I agree! Thanks for writing @holden.

Can you please make a PR for that @Paul-Bob?

[2022-09-03 18:58] Paul-Bob commented on #1207
Sure, this will be fixed today ASAP

[2022-09-05 13:28] iainbeeston opened #1210 "Can't load avo on main due to missing assets"
### Describe the bug
When using [main](https://github.com/avo-hq/avo/tree/a98c72026518c194d74584f3651c42ca86c83ea8) avo javascript and stylesheets don't load for me, and I get the following not found errors in the rails logs:

[code]

### Steps to Reproduce
Steps to reproduce the behavior:
1. Set avo in your gem file to `gem "avo", github: 'avo-hq/avo'`
2. `bundle install` and `bin/rails assets:cl

[2022-09-05 13:36] adrianthedev commented on #1210
Try and run `avo:build-assets` like [here](https://github.com/Rakefile)

[2022-09-05 14:54] iainbeeston commented on #1210
It works when I do that 👍

[2022-09-05 15:27] adrianthedev commented on #1210
Cool! Closing this for now.

[2022-09-05 15:27] #1210 closed

[2022-09-05 15:47] adrianthedev commented on #1203
Hey @rajaravivarma-r.
I looked into this issue more and yes, V 2.0 won't work with just webpacker alone. You will have to install [sprockets](https://github.com/rails/sprockets) or [propshaft](https://github.com/rails/propshaft) side-by-side with webpacker.

AFAIK you won't have to do anything else, and you shouldn't be impacted by running both. I ran an app for years with sprockets and webpacker,

[2022-09-05 18:16] rickychilcott opened #1212 "Actions (with zero resources) don't render"
### Describe the bug
The new "select all" feature from @Paul-Bob (#1148) has a small regression.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Have an action on any resource - the table must be empty (i.e. no Fish in the FishResource table)
2. Go to the resource
3. Click on 'Actions'
4. Click the action you added
5. Don't see anything (but the console says:)

[code]

The issue has to

[2022-09-05 19:56] Paul-Bob commented on #1212
Hi @rickychilcott thanks for the detailed issue, sorry for the inconvenience. This should be easy to fix

[2022-09-05 23:23] coffenbacher commented on #692
In my company's custom SPA admin app (that we are trying to migrate more and more of to Avo) the input we use the most is this searchable multi-select from https://react-select.com/home

<img width="666" alt="image" src="https://user-images.githubusercontent.com/245867/188520004-73d6c9e9-41b3-4c48-980c-4e6079589c14.png">

So just wanted to mention that in case anyone picks this up, that multi-sele

[2022-09-06 05:48] #1212 closed

[2022-09-06 15:40] iainbeeston opened #1214 "belongs_to input has a different id to the label"
### Describe the bug
If you have a belongs_to field, the `for` attribute of the label does not match the `id` of the `select` menu. This causes accessibility issues including clicking on the label does not focus the field and capybara cannot find the input associated with the label.

I've tried to figure out what the issue is exactly with the belongs to field but I haven't been able to figure it o

[2022-09-07 10:54] Paul-Bob opened #1216 "I18n missing translations"
### Describe the issue and screenshots

- [x] Can't translate pagination details.

![image](https://user-images.githubusercontent.com/69730720/188857884-d636f250-ceff-4090-964b-ae48345c995a.png)

- [x] Can't translate "Filter by"

![image](https://user-images.githubusercontent.com/69730720/188858651-a094e480-b1b3-4fc1-97ca-6f074d92e586.png)

- [x] Despite changing the translations for search place

[2022-09-07 11:02] Paul-Bob opened #1217 "Filters button overlap"
### Describe the bug

Filters button overlap an already opened filters menu
![image](https://user-images.githubusercontent.com/69730720/188862787-06b4b47a-767b-415c-8319-0c190d452960.png)

### System configuration
**Avo version**:
2.14.2

#### Impact

 - [ ] High impact
 - [ ] Medium impact
 - [x] Low impact

#### Urgency

 - [ ] High urgency
 - [ ] Medium urgency
 - [x] low urgency

[2022-09-07 11:03] Paul-Bob commented on #1217
Also, filters don't make sense on empty table

[2022-09-07 11:04] adrianthedev commented on #1217
What if the table is empty from the filters selaection? How would one reset the filters?

[2022-09-07 13:08] pedrofs opened #1218 "Propshaft setup raises `assets_manifest` undefined method"
### Describe the bug
I'm setting up a Rails 7 + propshaft application, and after installing avo, I get the error below:
<img width="998" alt="image" src="https://user-images.githubusercontent.com/56484/188885059-7fb8754d-d9f9-4d57-a674-0ed9495cbb65.png">

The issue is on the `SvgFinder#default_strategy` method. The default strategy seems to have been designed to work with Sprockets. If I remove th

[2022-09-07 13:15] pedrofs commented on #1218
Pointing to the main has fixed the issue.

[2022-09-07 15:34] adrianthedev commented on #1218
Yes, we made some tweaks to acomodate Propshaft. They are going to be released on Tuesday

[2022-09-08 10:41] rajaravivarma-r commented on #1203
Hey @adrianthedev, I got you. We wanted to remove sprockets because, we did not use it and to enforce developers to stick to just one tool which is webpacker.

We will decide upon this using your inputs. I'll close this issue as it is clear. Thank you!

[2022-09-08 10:41] #1203 closed

[2022-09-08 10:42] adrianthedev commented on #1203
Thank you for understanding @rajaravivarma-r. Let me know if I can help with anything going forward.

[2022-09-08 10:50] iainbeeston commented on #1210
I feel like `CONTRIBUTING.md` or `bin/init` should mention running `bin/rails avo:build-assets` so that other developers don't have this issue. I'm not entirely sure why that's needed so I'm not sure the best place for it to go. @adrianthedev do you have an opinion on that?

[2022-09-08 10:54] adrianthedev commented on #1210
Yes, we should document that somewhere. Maybe there or in the docs. I'll make a note to have that documented.

The reason for that is that we bundle the assets when we publish the gem so it doesn't impact your asset pipeline and your deployment process.
We don't hook into the `asset:precompile` step because one might not have Node.js or anything like that when deploying with Avo.

[2022-09-08 10:58] adrianthedev opened #1219 "Document avo:assets-build"

[2022-09-08 19:31] Paul-Bob commented on #968
@adrianthedev i suggest to no do the last step (add redirect from routes) yet. We expect all system to work fine without the forced redirect and if we add that redirect we kinda lost track if something is not working as expected

[2022-09-09 18:12] MrJoy opened #1223 "Throw an error when a field is declared multiple times on the same view."
### Feature

Because of things like `tabs` / `panel`, it's commonly necessary to declare the same field multiple times.  Unfortunately, this can lead to surprising results.  For example:  I just spent a few minutes going WTF when changes to a date field were getting ignored, because the old value was being POST'ed to the server.  I had just gotten done reorganizing a resource to use tabs, and had

[2022-09-10 11:23] Paul-Bob commented on #1223
Hei @MrJoy, thank you for reporting this.

@adrianthedev my approach would be:

- [ ]  raise exception when multiple definitions of some field were found on the same form

[code]

- [ ]  ask the developer to choose the field used on the form, something like this:

[code]
Re-name need for `use_this_one_on_forms`...

[2022-09-11 09:47] veelenga opened #1225 "Broken standalone actions"
### Describe the bug

Avo v2.14.0 release introduces a regression and breaks standalone actions. No bug in v2.13.2 release.

### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a standalone action
2. Attach an action to resource table without records
3. Select an action (click "Dummy action", see screen)

Reproducible in demo app: https://avodemo.herokuapp.com/avo/resources/fish

#

[2022-09-12 06:00] adrianthedev commented on #1225
Thanks @veelenga. I labeled this as a bug. We have our hands quite full at the moment. We'll get on this as soon as possible. If this is of immediate interest to you, we appreciate PRs.

[2022-09-12 06:27] #1096 closed

[2022-09-12 06:34] adrianthedev commented on #1216
For the `search` label, check out the [autocomplete config](https://www.algolia.com/doc/ui-libraries/autocomplete/api-reference/autocomplete-js/autocomplete/#parameters)

The `no_item_found` and `no_related_item_found` will be a breaking change so please update the upgrade guide in the docs.

Let's remove the `oops_nothing_found` key from all.

[2022-09-12 06:44] adrianthedev commented on #1198
Closing for now. Please feel free to reopen it.

[2022-09-12 06:44] #1198 closed

[2022-09-12 07:42] rajaravivarma-r opened #1226 "Is there a way to create a date filter?"
### Feature
We would like to filter items created in a date range. I've gone through the docs and issues but couldn't find a way to achieve this. Is there a way to create a date range or date filter?

### Current workarounds
Probably create a TextFilter and parse that as date time to achieve this.

### Screenshots
#### Date picker
![date-component](https://user-images.githubusercontent.com/1841235

[2022-09-12 09:14] veelenga commented on #1225
Thanks, @adrianthedev. I noticed this is already fixed in https://github.com/avo-hq/avo/commit/4fccd6ad99779a9e98a4e0104498339d8c94c5e0

[2022-09-12 09:14] #1225 closed

[2022-09-12 14:15] adrianthedev commented on #1226
Hey @rajaravivarma-r. There isn't a ways of doing that yet, but I see how that would be useful! Date ranges too.

We don't have that on our roadmap yet so if you want to put up a PR, I'd be happy to help you navigate the codebase.
Here's a similar PR from a contributor that added the text filter https://github.com/avo-hq/avo/pull/530

We'd like to add this type of filtering soon.
https://github.co

[2022-09-12 14:19] adrianthedev commented on #1223
Hey @MrJoy.

I see how that can be annoying. Unfortunately, we don't have the capacity to add that right now.
We're delighted to review and merge a PR (and help guide you through the codebase if needed) for that.

[2022-09-12 17:04] nicholaswellens commented on #1226
I believe @OlexYakov has more insight on this! (he is on vacatio now though)

[2022-09-12 18:28] rajaravivarma-r commented on #1226
Hi @adrianthedev, I will think about creating a PR. Thanks for the pointer.

[2022-09-12 18:28] rajaravivarma-r commented on #1226
@nicholaswellens Ok. For the time being I'll see what I can do.

[2022-09-13 09:20] adrianthedev commented on #1223
Closing for now but feel free to reopen if you start work or have other questions.

[2022-09-13 09:20] #1223 closed

[2022-09-13 14:41] OlexYakov commented on #1226
@rajaravivarma-r as @nicholaswellens mentioned, I did create a date (and daterange) picker filter. I could create a PR (probably tomorrow) if you want.

[2022-09-13 14:56] OlexYakov commented on #1226
For now you can check this draft PR https://github.com/avo-hq/avo/pull/1229.
To create a filter, you would do something like:
[code]

[2022-09-13 19:11] rajaravivarma-r opened #1230 "resource.model returns nil sporadically."
### Describe the bug
In a field declaration such as,
[code]
`resource.model` returns `nil` sporadically, but mostly happens when lots of pages are loaded.

When I refresh the page it loads fine. I am attaching a screen recording for your reference.

### Steps to Reproduce
Cannot reproduce this consistently.

### Expected behavior & Actual behavior
Page should load fine, but doesn't sometimes.

###

[2022-09-13 21:12] rajaravivarma-r opened #1231 "Feature Request: Customise sidebar directly."
### Feature
We are in the process of upgrading from 1.25 to 2.14. Avo used to support editing the `sidebar` partial directly, but looks like the option has been removed in recent versions.
This is essential for our app, since we like to keep the sidebar links in certain order and under specific headings. We mix link to dashboard with resources.
I'm trying the upgrade in trial version, so it could

[2022-09-13 21:31] rajaravivarma-r commented on #1226
@OlexYakov Thanks. I'll take a look.

[2022-09-14 06:21] adrianthedev commented on #1231
Hey @rajaravivarma-r have you tried the [Menu editor](https://docs.avohq.io/2.0/menu-editor.html) feature? It should allow you to create any custom menu that you'd like.

[2022-09-14 08:10] rajaravivarma-r commented on #1231
Oh! Wow! I didn't know it. I will check that out and close this issue it satisfies my needs. Thank you!

[2022-09-14 10:59] adrianthedev commented on #1230
And how is this sporadic? I mean, does it always raise that error on update (and then it has the mode present)? Or it sometimes passes and all is good?

I'm asking because it might be that the error is raised in a different point than the one indicate on the crash page and the model being present in the console os a false positive.

[2022-09-14 11:56] rajaravivarma-r commented on #1230
It is not an update. Usually this happens when I click open a lot of links (from the listing page) in a new tab. Some of the pages will load fine, but some will raise errors like this. When refreshed, the page will load just fine.

Yeah, I just saw the screen recording again and the model has a different id from the one that we are trying to access. The model in the console has id 67812, but we ar

[2022-09-14 12:03] iainbeeston opened #1233 "Has and belongs to many fields seem to be broken in 2.15.1?"
### Describe the bug
I've just upgrade from 2.14.2 to 2.15.1 and it is causing a rendering error in has and belongs to many fields across my app when using the grid view.

Here's the backtrace:

[code]

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add a field to your resource with this config: `field :my_association, as: :has_and_belongs_to_many`
2. Open up avo in your browser and vi

[2022-09-14 12:32] iainbeeston commented on #1233
I can reproduce this in the demo app too:

https://avodemo.herokuapp.com/avo/resources/users/avo-cado-0797905b-a7fd-4f1e-a409-3a860b931876

Just switch user teams to the grid view

[2022-09-14 14:11] rajaravivarma-r commented on #1231
Hey @adrianthedev, I tried the Menu editor feature, it satisfies most of our requirement. But I would like to add some `active_link_to` such as,
[code]
We use `active_link_to` directly because, we need to pass the `data: {turbo: false}` param. We do not want to load it through turbo because that is a react page.

Could you please tell, how to achieve this with Menu editor?

[2022-09-14 15:23] iainbeeston opened #1235 "Readonly trix fields are still editable"
### Describe the bug
If you have a trix field and set `readonly: true` on it, it sets the disabled attribute on the textarea input but this does not make the editor itself readonly.

According to this [github issue](https://github.com/basecamp/trix/issues/331) `trix_field_controller.js` needs to set `contenteditable=false` after loading, or another option might be to render the show version of the

[2022-09-14 21:35] adrianthedev commented on #1231
Hmm, I think we only need to add the `data` option to the `link` option. It already uses `active_link_to` [in the background](https://github.com/avo-hq/avo/blob/main/app/components/avo/sidebar/link_component.rb#L25).

[2022-09-14 23:08] adrianthedev commented on #1231
Hey @rajaravivarma-r try [this](https://rubygems.org/gems/avo/versions/2.15.3.pre.1.data.attrs.to.sidebar.items) prerelease with `link_to "Dashboard", "#{avo.root_path}dashboards/sales", data: { turbo: false }` and see if this helps.

[2022-09-15 04:34] rajaravivarma-r commented on #1231
I'll try that. Thanks for the prompt reply.

[2022-09-15 07:09] adrianthedev commented on #1233
I see it. Thanks!

[2022-09-15 07:17] adrianthedev commented on #1230
Could you make a recording of how you open multiple records at once? I understand the process, I just want to "get the feel" of that and make sure it's sporadically so I don't go chasing something I don't fully understand, and to be able to reproduce it.

Thank you!

[2022-09-15 11:19] adrianthedev commented on #1183
Hey @johlym. Apologies for the late reply.

I assume the issue is fixed now, right? You set the correct paths and all is well.

Yes, I agree we could make Avo smarter in that area. We assumed you'll set the correct paths in the setup process.
We want to put our time to good use and we're focusing on features and issues that are more painful for developers

[2022-09-15 11:19] adrianthedev commented on #1183
Closing for now. Feel free to reopen if you think it's necesarry.

[2022-09-15 11:19] #1183 closed

[2022-09-15 13:27] #1233 closed

[2022-09-15 13:54] adrianthedev commented on #1233
Released in https://rubygems.org/gems/avo/versions/2.15.3

[2022-09-15 16:22] johlym commented on #1183
Yes, everything's okay with the correct paths set. Thanks for looking at this, @adrianthedev!

[2022-09-15 16:23] adrianthedev commented on #1183
Anytime! Again, apologies for the delay. It slipped through the cracks.

[2022-09-15 18:06] rajaravivarma-r commented on #1231
Hey @adrianthedev, that works as expected. Thank you. I will close the issue.

[2022-09-15 21:20] rajaravivarma-r commented on #1231
hey @adrianthedev, sorry to piggy back on the same issue, but this is an issue regarding sidebar behaviour, so adding it here.

Is there a way to keep the sidebar opened. When I navigate to a different resource the sidebar closes itself and I have to click open the hamburger menu to open it again.

[2022-09-16 04:13] #1140 closed

[2022-09-16 09:26] rajaravivarma-r commented on #1230
Sure, I'll make a recording in sometime.

[2022-09-16 10:35] rajaravivarma-r commented on #1230
Here is the recording on how I open the links.

https://user-images.githubusercontent.com/1841235/190620368-1a761f52-e549-4789-b7d8-40c1b4db5172.mp4

[2022-09-17 09:58] Paul-Bob commented on #1235
Hey, we are working to fix this issue.

I think render the show version of the field should be the option...

`contenteditable=false` should work too but if there are 2 trix fields on the same page where only one is read-only it would disable both right?

[2022-09-17 10:00] Paul-Bob commented on #1235
Rendering the show view for the field on the edit:
![image](https://user-images.githubusercontent.com/69730720/190851258-f25e2251-e0c4-4c26-9faa-57cf020f5ca1.png)
![image](https://user-images.githubusercontent.com/69730720/190851266-126a6275-5dfe-42a1-9a9d-907f1a71890b.png)

[2022-09-17 11:08] Paul-Bob commented on #1194
Hey, thanks for the note @nicholaswellens, actually that was my approach too, with a little tweak, we only apply `target: "_top"` when the field is inside a tab group

[2022-09-17 12:20] adrianthedev opened #1243 "Customize grid placeholder image when nothing is displayed"
### Discussed in https://github.com/avo-hq/avo/discussions/1234

It's this here:
![CleanShot 2022-09-17 at 14 20 00@2x](https://user-images.githubusercontent.com/1334409/190856414-b8613f65-9514-49d4-b38c-ce45598c6c94.jpg)

<div type='discussions-op-text'>

<sup>Originally posted by **iainbeeston** September 14, 2022</sup>
At the moment when using the grid layout, if no cover image is set an image

[2022-09-18 04:05] #1149 closed

[2022-09-19 08:31] nicholaswellens commented on #1194
@Paul-Bob Great! Thanks for the fix!  :+1:

[2022-09-19 22:31] alansikora commented on #1198
Hey!

So, a few weeks ago I tried your solution, which relied on not using alias attributes, but it did not work. I had more pressing situations to deal with now I'm back on this.

https://user-images.githubusercontent.com/575138/191130607-317cb345-6acb-476c-b775-34e7d3bb7fef.mp4

As you can see, it works for a child resource of the same type (a child product, being created from within a product).

[2022-09-19 23:09] alansikora opened #1245 "Action dropdown issue: click only works on the icon"
### Describe the bug
The action only works when clicking on the icon of the action, the text does not work.

### Steps to Reproduce
Click on an action

### System configuration
**Avo version**: 2.15.3

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type**:

 - [ ] Community
 - [x] Pro

### Screenshots

https://user-images.githubusercontent.com/575138/191134665-49e0b376-50cf-480c-83

[2022-09-20 14:52] alansikora opened #1246 "How to handle database constraints errors without exposing the actual issue?"
### Context
When deleting a resource with FKs pointing to it, the presented error is not user friendly.

### System configuration
**Avo version**: 2.15.3

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type**:

 - [ ] Community
 - [x] Pro

### Screenshots
![image](https://user-images.githubusercontent.com/575138/191290931-a208f52d-cad5-4375-92fc-8a86d7bc5831.png)

[2022-09-20 14:56] alansikora opened #1247 "Is it possible to send parameters to filters and actions?"
### Context
I'd like to have a way to send parameters to filters and actions, so I can work on generic actions and filters. Sometimes, when dealing with a lot of tables, building a filter/action for every table becomes way too time consuming and hurts `DRY`.

For example, something like this:

[code]

[code]

### System configuration
**Avo version**: 2.15.3

**Rails version**: 7.0.3.1

**Ruby vers

[2022-09-20 15:01] alansikora opened #1248 "Is it possible to know the current context when running actions?"
### Context
I'd like to run actions in the current state, for example: if the action is ran in the edit view, I want to know what is being shown currently (or the filter/query being applied). Also, if I'm filtering using filters, I'd like to have that filter as well inside the action.

### System configuration
**Avo version**: 2.15.3

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License

[2022-09-21 05:21] adrianthedev commented on #1247
No, it's not currently possible, but that's a great feature to have. Similar to what you can do with [cards](https://docs.avohq.io/2.0/dashboards.html#override-card-options-from-the-dashboard) right now. I'll add it to the roadmap.

Thanks for the recommendation.

[2022-09-21 05:26] adrianthedev commented on #1248
We don't yet have a mechanism for that, but you have access to the params using `::Avo::App.params`, and then you can use something like [this](https://github.com/avo-hq/avo/blob/main/app/controllers/avo/base_controller.rb#L323) to decode the filters param. Then, you can access what payload was sent and what query was applied.

Sorry it's not something more straightforward. If you do somehow make

[2022-09-21 15:49] dhnaranjo opened #1249 "Presence of Avo forces full Zeitwerk app reload on any change"
### Describe the bug
Having Avo gem in your gemfile causes Zeitwerk to unload and reload every Class/Module on change to any Class/Module, rather than only those that are influenced. This causes, in my actual job application, ~10 second hang in development server on any change to a Ruby file.

### Steps to Reproduce
Steps to reproduce the behavior:
1. `rails new test_reloading --minimal`
2. `rails

[2022-09-22 17:16] iainbeeston opened #1250 "Impossible to have recursive resources"
### Describe the bug
I'd like to represent a tree structure in Avo, for example you might have a Person model that has many child Persons, who can also have many child Persons. In avo I have a "Person" resource that has a "has many" field for it's children. That works great, except that when I click on a child Person in the has many field, avo re-renders the parent instead of showing me the child

[2022-09-23 09:07] adrianthedev commented on #1248
Closing for now. Feel free to reopen.

[2022-09-23 09:07] #1248 closed

[2022-09-23 09:11] adrianthedev commented on #1245
Thanks for getting back to us with this 🙌

That's actually a bug. So the action you are showing is disabled because you haven't selected any records. I you want to run actions without selecting records, then you should use [standalone actions](https://docs.avohq.io/2.0/actions.html#standalone-actions).

The bug you're seeing is that you can click an icon and run the action when you shouldn't be ab

[2022-09-23 09:21] adrianthedev commented on #1243
We can add a `missing_grid_image` option to branding.

[2022-09-23 09:28] #1235 closed

[2022-09-23 09:31] #659 closed

[2022-09-23 09:40] OlexYakov commented on #1246
IMO, this is not an Avo concern, but your apps. Usually, if the data is coming from the user and has DB constrictions, you should to rails validations too. Even if it seems like duplication, it serves different purposes.
[This article](https://thoughtbot.com/blog/validation-database-constraint-or-both) might help you.

[2022-09-23 11:00] adrianthedev opened #1253 "Add a visibility option to filters"
Add a `self.visible` option to filters similar to how we do it to actions.

Maybe even extract that piece of code somehow if that makes sense.

_Originally posted by @ckmorris in https://github.com/avo-hq/avo/discussions/838#discussioncomment-3675127_

[2022-09-23 14:07] Paul-Bob opened #1254 "Expand resource controls block for index and edit"
### Feature

Avo have this `self.show_controls = -> do` cool customization but unfortunately it's not possible to customize the resource controls on index page. It would be useful to have this option for index page too, or maybe a `self.controls = -> do` and use the `show_on`, `hide_on`, `except_on` and the other visibility options for each control.

### Current workarounds

### Screenshots

### A

[2022-09-23 16:18] Paul-Bob opened #1255 "Rest API Resource select all feature breaks"
### Describe the bug

We have implemented two rest API resources following this recipe: https://docs.avohq.io/2.0/recipes/rest-api-integration.html and after updating to Avo 2.14 it started throwing an exception (watch screenshot). The problem is, in our rest API based resources we don't have a DB query because our index rows are fetched from another application via API and they are not DB persist

[2022-09-24 17:22] dhnaranjo commented on #1249
My workaround has been to have a `NO_AVO` environment variable that conditionally wraps all Avo everything so it just isn't loaded. This allows me to do frontend work.

[2022-09-25 19:03] adrianthedev commented on #1249
Hey @dhnaranjo. First of all, apologies for the radio silence. I had other matters to attend to this past week. I didn't have any time for dev-work.

I did all the steps in the reproduction section and I see what you mean.

I'm trying to figure it out and see what is triggering that.

[2022-09-26 09:32] adrianthedev commented on #1231
Hey @rajaravivarma-r, it should stay open if you opened it once. Can you share a video and maybe check the JS console for errors?

Is that happening on mobile or on desktop?

[2022-09-26 13:20] rajaravivarma-r commented on #1231
Hey @adrianthedev, sure I'll share a video. It was happening on Desktop, though I didn't change the user agent or anything.

[2022-09-26 13:56] oma-s opened #1256 "DateTime issue: breaks when going back"
### Describe the bug

Using the browser 'back' button breaks datetimes.

### Steps to Reproduce

1. Go to 'avodemo.herokuapp.com' and sign in
2. Click on 'Projects' in the sidebar
3. Click on any id to open a project details view
4. Use the browsers 'back' button to navigate back
5. See error in 'started' column

### Expected behavior & Actual behavior

Expecting datetimes to be displayed, instead

[2022-09-26 15:27] rajaravivarma-r commented on #1231
I'm using `gem 'avo', '= 2.15.3.pre.1.data.attrs.to.sidebar.items'`. Here is the recording.

https://user-images.githubusercontent.com/1841235/192317469-c13d067a-c17f-4f04-823d-e2b1f1c8ef52.mp4

[2022-09-26 15:34] adrianthedev commented on #1231
That is definitely a bug. Are you doing anything to block cookies? We keep the last used setting in cookies.

[2022-09-26 15:35] adrianthedev commented on #1231
Also, can you search the DOM for `data-sidebar-open-value` and let me know what value are you getting?

[2022-09-27 09:32] #968 closed

[2022-09-27 10:24] rajaravivarma-r commented on #1231
Here are the values for `data-sidebar-open-value` and `avo.sidebar.open` in cookie.
![Screenshot 2022-09-27 at 3 48 44 PM](https://user-images.githubusercontent.com/1841235/192501400-0d258094-7480-460a-8ab8-e1f902364649.png)
![Screenshot 2022-09-27 at 3 49 45 PM](https://user-images.githubusercontent.com/1841235/192501409-0e1673ff-1aa4-48aa-97ef-30fd5908062e.png)

[2022-09-27 20:36] alansikora commented on #1245
Ok, and is it possible to have an action that runs on the entire table?

This is somewhat related to #1248

[2022-09-27 20:37] alansikora commented on #1247
Is it possible to have a rough estimate on when we going to have this?

[2022-09-27 20:37] alansikora commented on #1246
Alright, I will take a look and reopen the issue if needed!

[2022-09-27 20:37] #1246 closed

[2022-09-27 20:46] alansikora opened #1258 "Edit page hangs when deployed but works fine locally"
### Describe the bug
When editing a specific resource, the page hangs when deployed, but works perfectly fine locally.

### Steps to Reproduce
Deploy the app, edit the resource.

### Models and resource files
[code]

[code]

### System configuration
**Avo version**: 2.15.3

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type**:

 - [ ] Community
 - [x] Pro

### Screenshots
https://

[2022-09-27 20:53] alansikora opened #1259 "When editing a resource on a deployed env, the list does not update"
### Describe the bug
When editing a resource on a deployed env, the list does not update.

### Steps to Reproduce
Edit a resource, list the resource.

### Models and resource files
[code]

[code]

### System configuration
**Avo version**: 2.15.3

**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2

**License type**:

 - [ ] Community
 - [x] Pro

### Screenshots

https://user-images.githubuserconte

[2022-09-27 20:53] adrianthedev commented on #1258
I suspect the searchable belongs_to to be the culprit again. Can you check and see that the license and lincese key are properly set in the production env?

Go to /avo/avo_private/debug and check the license.

[2022-09-27 20:58] adrianthedev commented on #1247
Probably in a few weeks (6-8 weeks). We're trying to finish some work we already started working on.

[2022-09-27 21:00] adrianthedev commented on #1259
Try and turn off the [index caching](https://docs.avohq.io/2.0/customization.html#cache-resources-on-the-index-view).

[2022-09-27 21:02] adrianthedev commented on #1247
We are open to receiving PRs with this feature if you want to take a shot. I'm happy to help you navigate the codebase.

[2022-09-27 21:04] alansikora commented on #1247
Nice! I'd be very happy to help, but I've been quite busy lately. I will definitely try.

[2022-09-27 21:04] adrianthedev commented on #1255
We should probably check to see if it responds to `to_sql`. I can't test it locally. Can you share a PR when you've got some time? I think `return if @query.all.respond_to?(:to_sql).nil?` in `app/components/avo/index/resource_table_component.rb` should fix it.

[2022-09-27 21:09] alansikora commented on #1258
For some reason the client still did not purchase it. I'm sorry about that, I thought it was all good.

Just asked him to make sure to purchase it ASAP.

[2022-09-27 21:09] #1258 closed

[2022-09-27 21:13] adrianthedev commented on #1258
No worries. The way I always looked at it is that the developer would purchase the license and transfer/bill it to the customer. But that works too ✌️

[2022-09-27 21:14] alansikora commented on #1259
It works when disabling index caching. Is it a bug?

[2022-09-27 22:08] adrianthedev commented on #1231
This is weird. It should stay open. Have you overridden the `application.html` layout? There should be something like `<div data-sidebar-target="mainArea" class="content-area flex-1 flex pt-16 relative <%= 'sidebar-open' if @sidebar_open %>">` that I don't see in your markup.

[2022-09-27 22:35] #1250 closed

[2022-09-27 22:43] #1256 closed

[2022-09-27 22:54] adrianthedev commented on #1259
Does your model have the `updated_at` column? If not, then the `cache` helper in Rails might not know when to bust the cache.

[2022-09-28 07:29] adrianthedev commented on #1219
Done [here](https://docs.avohq.io/2.0/installation.html#install-from-github)

[2022-09-28 07:29] #1219 closed

[2022-09-28 08:49] #1085 closed

[2022-09-28 10:09] #1192 closed

[2022-09-28 10:10] adrianthedev commented on #1184
Fixed by https://github.com/avo-hq/avo/pull/1211

[2022-09-28 10:10] #1184 closed

[2022-09-28 10:20] iainbeeston commented on #1250
@adrianthedev This has fixed the immediate issue but now I'm finding something strange, and I'm not sure if it is related or a new issue. When I view a recursive resource, the `has_many :children` field always shows the children of the "via" resource (ie the parent) not the model I'm currently looking at. You can see that in the [sample app](https://github.com/iainbeeston/avo-recursive-resources)

[2022-09-28 10:22] iainbeeston commented on #1250
You can see what I mean in this video (note that if there is a "via" resource parameter the has-many field does not change, but if I click back up to the index view and click in again, it does change)

https://user-images.githubusercontent.com/111963/192755203-bfdf1012-b8e1-456b-a3a1-b5fde7e54318.mov

[2022-09-28 10:52] rajaravivarma-r commented on #1231
No, we haven't overridden `application.html`. We have overridden the `_header.html` and `_head.html` though.

This is the log of the request.
[code]

[2022-09-28 10:57] rajaravivarma-r commented on #1231
Actually, I can see div,
![Screenshot 2022-09-28 at 4 27 08 PM](https://user-images.githubusercontent.com/1841235/192762094-39298843-338d-4749-bfcf-99d42704d36f.png)

[2022-09-28 12:12] rajaravivarma-r commented on #1231
This is how I specify the gem `gem 'avo', '= 2.15.3.pre.1.data.attrs.to.sidebar.items'` in the Gemfile.

I'll create a demo repo, for this issue, so that the debugging is efficient. What do you think?

[2022-09-28 12:14] adrianthedev commented on #1231
could you try the latest version 2.16? That should have the data-attributes feature.

[2022-09-28 14:21] rajaravivarma-r commented on #1231
It must be something with our app, because I created a demo app where it works fine.

[2022-09-28 14:24] adrianthedev commented on #1231
Yeah. Try and clear your cookies for your app and check the JS console for errors. Happy to help getting to the bottom of this.

[2022-09-28 14:29] rajaravivarma-r commented on #1231
I figured the problem, we are importing tailwind css in application.scss, and it causes the issue.
application.scss
[code]
package.json
[code]
If I remove those imports, then the sidebar works as expected. Any idea, how we can keep fix the sidebar, while keeping the imports.

[2022-09-28 16:51] tiffanynk opened #1265 "Custom Resource Tool: Adding input wrapper styles"
### Feature
Add styles to generated custom resource tool for input wrappers like the existing `input_classes`. This would take care of spacing and alignment out of the box and it would match the main panel for a resource.

![main panel for resource](https://user-images.githubusercontent.com/63679192/192840913-f4e4ed84-72ed-417c-8ca3-296bc326365d.png)

### Current workarounds
I was able to inspect

[2022-09-28 21:32] adrianthedev commented on #1250
Ok. I see it. looking into it.

[2022-09-28 21:46] adrianthedev commented on #1231
Hmmm... can you add that to your reproduction app and let me have a go? I can't say for sure off the top of my head.

[2022-09-28 22:14] adrianthedev commented on #1250
@iainbeeston please try the `main` branch. I think I fixed it. There's a recording on the PR 👆

[2022-09-28 22:14] adrianthedev commented on #1259
Closing for now. Feel free to reopen.

[2022-09-28 22:14] #1259 closed

[2022-09-28 22:18] adrianthedev commented on #1265
can you try out the `PanelComponent`? [Here](https://docs.avohq.io/2.0/native-components/avo-panel-component.html) are the docs for it and [one](https://github.com/avo-hq/avodemo/blob/main/app/views/avo/tools/custom_page.html.erb), [two](https://github.com/avo-hq/avodemo/blob/main/app/views/avo/resource_tools/_fish_information.html.erb) examples of usage.

Please let me know if this fixes the issu

[2022-09-29 00:31] tiffanynk commented on #1265
@adrianthedev I am actually using the `PanelComponent`, and the code snippet above is what I nested inside the form that I had copied from the `_fish_information.html.erb` - which just looks like this:

![Screen Shot 2022-09-28 at 5 27 52 PM](https://user-images.githubusercontent.com/63679192/192911855-238638be-be8a-40d2-9b15-4e5f78c876bc.png)

I wanted to keep the default theming that comes with

[2022-09-29 05:29] rajaravivarma-r commented on #1231
Sure. I'll do that.

[2022-09-29 09:32] iainbeeston commented on #1250
@adrianthedev That works perfectly, thank you! 🙇

[2022-09-29 09:32] adrianthedev commented on #1265
You're right! #1128 should expose those fields in a much nicer way.
Please go ahead and create the form unstyled and I'll make sure they are ready for production in the next release.
I'll have a pre-release for you to try out today.

[2022-09-29 09:33] adrianthedev commented on #1250
Anytime man! Thanks for the help with the reproducible repo and for being an awesome community member. I love your "let's get sh*t done" attitude.

[2022-09-29 10:09] adrianthedev commented on #1265
Hey @tiffanynk. Please try out [`2.16.1.pre.1.nativefields`](https://rubygems.org/gems/avo/versions/2.16.1.pre.1.nativefields) and let me know how that goes.
Check out [this](https://github.com/avo-hq/avo/pull/1138/files#diff-b618e6775e9b8655b6fcfdec518b6449164c10db11d4be8b46f87b05bdb8e032R1) sample on how I use it.

The API is still not final, but should get you a long way.

[2022-09-29 10:24] iainbeeston commented on #1250
Sorry I can’t help more! I’d love to make pull requests but I don’t always understand what the code is doing (I’m not sure I can explain why that is!)

[2022-09-29 15:54] iainbeeston opened #1268 "Use a background behind uploaded images"
### Feature

I have a lot of images that are white with a transparent background. Unfortunately because the page background in avo is white, these are invisible once uploaded.

### Current workarounds

?

### Screenshots

![Screenshot 2022-09-29 at 16 49 16](https://user-images.githubusercontent.com/111963/193078818-99795556-80c1-4595-b819-64c15376b3c2.jpg)
![Screenshot 2022-09-29 at 16 49 27](htt

[2022-09-29 16:33] tiffanynk commented on #1265
That works out, thanks for pointing me the this direction!

[2022-09-29 16:33] #1265 closed

[2022-09-29 20:49] rajaravivarma-r commented on #1231
Hey @adrianthedev, I've put the repo here https://github.com/rajaravivarma-r/avo-demo. I can reproduce the issue here. Please take a look.

[2022-09-30 02:11] msmiller opened #1270 "Locking gem to view-component 2.6 is blocking newer release from being bundled"
### Describe the bug

I'm trying to add Avo to an existing project which is running view-component v2.71.0. Problem is the current Avo is locked on view-component 2.6. Which means the best version of Avo that will run is 2.11. Sadly, that has the "Warning: You license is invalid ..." thing on all resource editors, making Avo essentially unusable for production. This issue doesn't happen with the c

[2022-09-30 02:20] tiffanynk opened #1271 "Prevent closing a standalone action if validation fails"
### Feature
Instead of closing the action modal and then rendering an error, leave the modal open with the user's inputs and render the error toast notification.

### Current workarounds
Just warning the user in the `message` to fill out all required fields

### Screenshots

![avo-action](https://user-images.githubusercontent.com/63679192/193176216-72cafdbd-0616-40f8-96d4-ebb0e295ea4b.gif)

[2022-09-30 08:44] adrianthedev commented on #1265
Cool. Please send any feedback or ideas [here](https://github.com/avo-hq/avo/discussions/1273). Thank you!

[2022-09-30 08:46] adrianthedev commented on #1270
Got it. I'll release the view component dependency. There was an issue at one point with one version of view component.

[2022-09-30 09:07] adrianthedev commented on #1231
Hey @rajaravivarma-r. The issue is that your styles are being loaded after Avo's. Here's the resolve:

- run `rails g avo:eject :pre_head`. This will add a new partial similar to `_head.html.erb`
- move your custom assets from `_head` to `_pre_head`
- 🙌 done!

[2022-09-30 09:30] rajaravivarma-r commented on #1231
Woah! That was quick. I'll try and let you know.

[2022-09-30 10:54] adrianthedev commented on #1231
The culprit was that the app was loading your styles last (in the `_head` partial), thus, overriding all the previous styles.

The order in which Avo loads the partials and asset files is this one:

1. `_pre_head.html.erb`
2. Avo's CSS and JS assets
3. `_head.html.erb`

So we just moved your styles before Avo's and now they are now being overridden.

The way I debugged it was to load up the app in

[2022-09-30 10:54] adrianthedev commented on #1231
Closing for now.

[2022-09-30 10:54] #1231 closed

[2022-09-30 11:34] rajaravivarma-r commented on #1231
Oh, cool. Thanks for the fix and the details.

[2022-09-30 14:20] adrianthedev commented on #1268
@iainbeeston can you give https://github.com/avo-hq/avo/pull/1274 a try? In the PR I also added an example on how to add the background image to a grid item.

[2022-09-30 17:14] iainbeeston opened #1275 "Change page shown after create, update and cancel"
### Feature
I have some nested resources, eg A has many B. If I navigate to B through A, then after updating B I get redirected back to A (as that is the via_resource). That sounds fine but the has many B field is actually in a tab, and so if I want to get back to the resource I just updated I need to navigate to the right tab and then find the right B in the has_many field. It can be quite slow.

[2022-09-30 17:30] iainbeeston commented on #1210
I've just realised that this is more of a problem than I had thought - it makes it very difficult to use avo directly from GitHub (for example, to use the latest main version) on a server (to do that you'd have to add an extra build step to run `bin/rails avo:build-assets`)

[2022-09-30 17:49] adrianthedev commented on #1210
Yes. I kinda wanted users not to use it directly from github, but from rubygems and I didn't automate that. But still, people will use it however they want to.

You can automate that on the server using this hook.

https://github.com/avo-hq/avodemo/blob/main/Rakefile

[2022-09-30 20:45] #1268 closed

[2022-09-30 20:46] #1243 closed

[2022-10-01 02:18] MrJoy opened #1278 "Avo's Rails dependency is overly broad."
### Context

I would like to re-raise the issue of Avo dependencies first brought up in #540.

To answer the question you asked and didn't get a response to:

What you would want to do is remove `spec.add_dependency "rails"...` and instead add `spec.add_dependency "activerecord" ...`, etc.

For situations where a single feature (or a small number of features) depends on components of Rails, you co

[2022-10-01 02:45] MrJoy opened #1279 "Suggested alternative approach to license management."
### Context

Looking at the Avo code, it looks like Avo phones home periodically to check its license.  Fundamentally, that means that (assuming I get a Pro license) the uptime of my admin system is dependent upon your license server's uptime.

That is something of a deal-breaker for my current organization, unfortunately.

I'd suggest you try the strategy Mike Perham uses with Sidekiq Pro:  Run a

[2022-10-01 08:37] adrianthedev commented on #1279
Hey @mrjoy, thanks for writing!

I understand this is a concern and I'm constantly thinking on how to improve this process.
I know this isn't ideal but I chose to have a "less than ideal" distribution strategy in order to deliver more functionality to the users and validate the need for this project.

I see now that there is a need and I can go back to these features/mechanisms that I made as a "f

[2022-10-01 08:41] adrianthedev commented on #1278
I see what you mean and understand your concern in the long run. I'll make sure we trim the dependencies in the next couple of releases.

Thanks for raising this issue.

[2022-10-01 09:03] adrianthedev commented on #1278
Hey @MrJoy, maybe you could help.

After a preliminary scan, I think Avo needs only these railties for the base scenario.

[code]

How would I go to install only those? As far as I can see, when trying to install a "barebones" rails app (`rails new barebones --skip-action-mailer --skip-action-mailbox --skip-action-text --skip-active-record --skip-active-job --skip-active-storage --skip-action-cabl

[2022-10-01 09:04] adrianthedev commented on #1278
To make it clear, the dependency I'm missing is `action_controller`.

[2022-10-01 09:05] adrianthedev commented on #1278
Got it. `actionpack` is what I need. I'll keep you posted.

[2022-10-01 10:53] adrianthedev commented on #1271
@tiffanynk can you share the logic of the action (just the basic logic)? How is the validation failing?

[2022-10-02 22:06] MrJoy commented on #1279
There's the base SideKiq gem, and the there's the Pro and Enterprise gems.  You install the base gem in all cases, and the Pro / Enterprise gem as appropriate to your license.  They layer the additional functionality on top of the base SideKiq gem using whatever hooks/mechanisms it provides.

[2022-10-02 22:10] MrJoy commented on #1278
It looks like you'll also need a little conditional code here and there.  In particular, I was getting some errors related to `ActiveStorage` in `Avo::App#init`.  Not fatal, because you already guard that code, but it would be a bit cleaner to have an `if defined?(ActiveStorage)` check in there.

In our Gemfile, we manage the dependencies like so:

[code]

[2022-10-02 22:14] MrJoy commented on #1279
Whoops, I'm wrong.  It looks like you just load the pro or enterprise gem as needed instead of loading the base one.  Not sure where I got the idea both were used.

[2022-10-02 22:14] MrJoy commented on #1279
Ah!  I see.  `sidekiq-pro` explicitly depends on `sidekiq`, which is why I commented out my `gem "sidekiq"` statement.  So I was right the first time that the Pro / Enteprise gems builds on top of the base one.

[2022-10-03 12:55] adrianthedev commented on #1279
Yes, so the licensing happens on bundle-time by actually giving you the gem if the license is valid and not giving the gem if the license is invalid.
So there are two different gems `sidekiq` and `sidekiq-pro`.

We don't yet have this in place right now. We're focusing more on building the features you need.

We plan on breaking things apart in the near future.

Regarding the licensing server upti

[2022-10-03 13:14] #1128 closed

[2022-10-03 16:52] nicholaswellens commented on #1254
@Paul-Bob @adrianthedev I have an issue that seems related: it does not seem possible to configure the visibility of seperate action buttons (so defined in `self.show_controls` instead of just existing in the `actions_list`, as shown in [this video](https://www.youtube.com/watch?v=qUvMh7AkrlU&t=320s&ab_channel=Avo)). In other words: `self.visible` action attribute does not work with `self.show_con

[2022-10-03 17:32] Paul-Bob commented on #1254
Hello @nicholaswellens. If i understand you have a visibility option on your action to hide it on show and it appear on show because you put it inside `show_controls` ? If that's the case I think we are not facing an issue, you are just overriding the visibility by telling Avo you want that action o `show_controls`

[2022-10-04 10:47] nicholaswellens commented on #1254
@Paul-Bob that was exactly my issue! Thank you for the solution/explanation, it indeed makes sense to use the conditionals within the `show_controls` block in this case!

[2022-10-04 12:54] adrianthedev commented on #1126
Hey @OlexYakov. The native fields feature is up on `main`. I also published the [docs](https://docs.avohq.io/2.0/native-field-components.html) on this.
I'd love to get your feedback on them.

[2022-10-04 15:25] bear-in-mind opened #1283 "Wrong policy is applied in AssociationsController"
FYI I just noticed that in 'has_many' frames, some resources wouldn't show up.

After digging a little, it turns out that Avo would keep using the `parent_resource` policy scope instead of the policy of the actual resource, and thus disregard any custom policy present in the current resource.

I already solved the bug, but am working on a batch of fixes related to `use_resource` options. Will push

[2022-10-04 15:35] adrianthedev commented on #1283
Got it. Thanks for reporting and for the PR!

[2022-10-04 19:19] adrianthedev commented on #1279
Closing for now, but I'm open to alternatives. I want to make this a better experience all-round.

[2022-10-04 19:19] #1279 closed

[2022-10-04 19:21] adrianthedev commented on #1278
Hey @MrJoy, I posted [a comment](https://github.com/avo-hq/avo/pull/1280#issuecomment-1264322363) on the PR with the issue I'm running into at the moment. Maybe you have some idea on how to solve it.
I think it's pretty easy to replicate it on your local machine. `git clone` and `bundle install` should do it. Then run `rails server` to start the app and see the error.

[2022-10-04 20:00] Paul-Bob commented on #1254
@adrianthedev yes, I agree with separate blocks, that give to the developer more control of each part even if there is some duplicated code

[2022-10-05 03:39] coffenbacher opened #1284 "Multiple resources for one model not working as expected"
### Describe the bug

I am trying to create multiple resources for the same model class (essentially two views on the same model, to be used in different contexts), and instead of appearing as separate resources as expected, they are appearing as duplicates in the `all_resources` menu. I was trying to follow https://docs.avohq.io/2.0/resources.html#use-multiple-resources-for-the-same-model but it

[2022-10-05 08:35] adrianthedev commented on #1284
Yup @coffenbacher. Definitely a bug. Thanks for reporting. I'll have it fixed in the next release. Could you try out the [menu editor](https://docs.avohq.io/2.0/menu-editor.html) feature? Manually building the menu would enable you to go around this bug until the next release.

[2022-10-05 08:50] adrianthedev commented on #1284
BTW, thanks for the reproduction. It helped me pinpoint the issue really fast

[2022-10-05 08:57] #1284 closed

[2022-10-05 16:34] coffenbacher commented on #1284
Awesome, thanks for the quick fix, as always!!

[2022-10-05 16:40] tiffanynk commented on #1271
@adrianthedev - The validation fails because I wrote validators to ensure there's information in each field.

example:
[code]

In my action's `handle` function, I ensure that the validations don't fail before saving to the DB with an AR transaction:
[code]

I just want to leave the modal open so that users don't have re-type anything if the validation fails.

[2022-10-05 17:15] coffenbacher opened #1288 "Dynamic datetime field"
### Feature

Our clients/users all work and think in their own timezones, so an option to dynamically set the timezone of the datetime field based on a different value in the resource would be amazing.

So for example, we will constantly need to respond to things like "Hey, can you look at the event at 3pm and ...." or "I'm missing an event at 10am, can you see if you can find it?" and when we are

[2022-10-06 11:31] sarahlafer opened #1289 "Time field or `noCalendar` option for date_time"
### Context

Hi Avo team! 👋

We are creating an event resource on Avo with a field which should allow us to change the **time** of an event. For this we are using `as: :date_time` like in [this part](https://docs.avohq.io/2.0/fields/date_time.html) of the docs.
This gives us a flatpickr calendar with the date and time as well.

However, we would like to **not display the calendar** and only show t

[2022-10-06 11:41] adrianthedev commented on #1289
Hey @sarahlafer. Welcome 👋
Would you be comfortable opening a PR and creating a new type of field called `time`?
It would do essentially what you said, open up a flatpickr instance with only the time enabled.

I would start the PR by:

- adding a migration with a new field on a model (maybe `starting_at` on `Course`?)
- creating a new Avo field file like [this one](https://github.com/avo-hq/avo/bl

[2022-10-06 11:48] adrianthedev commented on #1288
Hey @coffenbacher. Avo should automatically read the browser's timezone and convert the value to that. There might be edge cases where that isn't working, so I see what you mean about a dynamic setting.

We have a `timezone` setting, but that's static, and doesn't take in a block.
Would you be comfortable with opening a PR and adding this feature? You can look at [this](https://github.com/avo-hq/a

[2022-10-06 11:55] sarahlafer commented on #1289
Hi @adrianthedev, thanks for the quick reply!

It would be great to contribute and add a `time` field! I'll look into it asap and let you know if I'm stuck :)

[2022-10-06 19:38] thiagovsk opened #1292 "Failed to use avo with rails 7 api mode"
### Context
Hi guys, I started to use avo today, I have a simple rails application with API mode and I tried to use avo, but I have a problem with rails assets:

[code]

### System configuration
**Avo version**:  2.16.0

**Rails version**: 7.0.4

**Ruby version**: 3.1.2

**License type** (Community or Pro): Community

### Steps to reproduce

rails new my_api --api
rails app:template LOCATION='http

[2022-10-06 19:49] adrianthedev commented on #1292
Hey @thiagovsk. Avo will probably not work in api_mode. It needs features like views and route helpers that api_mode strips away.
It's all documented [here](https://docs.avohq.io/2.0/recipes/api-only-app.html#use-avo-in-an-api-only-rails-app).
You are better off using Rails the regular way.

[2022-10-06 20:00] thiagovsk commented on #1292
@adrianthedev thanks for the explanation, I'll try to change my API rails app to a regular app

[2022-10-06 20:00] #1292 closed

[2022-10-07 06:23] adrianthedev commented on #1289
Awesome! 🏄‍♀️

[2022-10-07 06:26] adrianthedev commented on #1275
Hey Iain, I still haven't gotten to this issue yet. I see what you mean. You'd want the redirect mechanism to be ignored for that particular association, right?

I think we'd need a kind of mechanism where we tell it that on the association field.

`field :comments, as: :has_many, redirect: nil` (naming TBD)

[2022-10-07 06:28] adrianthedev commented on #1275
BTW, we're open for a contribution here. It will get a bit gnarly in some places with a lot of `if/else` statements. Maybe we could find a better way of abstracting the `if/else` statements.

[2022-10-07 06:29] adrianthedev commented on #1271
Ok. Got it. Thanks for the repro. We'll look into it to see how we could support this best.

[2022-10-07 08:15] #1217 closed

[2022-10-07 10:57] jmarsh24 opened #1294 "has_many through not working in Avo"
### Context
https://gist.github.com/jmarsh24/781b3575be52e841db4bcd1c57cc1c9e

Currently I have a has_many through association between theme, category resource, and theme_categories.

The association works in rails both ways, but only theme->categories but not category->themes.

Do you have any advice on what to do here to troubleshoot?

### System configuration
**Avo version**: 2.14.2

**Rails ve

[2022-10-07 10:59] adrianthedev commented on #1294
This is weird. I checked Avo source code, and it doesn't have a `raw?` method.
Can you check your source code and see if that could be the issue?

[2022-10-07 11:01] adrianthedev commented on #1294
Also, on what page are you getting that error?

[2022-10-07 11:01] adrianthedev commented on #1294
From the information provided, I can't see that `visible` block where you call the `raw?` method.

[2022-10-07 11:01] jmarsh24 commented on #1294
[code]

  I had this on an AnalyzeTheme < Avo::BaseAction which is causing the issue

[2022-10-07 11:03] adrianthedev commented on #1294
Ok. So the issue is in the action. Does it happen when you want to see the action (select a record from the index page and then open the action) or when you run it?

[2022-10-07 11:03] adrianthedev commented on #1294
Actually, can you make a screen recording on how that's happening?

[2022-10-07 11:04] jmarsh24 commented on #1294
The error occurs when I want to display the has_many records on the category. I’m not running any actions.

[2022-10-07 11:10] adrianthedev commented on #1294
ok. let me try and reproduce it

[2022-10-07 11:15] jmarsh24 commented on #1294
I think it's an issue on my end not with Avo. I was just puzzled by the error. When I remove the visible constraint it works ok.

[2022-10-07 11:17] adrianthedev commented on #1294
Yes. My guess is that's where the issue is. Are you using the action on multiple resources? If so, then some model `Category` does not have the `raw?` method.

[2022-10-07 21:01] adrianthedev commented on #1294
Not sure if you figured the issue with this, but closing for now. Feel free to reopen.

[2022-10-07 21:01] #1294 closed

[2022-10-07 21:05] adrianthedev commented on #1013
I think this is fixed on the show page with `show_controls`. [Docs](https://docs.avohq.io/2.0/customizable-controls.html)

[2022-10-07 21:05] #1013 closed

[2022-10-07 22:10] adrianthedev commented on #1249
I figured out why this is happening. It's because of https://github.com/avo-hq/avo/blob/main/lib/avo/dynamic_router.rb#L4.
I'm triggering a `Rails.application.eager_load!` so I'll have access to `BaseResource.descendants`. It seems that Rails doesn't load up all those resources we declare in the `app/avo/resources` and they are not available in `ObjectSpace`.

@dhnaranjo do you have any experience

[2022-10-08 20:04] dhnaranjo commented on #1249
Woof.

The recommendation in https://github.com/fxn/zeitwerk/issues/232#issuecomment-1272270538 does work. I'm working on making it a bit prettier.

[2022-10-09 07:50] adrianthedev commented on #1249
I think the best way to proceed with this is to apply some kind of monkey patch with the file-based solution you linked to and wait for zeitwerk's complete patch to bring it into Avo permanently.
WDYT?

Please share your solution when you have applied something that works.

[2022-10-09 11:11] Paul-Bob commented on #1245
Hey @alansikora, since Avo 2.14 we are able to select all records from the entire table (with the current filters applied), then if you run an action it will run on all that records.

![CleanShot 2022-08-23 at 13 09 57](https://user-images.githubusercontent.com/1334409/186132482-8a04d117-a097-4378-884f-5a2d35f4280f.gif)

[2022-10-09 14:45] #1245 closed

[2022-10-09 15:49] adrianthedev commented on #1245
Or the alternative is to create a [standalone action](https://docs.avohq.io/2.0/actions.html#standalone-actions), and you can run that on all records.

[2022-10-09 15:58] dhnaranjo commented on #1249
Aight here's this here: https://github.com/avo-hq/avo/pull/1297, but it doesn't actually fix the whole problem. Fewer objects are reloaded with the change, but I still think it's more than ought to. I'mma put together a lil test.

[2022-10-09 16:41] Paul-Bob commented on #1245
That's a possibility if you don't care about applied filters and just want to run the action on all records

[2022-10-09 17:03] #1194 closed

[2022-10-10 10:46] iainbeeston opened #1301 "Easy way to get routes in actions"
### Feature

It feels like many actions will need to redirect to another page in avo but it's not clear how to do it. The documentation has an example but the url is hard coded. Links to the main app are simpler (`main_app.routes.url_helpers.route_method`) but I'm not sure how to get an avo route. I think ideally avo route helpers would be available inside an action, like they are in a controller?

[2022-10-10 10:58] iainbeeston opened #1302 "Show actions outside the menu - alongside create and edit"
### Feature

As far as I can tell actions always have to appear inside the actions dropdown menu. Sometimes if there's a really commonly used action it would be great to be able to make it appear as a button like the standard avo CRUD actions.

### Current workarounds

Not that I'm aware of?

### Screenshots

### Additional context

[2022-10-10 12:26] adrianthedev commented on #1302
Hey @iainbeeston. For the Show view, you can [fully customize the controls](https://docs.avohq.io/2.0/customizable-controls.html#show-page).
Is this what you are looking for?

We haven't yet added all the other views because we wanted to see if it's something that customers really used.

[2022-10-10 12:50] adrianthedev commented on #1301
Avo is an engine, so all route helpers should be prepended with the engine name. Rails is an engine as well.
So for all routes that you have in your own app (`config/routes.rb`) you should add the `main_app` engine name.
For All Avo routes you should reference the `avo` helper.

Examples:

For your app:

 - `https://YOUR_APP.com/contact` -> `main_app.contact_path`
 - `https://YOUR_APP.com/orders/5

[2022-10-10 19:58] iainbeeston commented on #1301
Yes that’s very helpful, thank you! I’ve raised [this PR](https://github.com/avo-hq/vitepress-docs/pull/8) on the docs to show how to use the route helpers in actions.

[2022-10-10 19:58] #1301 closed

[2022-10-11 08:28] OlexYakov commented on #1126
Great! Will try them out as soon as possible!
Thanks @adrianthedev !

[2022-10-11 09:30] adrianthedev commented on #1301
🙌 Perfect. Thanks!

[2022-10-11 09:34] adrianthedev commented on #1302
The controls API is quite flexible to recreate the default layout and add your own actions.

Yeah, that could be a way too. I'm a bit worried about the complexity of it all. That would mean adding another way of doing the same thing.

[2022-10-11 09:39] adrianthedev commented on #1302
I'm going to be honest and say we're not going to support that in the near future.
I'm not saying that we won't in the future. We already have a way of supporting this use-case.

[2022-10-11 09:39] #1302 closed

[2022-10-11 11:10] iainbeeston commented on #1302
I think that's fair, I'll look into using the controls instead 👍

[2022-10-11 12:14] #1189 closed

[2022-10-12 01:02] MrJoy commented on #1278
Will take a look!

[2022-10-12 01:07] MrJoy commented on #1279
The server going down is not the only failure mode.

* Depending on how you're scheduling requests, a very slow response from the server could result in things backlogging.
* An unexpectedly large response from the server (say, due to a bug) could result in greater than expected resource usage.
* A bug that incorrectly results in a negative response from the server would impair our service.

It's

[2022-10-12 01:44] MrJoy commented on #1278
You're also going to have some issues with the environment configs, initializers, and boilerplate code in the dummy app.  E.G. mailer base class, asset configuration, etc.  For the most part you should be able to just strip that out and go.

I'm tracking down an issue with ActionMailer and Devise right now...

[2022-10-12 01:58] MrJoy commented on #1278
[code]

I think I'm past the point of code loading issues, and running into other issues that are unrelated such as this.  (Also, dummy app's schema.rb seems to be out of date.)

Will submit a PR to your PR.

[2022-10-12 02:03] MrJoy commented on #1278
Ah, schema.rb might be me.  I may have already had a `dummy` DB.

[2022-10-12 06:54] tersor commented on #1203
For anyone that uses [Vite Ruby](https://vite-ruby.netlify.app/), this fix applies to them too.

[2022-10-13 12:53] adrianthedev commented on #1279
Hey @MrJoy. The license-checking mechanism covers most of those cases, but I understand your concern.

If your organization requires special builds with the telemetry removed, we can cover that under a special license.

Please [get in touch](https://calendly.com/adrianthedev) with me over a video call to make that happen.

[2022-10-13 13:20] PedroAugustoRamalhoDuarte commented on #1216
Hello @adrianthedev , i get can this one, maybe we need some tool to keep translation updated, i was looking for this one: https://github.com/glebm/i18n-tasks, do you thinks is a good idea install as development dependency?

[2022-10-13 15:44] adrianthedev commented on #1216
Thank you @PedroAugustoRamalhoDuarte. Yes, let's install `i18n-tasks`. Looks like a pretty complete gem.
Can you do that in the same PR plase?

[2022-10-13 15:47] PedroAugustoRamalhoDuarte commented on #1216
Yes!!

[2022-10-13 21:40] MrJoy commented on #1279
@adrianthedev I appreciate the flexibility.  I'll proceed with our test spike (converting a subset of functionality from ActiveAdmin over to Avo), and if things line up well, I'll schedule that discussion.

[2022-10-14 04:12] #1226 closed

[2022-10-14 10:33] jmarsh24 opened #1313 "Acts_as_list resource controller override."
### Context
I'm using acts_as_list in my app and I'm trying to override the index method in avo so I don't have to use a default scope. For some reason this isn't working. What do I need to overrride to get change the order of the model?

[code]

### System configuration
**Avo version**: 2.17.0

**Rails version**: 7.0.4

**Ruby version**: 3.1.2

**License type**

 - [ ] Community
 - [x] Pro

**Are

[2022-10-14 10:39] adrianthedev commented on #1313
I think [`resolve_query_scope`](https://docs.avohq.io/2.0/customization.html#custom-query-scopes) is what you're looking for. This way you can access that scope and update it based on your needs.

There's [this way](https://docs.avohq.io/2.0/resources.html#unscoped-queries-on-index) of avoiding the default scope.

[2022-10-14 10:41] jmarsh24 commented on #1313
That worked. It might be nice to update the acts_as_list documentation with this information instead of using a default scope as this can cause some issues down the line as you start combining scopes.

[2022-10-14 20:51] adrianthedev opened #1314 "Add favicon to branding"

[2022-10-14 22:11] tiffanynk opened #1315 "Typo on Release Notes"
### Describe the bug
In the upgrade guide for [2.16 -> 2.17](https://docs.avohq.io/2.0/upgrade.html#upgrade-from-2-16-to-2-17), there is a typo with updating the custom field wrapper.

[code]

`field_wrapper_tags` should be `field_wrapper_args`. It would also be helpful to note that instead of `@field`, we will need to access the field with `field` only.

[2022-10-17 10:11] holden opened #1317 "adding index view scopes"
Forgive me if for some reason I overlooked this feature but it would be great to have scoped filters as buttons on the index view.

ActiveAdmin calls these index scopes https://activeadmin.info/3-index-pages.html, and it just makes it easier when you have an index with a lot of information on it to tab between "all, completed, upcoming, etc." I know you can accomplish this with filters on the righ

[2022-10-17 12:23] adrianthedev commented on #1315
Thank you. It's fixed now.

[2022-10-17 12:23] #1315 closed

[2022-10-17 14:37] adrianthedev opened #1318 "Add Scopes to the Index view"
We need a better way to scope down the data. Filters can achieve this behavior, but the experience is not as straightforward.

### Approach and requirements:

- [ ] the ability to use a simple Rails `scope`; `scope: :published`
- [ ] ability to customize the scope using a block; `scope: -> { query.where(something: true).from_supplier(:amazon) }
- [ ] add `visibility` option
- [ ] add options like

[2022-10-17 15:02] adrianthedev commented on #1317
Hey @holden. That's definitely a useful feature. Thank you for writing.

I added [it](https://github.com/avo-hq/avo/issues/1318) to [the roadmap](https://github.com/orgs/avo-hq/projects/3/views/1).
I don't yet have a more exact time when we'll release this. We're already designing Avo v3.0, and we might add it then.

[2022-10-17 15:02] #1317 closed

[2022-10-17 15:24] adrianthedev commented on #1313
[Done](https://docs.avohq.io/2.0/records-reordering.html)! Thanks!

[2022-10-17 15:24] #1313 closed

[2022-10-18 08:27] adrianthedev opened #1321 "Calendar view"
### Feature

On the `Index` page, give the user the ability to display the data in a calendar view.

### Current workarounds

### Screenshots or screen recordings

### Additional context

[2022-10-18 09:06] #1270 closed

[2022-10-18 09:08] adrianthedev opened #1322 "Record versioning"
### Context

Enable the developer to see/manage multiple versions of the same record.

[2022-10-18 09:10] adrianthedev opened #1323 "Multilingual content"
### Feature

We need a nice way of updating a record in multiple languages.

[2022-10-18 10:07] adrianthedev opened #1325 "Plugin system"
### Feature

The feature should allow developers to create and distribute plugins for Avo.

- [ ] The plugins should be standalone gems and distributable through RubyGems or a similar network.
- [ ] The plugins can be free or paid.
- [ ] The paid plugins can use Avo's license-checking mechanism.

### Plugin types

 - [ ] fields
 - [ ] themes
 - [ ] index view types
 - [ ] filters
 - [ ] actions
 -

[2022-10-18 14:47] mighani opened #1326 "Panels and Tabs on a Resource View overlap"
I have this code in my resource file:

[code]

On the rendered page the panel overlaps the next one, if the field list is longer than the panel height:

![Image 2022-10-18 at 4 38 24 PM](https://user-images.githubusercontent.com/782174/196463332-2030d0fe-853f-4b45-8564-a279595f1947.jpg)

Am I missing something?

[2022-10-18 18:47] adrianthedev commented on #1326
What Avo version are you using?

[2022-10-18 20:39] adrianthedev opened #1328 "Audit logging"
### Feature

Know who did what in Avo.

### Approach

This feature should:

 - [x] record which user edited a record and which fields he updated
 - [x] record when a user runs an action on which record and with which field values
 - [x] display these changes in a separate view (maybe as associations?) (maybe a new timeline view?)
 - [x] enable the user to rollback the record changes (not action ch

[2022-10-18 20:40] adrianthedev opened #1329 "Whitelabeling"
### Feature

Use Avo as a whitelabel solution.

[2022-10-19 07:01] mighani commented on #1326
sorry,  v2.16.0

[2022-10-19 07:02] adrianthedev commented on #1326
Can you try `2.17.0`? We pushed [this fix](https://github.com/avo-hq/avo/pull/1299).

[2022-10-19 07:03] adrianthedev commented on #1326
Closing for now. Feel free to reopen if it's still broken.

[2022-10-19 07:03] #1326 closed

[2022-10-19 07:24] mighani commented on #1326
Thanks!! It was resolved in 2.17.0

[2022-10-19 09:09] iainbeeston opened #1330 "Can’t change the label of actions menu"
### Describe the bug

I’d like to change the label of the actions drop-down menu, when using show_controls. I’d like to have different action menus with different labels for different kinds of actions. The documentation says that the action menu accepts label and title options but neither of these seem to work for me.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Add this code to a r

[2022-10-19 09:14] adrianthedev commented on #1330
Hmmm, yes. It seems that the value is [hardcoded](https://github.com/avo-hq/avo/blob/main/app/components/avo/actions_component.html.erb#L14). Are you participating in [hacktoberfest](https://hacktoberfest.com/)? Are you available for a PR?
If not, maybe I can have a look towards the end of the week.

[2022-10-19 09:17] elassadi opened #1331 "search input got rendered multiple time"
### Describe the bug

Search input are wrongly rendered multiple times after you hit the browser back button.

<img width="890" alt="image" src="https://user-images.githubusercontent.com/1938264/196647178-37b7a954-09f5-426f-ace9-f428414c85f5.png">

### Steps to Reproduce
![avo-search-input-bug](https://user-images.githubusercontent.com/1938264/196648595-31fb884d-b717-433e-b4e8-80447c3a5c80.gif)

S